force-app/main/default/flows/B2B_Request_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignCartId</name>
        <label>AssignCartId</label>
        <locationX>303</locationX>
        <locationY>224</locationY>
        <assignmentItems>
            <assignToReference>varCartID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCart.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetCartItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignQuoteLines</name>
        <label>AssignQuoteLines</label>
        <locationX>668</locationX>
        <locationY>612</locationY>
        <assignmentItems>
            <assignToReference>varQuoteLines.SBQQ__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCartLines.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLines.SBQQ__ListPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCartLines.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLines.SBQQ__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCartLines.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLines.SBQQ__NetPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCartLines.SalesPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteLines.SBQQ__Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateQuote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QuoteLinesToCreateAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QuoteLinesToCreateAssignment</name>
        <label>QuoteLinesToCreateAssignment</label>
        <locationX>871</locationX>
        <locationY>604</locationY>
        <assignmentItems>
            <assignToReference>QuoteLinestoCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varQuoteLines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCartLines</targetReference>
        </connector>
    </assignments>
    <description>B2B Commerce Lightning Communities - Request for Quote with CPQ Flow (for LWR cart page)</description>
    <environments>Default</environments>
    <formulas>
        <name>Name</name>
        <dataType>String</dataType>
        <expression>&quot;Quote &quot; + {!CreateQuote}+ &quot; - &quot; + {!GetCart.Contact__r.Name} + &quot; (&quot; + {!GetCart.Contact__r.Account.Name} +&quot;)&quot;</expression>
    </formulas>
    <interviewLabel>B2B_Request_Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Request for Quote</label>
    <loops>
        <name>LoopCartLines</name>
        <label>LoopCartLines</label>
        <locationX>720</locationX>
        <locationY>400</locationY>
        <collectionReference>GetCartItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignQuoteLines</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateQuoteLines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateQuote</name>
        <label>CreateQuote</label>
        <locationX>556</locationX>
        <locationY>405</locationY>
        <connector>
            <targetReference>LoopCartLines</targetReference>
        </connector>
        <inputAssignments>
            <field>SBQQ__Account__c</field>
            <value>
                <elementReference>GetCart.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ExpirationDate__c</field>
            <value>
                <elementReference>Quote_Needed_By</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PrimaryContact__c</field>
            <value>
                <elementReference>GetCart.Owner:User.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SubscriptionTerm__c</field>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateQuoteLines</name>
        <label>CreateQuoteLines</label>
        <locationX>929</locationX>
        <locationY>396</locationY>
        <connector>
            <targetReference>UpdateCart</targetReference>
        </connector>
        <inputReference>QuoteLinestoCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetCart</name>
        <label>GetCart</label>
        <locationX>165</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignCartId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsSecondary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WebCart</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCartItems</name>
        <label>GetCartItems</label>
        <locationX>162</locationX>
        <locationY>407</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CartId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCartID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CartItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCart</name>
        <label>UpdateCart</label>
        <locationX>1098</locationX>
        <locationY>391</locationY>
        <connector>
            <targetReference>Quote_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCart.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>CreateQuote</elementReference>
            </value>
        </inputAssignments>
        <object>WebCart</object>
    </recordUpdates>
    <screens>
        <name>Quote_Created</name>
        <label>Quote Created</label>
        <locationX>1294</locationX>
        <locationY>381</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>QuoteFinal</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Thank You! Your Quote has been created!!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!Name}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;A Sales Representative will be in within the next business day!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Quote_Information</name>
        <label>Quote Information</label>
        <locationX>365</locationX>
        <locationY>403</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateQuote</targetReference>
        </connector>
        <fields>
            <name>Quote_Needed_By</name>
            <dataType>Date</dataType>
            <fieldText>Quote Needed By</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reason_for_Quote</name>
            <fieldText>Reason for Quote</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetCart</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>QuoteLinestoCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>varCartID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQuoteLines</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
</Flow>
