force-app/main/default/flows/InviteContactToReorder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls an action that sends the contact that’s passed into the flow an invitation to the reorder portal that the flow user selected in ReviewInviteDetailsScreen.</description>
        <name>InviteContactToReorderPortal</name>
        <label>Invite Contact to Reorder Portal</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>inviteToReorderPortal</actionName>
        <actionType>inviteToReorderPortal</actionType>
        <connector>
            <targetReference>SendInvitationEmail</targetReference>
        </connector>
        <faultConnector>
            <targetReference>DisplayFailureMessage</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>webStoreId</name>
            <value>
                <elementReference>webStoreId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactIds</name>
            <value>
                <elementReference>ContactToInviteCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>doesPriceConfiguration</name>
            <value>
                <elementReference>doesPriceConfiguration</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>doesSendInvitationEmail</name>
            <value>
                <elementReference>doesSendInvitationEmail</elementReference>
            </value>
        </inputParameters>
        <nameSegment>inviteToReorderPortal</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Adds the ID of the contact that&apos;s passed into the flow to ContactToInviteCollection.</description>
        <name>AddSelectedContactToCollection</name>
        <label>Add Selected Contact to Collection</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ContactToInviteCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>whoId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InviteContactToReorderPortal</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ReorderPortalInvitationEmailTemplate</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CommerceReorderPortalInvitation</stringValue>
        </value>
    </constants>
    <description>Allows the flow user to send an invitation to a contact for a selected reorder portal as part of a quick cadence.</description>
    <environments>Default</environments>
    <interviewLabel>Email Invitation to Reorder Portal for Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Invitation to Reorder Portal for Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>ActionCadenceStepFlow</processType>
    <screens>
        <description>Display ErrorMessageDisplayText to the flow user.</description>
        <name>DisplayFailureMessage</name>
        <label>Display Failure Message</label>
        <locationX>440</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorDisplayImage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>/projRes/commerce-internal-integration-impl/reorder_action_error_image.png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>Error symbol</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageCSS</name>
                <value>
                    <stringValue>padding-bottom:30px;padding-top:30px;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>180</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ErrorMessageDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Something went wrong. &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Display SuccessMessageDisplayText to the flow user.</description>
        <name>DisplayResults</name>
        <label>Display Results</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessDisplayImage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>/projRes/commerce-internal-integration-impl/reorder_action_success_image.png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>Happy Astro</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageCSS</name>
                <value>
                    <stringValue>padding-bottom:20px;padding-top:20px;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>200</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SuccessMessageDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 24px;&quot;&gt;Invite sent!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;We&apos;ve sent {!contactName} a welcome email from the {!webStoreName} site.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Allows the flow user to review pricing and select the reorder portal to invite the contact to.</description>
        <name>ReviewInviteDetailsScreen</name>
        <label>Review Invite Details</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AddSelectedContactToCollection</targetReference>
        </connector>
        <fields>
            <name>InviteContact</name>
            <extensionName>commerce_reorder_portal:inviteContact</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contactId</name>
                <value>
                    <elementReference>whoId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contactName</assignToReference>
                <name>contactName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>doesPriceConfiguration</assignToReference>
                <name>doesPricingConfiguration</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>webStoreId</assignToReference>
                <name>webStoreId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>webStoreName</assignToReference>
                <name>webStoreName</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Invite</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Allows the flow user  to compose the invitation email and send it to the contact.</description>
        <name>SendInvitationEmail</name>
        <label>Send Invitation Email</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DisplayResults</targetReference>
        </connector>
        <fields>
            <name>SendInvitationEmailComponent</name>
            <extensionName>commerce_reorder_portal:sendContactEmail</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contactId</name>
                <value>
                    <elementReference>whoId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>emailTemplateName</name>
                <value>
                    <elementReference>ReorderPortalInvitationEmailTemplate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>webStoreId</name>
                <value>
                    <elementReference>webStoreId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>userId</name>
                <value>
                    <elementReference>InviteContactToReorderPortal.userId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isNewUser</name>
                <value>
                    <elementReference>InviteContactToReorderPortal.isNewUser</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ReviewInviteDetailsScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Required by Cadence Step Flow. Stores the ID of the action cadence step tracker that’s passed into the flow. This variable passes its original value as output from the flow. It can be used to look up the related action cadence record.</description>
        <name>actionCadenceStepTrackerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the name of the contact that’s passed into the flow.</description>
        <name>contactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the contact that’s passed into the flow for use in InviteContactToReorderPortal.</description>
        <name>ContactToInviteCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Indicates whether the action configures default pricing based on the price of products purchased in the past year for the accounts associated with the specified buyers on the specified reorder portal.</description>
        <name>doesPriceConfiguration</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>doesSendInvitationEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Stores the ID of the WebStore that the flow user selected in ReviewInviteDetailsScreen.</description>
        <name>webStoreId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the name of the WebStore that the flow user selected in ReviewInviteDetailsScreen.</description>
        <name>webStoreName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the related record that’s passed into the flow.</description>
        <name>whatId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the contact that&apos;s passed into the flow and is available for input and output from the flow.</description>
        <name>whoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
