force-app/main/default/flows/SDO_Service_Send_Message.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Message</name>
        <label>Send Message</label>
        <locationX>50</locationX>
        <locationY>614</locationY>
        <actionName>liveMessageNotification</actionName>
        <actionType>liveMessageNotification</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>ContextRecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelDeveloperName</name>
            <value>
                <elementReference>MessagingChannelDeveloperName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateDeveloperName</name>
            <value>
                <elementReference>TemplateToUse</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientPhone</name>
            <value>
                <elementReference>NumberToSendTo</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientRecordId</name>
            <value>
                <elementReference>RecordToAssociateTo</elementReference>
            </value>
        </inputParameters>
        <nameSegment>liveMessageNotification</nameSegment>
        <outputParameters>
            <assignToReference>SendMessageContent</assignToReference>
            <name>message</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_Channel</name>
        <label>Check Channel</label>
        <locationX>314</locationX>
        <locationY>494</locationY>
        <defaultConnectorLabel>No Active Text Channel</defaultConnectorLabel>
        <rules>
            <name>Found_Channel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MessagingChannelDeveloperName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NumberToSendTo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Message</targetReference>
            </connector>
            <label>Found Active Channel</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Channel_Input</name>
        <label>Check Channel Input</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Get_Messaging_Channel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Go Get Channel</defaultConnectorLabel>
        <rules>
            <name>Channel_Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MessagingChannelDeveloperName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Channel</targetReference>
            </connector>
            <label>Channel Passed</label>
        </rules>
    </decisions>
    <description>Sends a messaging using the active Text channel. 
Abstracted to it&apos;s own flow so that the parent flows can be saved/updated without throwing an error when Messaging is turned off.</description>
    <interviewLabel>SDO Service - Send Message {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDO Service - Send Message</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Messaging_Channel</name>
        <label>Get Messaging Channel</label>
        <locationX>402</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Channel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MessageType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Text</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>MessagingChannel</object>
        <outputAssignments>
            <assignToReference>MessagingChannelDeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Channel_Input</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContextRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MessagingChannelDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberToSendTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordToAssociateTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SendMessageContent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TemplateToUse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
