force-app/main/default/flows/SDO_PRM_Partner_Deal_Registration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Approval_Process</name>
        <label>Approval Process</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SDO_PRM_Lead_DealRegistration</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>CreatedLeadId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Complete</name>
        <label>Complete</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Approval_Process</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Woo hoo! Thanks for registering a new deal. </stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignRecipientList</name>
        <label>AssignRecipientList</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>RecipientIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0050P000008tGTw</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Complete</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Valid_Customer_Company_Email_Address</name>
        <label>Valid Customer Company Email Address</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Deal_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Authorized Email Address</defaultConnectorLabel>
        <rules>
            <name>Valid_Email_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Customer_Company_Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>gmail.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Review_Customer_Email_Address</targetReference>
            </connector>
            <label>Invalid Email Address</label>
        </rules>
    </decisions>
    <description>Created for Partner Deal Registration in the PRM</description>
    <dynamicChoiceSets>
        <name>Geography_Vals</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SDO_PRM_Region__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Product_Vals</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SDO_Sales_Product_Interest__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Service_Delivery_Vals</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SDO_PRM_Service_Delivery__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CurrentUserContactId</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <interviewLabel>SDO PRM Partner Deal Registration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDO PRM Partner Deal Registration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateLeadForDealRegistration</name>
        <label>CreateLeadForDealRegistration</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignRecordIdToReference>CreatedLeadId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Lead_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorMessage1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Mailing_Address.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Mailing_Address.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Additional_Info</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Customer_Company_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>ContactName.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>ContactName.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Mailing_Address.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Budget_Amount__c</field>
            <value>
                <elementReference>Budget_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>DealRegRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>Mailing_Address.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Mailing_Address.street</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Deal_Reg_Record_Type_ID</name>
        <label>Get Deal Reg Record Type ID</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateLeadForDealRegistration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead - Deal Registration</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>DealRegRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Record</name>
        <label>Get Lead Record</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignRecipientList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreatedLeadId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PartnerAccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Capture_Basic_Details</name>
        <label>Customer Details</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Valid_Customer_Company_Email_Address</targetReference>
        </connector>
        <fields>
            <name>Progress1</name>
            <extensionName>c:progressIndicator20180227</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>steps</name>
                <value>
                    <stringValue>Customer,Deal,Confirmation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Customer</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Capture_Basic_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Capture_Basic_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Company</name>
                    <dataType>String</dataType>
                    <fieldText>Customer Company Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ContactName</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Customer Contact Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>salutation</name>
                        <value>
                            <stringValue>Mr.</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ContactEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue> </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Customer Company Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Customer_Company_Email</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Capture_Basic_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Mailing_Address</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Customer Company Mailing Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <stringValue>United States</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Progress3</name>
            <extensionName>c:progressIndicator20180227</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>steps</name>
                <value>
                    <stringValue>Customer,Deal,Confirmation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Confirmation</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Confirmation1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;Thanks for registering a deal. Your channel manager will review it and get back to you soon.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Deal_Information</name>
        <label>Deal Information</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Deal_Reg_Record_Type_ID</targetReference>
        </connector>
        <fields>
            <name>Indicator2</name>
            <extensionName>c:progressIndicator20180227</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>steps</name>
                <value>
                    <stringValue>Customer,Deal,Confirmation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Deal</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Deal_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Deal_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Budget_Amount</name>
                    <dataType>Number</dataType>
                    <fieldText>Budget Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Expected_Closing_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Expected Closing Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Additional_Info</name>
                    <fieldText>Additional Info</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Deal_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Competitive</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Is this a competitive deal?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Competitor</name>
                    <dataType>String</dataType>
                    <fieldText>Competitor</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Competitive.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorMessage1</name>
        <label>ErrorMessage1</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessageDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Sorry, but we&apos;ve encountered an error. Our support folks have been informed.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;ERROR: {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Customer_Email_Address</name>
        <label>Review Customer Email Address</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Valid_Customer_Company_Email_Address</targetReference>
        </connector>
        <fields>
            <name>DT2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 9, 0);&quot;&gt;ALERT&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DedupMessage</name>
            <fieldText>&lt;p&gt;The customer company email address you have entered is not authorized. Please review and correct the following record:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Email2</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Customer_Company_Email</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Customer Company Email</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Customer_Company_Email</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Capture_Basic_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CustomNotificationBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>New Deal created by a Partner! Check it out!
Company Name: {!Company}
Contact Name: {!ContactName.firstName}  {!ContactName.lastName}
Budget Amount: {!Budget_Amount}</text>
    </textTemplates>
    <variables>
        <name>CreatedLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Customer_Company_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DealRegRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
