force-app/main/default/flows/SDO_SFS_Appointment_Confirmation_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_URL</name>
        <label>Generate URL</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <actionName>FSAA__AARebookingGetURLcontroller</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>get_Contact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>valueFromFlow</name>
            <value>
                <elementReference>textURL_Input</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FSAA__AARebookingGetURLcontroller</nameSegment>
        <outputParameters>
            <assignToReference>textURL_Output</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>send_confirmation_SMS</name>
        <label>send confirmation SMS</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <actionName>liveMessageNotification</actionName>
        <actionType>liveMessageNotification</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelDeveloperName</name>
            <value>
                <stringValue>Text_US_13092282684</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateDeveloperName</name>
            <value>
                <stringValue>SDO_SFS_Appointment_Confirmation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientPhone</name>
            <value>
                <elementReference>$Record.Contact.MobilePhone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientRecordId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>liveMessageNotification</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <interviewLabel>SDO SFS Appointment Confirmation Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDO SFS Appointment Confirmation Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Contact</name>
        <label>get Contact</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_SA_URL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA_URL</name>
        <label>Update SA URL</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>send_confirmation_SMS</targetReference>
        </connector>
        <inputAssignments>
            <field>ApptBookingInfoUrl</field>
            <value>
                <elementReference>textURL_Output</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>get_Contact.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Generate_URL</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND 4 AND (5 OR 6) AND ( 2 OR 3)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentRecordId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>0WO</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentRecordId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>1WL</stringValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FSL__Schedule_Mode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Automatic</stringValue>
            </value>
        </filters>
        <filters>
            <field>FSL__Schedule_Mode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>temporaryEmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;hello {!$Record.Contact.FirstName}, Your appointment has been scheduled. Please use this link to view more information and manage your appointment. And thank you for your business! {!$Record.ApptBookingInfoUrl}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>textURL_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://sdodemo-main-166ce2cf6b6-172-17bdfda91fe.force.com/professional/s/sfs-appointment-confirmation/?guestToken=#{!$Record.Id}#48</stringValue>
        </value>
    </variables>
    <variables>
        <name>textURL_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
