force-app/main/default/flows/SDO_Service_Demo_Einstein_Article_Recommendations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Article_Recommendation</name>
        <label>Get Article Recommendation</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>SDO_Service_ArticleRecommendationsHelper</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>c</name>
            <value>
                <elementReference>Case</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>helperConfig</name>
            <value>
                <elementReference>Get_Einstein_Agent_Helpers</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SDO_Service_ArticleRecommendationsHelper</nameSegment>
        <outputParameters>
            <assignToReference>RecommendedArticleId</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <description>Used for demoing Einstein Article Recommendations due to the complexity and data required to demo it with real data.</description>
    <interviewLabel>SDO Service - Demo Einstein Article Recommendations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDO Service - Demo Einstein Article Recommendations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Einstein_Agent_Helpers</name>
        <label>Get Einstein Agent Helpers</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Article_Recommendation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Recommended_Article__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SDO_Service_Einstein_Agent_Helper__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Einstein_Agent_Helpers</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>RecommendedArticleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
