force-app/main/default/flows/SDO_BuyerAssistant_SendEmailVerification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Verification_Code</name>
        <label>Send Verification Code</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Set_Code_Returned</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Enter the following code in your current chat session to verify your email address:
                    {!Generate_Verification_Code}
                </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Chatbot Verification Code</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Code_Returned</name>
        <label>Set Code Returned</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Verification_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Generate_Verification_Code</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>Generate_Verification_Code</name>
        <dataType>String</dataType>
        <expression>MID({!routableId},13,3) + RIGHT(text(UNIXTIMESTAMP(now())),3)</expression>
    </formulas>
    <interviewLabel>Sales Bot - Send Email Verification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Buyer Assistant - Send Email Verification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Verification_Code</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Email_Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>routableId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Verification_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
