force-app/main/default/flows/SDO_Scheduler_Generate_Appointment_Invitation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls an invocable action that creates an appointment invitation record and updates the ID and InvitationURL fields of the AppointmentInvitation record variable. If the action encounters an error, the flow user returns to SetStageToTimeSlot so they can make different selections.</description>
        <name>CreateAppointmentInvitation</name>
        <label>Create Appointment Invitation</label>
        <locationX>176</locationX>
        <locationY>1478</locationY>
        <actionName>saveAppointmentInvitationDetails</actionName>
        <actionType>saveAppointmentInvitationDetails</actionType>
        <connector>
            <targetReference>SetStageToReview</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetStageToTimeSlot</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>appointmentInvitationDetails</name>
            <value>
                <elementReference>AppointmentInvitationDetails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>appointmentInviteeDetails</name>
            <value>
                <elementReference>AppointmentInviteeDetails</elementReference>
            </value>
        </inputParameters>
        <nameSegment>saveAppointmentInvitationDetails</nameSegment>
        <outputParameters>
            <assignToReference>AppointmentInvitation.Id</assignToReference>
            <name>appointmentInvitationId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>AppointmentInvitation.InvitationUrl</assignToReference>
            <name>appointmentInvitationUrl</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Sets AppointmentInvitation&apos;s appointment topic ID, booking start time, and booking end time to null and sets active to True.</description>
        <name>InitializeAppointmentInvitation</name>
        <label>Initialize AppointmentInvitation</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>AppointmentInvitation.AppointmentTopicId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppointmentInvitation.BookingStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppointmentInvitation.BookingEndDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppointmentInvitation.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppointmentInvitation.UrlExpiryDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>ScreenSelectPrimaryResource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the flow&apos;s current stage to DetailsStage.</description>
        <name>SetStageToDetails</name>
        <label>Set Stage to Details</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DetailsStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenSpecifyDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the flow&apos;s current stage to Invitation Creation.</description>
        <name>SetStageToInvitationCreationg</name>
        <label>Set Stage to Invitation Creation</label>
        <locationX>176</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateInvitationStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateAppointmentInvitation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the flow&apos;s current stage to LocationStage.</description>
        <name>SetStageToLocation</name>
        <label>Set Stage to Location</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocationStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenSelectAppointmentLocation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the flow&apos;s current stage to ReviewInvitationStage.</description>
        <name>SetStageToReview</name>
        <label>Set Stage to Review</label>
        <locationX>176</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReviewInvitationStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenDisplayAppointmentInvitationSummary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the flow&apos;s current stage to TimeSlotStage.</description>
        <name>SetStageToTimeSlot</name>
        <label>Set Stage to Time Slot</label>
        <locationX>176</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TimeSlotStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenSelectAppointmentTimeSlot</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the flow&apos;s current stage to the TopicStage.</description>
        <name>SetStageToTopic</name>
        <label>Set Stage to Topic</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TopicStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenSelectAppointmentTopic</targetReference>
        </connector>
    </assignments>
    <description>Creates an appointment invitation for internal or credentialed external users that can be shared with anyone.</description>
    <interviewLabel>$Label.Industries_LightningSchedulerFileFlow.Inv_Gen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Appointment Invitation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Appointments</processType>
    <screens>
        <description>Allows the flow user to see the appointment invitation URL and copy it.</description>
        <name>ScreenDisplayAppointmentInvitationSummary</name>
        <label>Display Appointment Invitation Summary</label>
        <locationX>176</locationX>
        <locationY>1718</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ComponentDisplayInvitationSummary</name>
            <extensionName>runtime_appointmentbooking:showInvite</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>invitationId</name>
                <value>
                    <elementReference>AppointmentInvitation.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invitationURL</name>
                <value>
                    <elementReference>AppointmentInvitation.InvitationUrl</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AppointmentInvitation.Id</assignToReference>
                <name>invitationId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AppointmentInvitation.InvitationUrl</assignToReference>
                <name>invitationURL</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Allows the flow user to select the appointment location for the invitation.</description>
        <name>ScreenSelectAppointmentLocation</name>
        <label>Select Appointment Location</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetStageToDetails</targetReference>
        </connector>
        <fields>
            <name>ComponentSelectAppointmentLocation</name>
            <extensionName>runtime_appointmentbooking:flowLocation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>distance</name>
                <value>
                    <elementReference>LocationDistance</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>distanceUnit</name>
                <value>
                    <elementReference>DistanceUnit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>WorkTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>ValidationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lat</name>
                <value>
                    <elementReference>LocationLatitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>long</name>
                <value>
                    <elementReference>LocationLongitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enteredLocation</name>
                <value>
                    <elementReference>SelectedLocation</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>LocationDistance</assignToReference>
                <name>distance</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>LocationLatitude</assignToReference>
                <name>lat</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SelectedLocation</assignToReference>
                <name>enteredLocation</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>LocationLongitude</assignToReference>
                <name>long</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AppointmentInvitation.ServiceTerritoryId</assignToReference>
                <name>serviceTerritoryId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ValidationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Validates the start date and end date the flow user selected in ScreenSpecifyDetails. If the invitation can&apos;t be validated or created, allows the user to go back and make new selections. Stores validated user input in AppointmentInvitationDetails and AppointmentInviteeDetails.</description>
        <name>ScreenSelectAppointmentTimeSlot</name>
        <label>Validate Appointment Time Slot</label>
        <locationX>176</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetStageToInvitationCreationg</targetReference>
        </connector>
        <fields>
            <name>ComponentSelectAppointmentTimeSlot</name>
            <extensionName>runtime_appointmentbooking:flowTimeslot</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>preselectedTimezone</name>
                <value>
                    <elementReference>DefaultTimeZone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedTimezone</name>
                <value>
                    <elementReference>SelectedTimeZone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResources</name>
                <value>
                    <elementReference>ServiceResources</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>ValidationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>WorkTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>AppointmentInvitation.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>availabilityEndDate</name>
                <value>
                    <elementReference>AppointmentInvitation.BookingEndDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>availabilityStartDate</name>
                <value>
                    <elementReference>AppointmentInvitation.BookingStartDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invitationFlowType</name>
                <value>
                    <stringValue>InvitationGeneration</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>appointmentInvitationDetails</name>
                <value>
                    <elementReference>AppointmentInvitationDetails</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>expirationDate</name>
                <value>
                    <elementReference>AppointmentInvitation.UrlExpiryDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>active</name>
                <value>
                    <elementReference>AppointmentInvitation.IsActive</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>appointmentInviteeDetails</name>
                <value>
                    <elementReference>AppointmentInviteeDetails</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invitationLinkUrlPrefix</name>
                <value>
                    <elementReference>InvitationURLPrefix</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveErrors</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ValidationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>WorkTypeGroupId</assignToReference>
                <name>workTypeGroupId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AppointmentInvitationDetails</assignToReference>
                <name>appointmentInvitationDetails</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AppointmentInvitation.Id</assignToReference>
                <name>appointmentInvitationId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AppointmentInvitation.BookingEndDate</assignToReference>
                <name>availabilityEndDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AppointmentInvitation.BookingStartDate</assignToReference>
                <name>availabilityStartDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceResources</assignToReference>
                <name>serviceResources</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AppointmentInviteeDetails</assignToReference>
                <name>appointmentInviteeDetails</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Allows the flow user to select the appointment topic for the invitation and stores it in WorkTypeGroupId.</description>
        <name>ScreenSelectAppointmentTopic</name>
        <label>Select Appointment Topic</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetStageToLocation</targetReference>
        </connector>
        <fields>
            <name>ComponentSelectAppointmentTopic</name>
            <extensionName>runtime_appointmentbooking:flowWorkType</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>ValidationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>WorkTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>WorkTypeGroupId</assignToReference>
                <name>workTypeGroupId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ValidationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Allows the flow user to select the primary resource for the appointment invitation.</description>
        <name>ScreenSelectPrimaryResource</name>
        <label>Select Primary Resource</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetStageToTopic</targetReference>
        </connector>
        <fields>
            <name>ComponentSelectAppointmentResources</name>
            <extensionName>runtime_appointmentbooking:flowInvitee</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>ValidationErrors</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>serviceResourceId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ValidationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Allows the user to specify details including the booking start date, booking end date, and expiration date for the invitation. Stores the user-selected values in the AppointmentInvitation record variable.</description>
        <name>ScreenSpecifyDetails</name>
        <label>Specify Details</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetStageToTimeSlot</targetReference>
        </connector>
        <fields>
            <name>ComponentSpecifyDetails</name>
            <extensionName>runtime_appointmentbooking:invitation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>active</name>
                <value>
                    <elementReference>AppointmentInvitation.IsActive</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>availabilityEndDate</name>
                <value>
                    <elementReference>AppointmentInvitation.BookingEndDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>availabilityStartDate</name>
                <value>
                    <elementReference>AppointmentInvitation.BookingStartDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>expirationDate</name>
                <value>
                    <elementReference>AppointmentInvitation.UrlExpiryDate</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AppointmentInvitation.UrlExpiryDate</assignToReference>
                <name>expirationDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AppointmentInvitation.BookingStartDate</assignToReference>
                <name>availabilityStartDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AppointmentInvitation.BookingEndDate</assignToReference>
                <name>availabilityEndDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AppointmentInvitation.IsActive</assignToReference>
                <name>active</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>runtime_appointmentbooking__Inv_Gen</sourceTemplate>
    <stages>
        <description>Stores the label displayed to the flow user for the fifth stage on the flow screen progress indicator.</description>
        <name>CreateInvitationStage</name>
        <isActive>true</isActive>
        <label>Create Appointment Invitation</label>
        <stageOrder>5</stageOrder>
    </stages>
    <stages>
        <description>Stores the label displayed to the flow user for the third stage on the flow screen progress indicator.</description>
        <name>DetailsStage</name>
        <isActive>true</isActive>
        <label>Set Details</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <description>Stores the label displayed to the flow user for the second stage on the flow screen progress indicator.</description>
        <name>LocationStage</name>
        <isActive>true</isActive>
        <label>Set Appointment Location</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <description>Stores the label displayed to the flow user for the sixth and final stage on the flow screen progress indicator.</description>
        <name>ReviewInvitationStage</name>
        <isActive>true</isActive>
        <label>Review Appointment Invitation</label>
        <stageOrder>6</stageOrder>
    </stages>
    <stages>
        <description>Stores the label displayed to the flow user for the fourth stage on the flow screen progress indicator.</description>
        <name>TimeSlotStage</name>
        <isActive>true</isActive>
        <label>Set Time Slot</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <description>Stores the label displayed to the flow user for the first stage on the flow screen progress indicator.</description>
        <name>TopicStage</name>
        <isActive>true</isActive>
        <label>Set Appointment Topic</label>
        <stageOrder>1</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>InitializeAppointmentInvitation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the appointment invitation record to be created.</description>
        <name>AppointmentInvitation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AppointmentInvitation</objectType>
    </variables>
    <variables>
        <description>Stores a JSON string that contains field value pairs for an appointment invitation record.</description>
        <name>AppointmentInvitationDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores a JSON string that contains field value pairs for an appointment invitee record.</description>
        <name>AppointmentInviteeDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the default time zone for the flow user in ComponentSelectAppointmentTimeSlot.</description>
        <name>DefaultTimeZone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the distance unit for ComponentSelectAppointmentLocation. Default value is mi (miles). Change the value to specify a different default distance unit to flow users.</description>
        <name>DistanceUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>mi</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the prefix for an appointment invitation URL set in ComponentSelectAppointmentTimeSlot.
Please change the default value to match the domain name for your community. Make sure the last part of the URL is present ----&gt;&gt;&gt;&gt;     /professional/s/meet-with-me</description>
        <name>InvitationURLPrefix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://sdodemo-main-166ce2cf6b6-172-180f6bda1e6.force.com/professional/s/meet-with-me</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the location distance for ComponentSelectAppointmentLocation. Default value is 5. Change this value to specify a smaller or larger default location distance to flow users.</description>
        <name>LocationDistance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Stores the latitude of the location for ComponentSelectAppointmentLocation.</description>
        <name>LocationLatitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the longitude of the location for ComponentSelectAppointmentLocation.</description>
        <name>LocationLongitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the service resource record  specified as an input parameter when the flow is called that&apos;s used to configure a primary resource for the appointment invitation.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the user-selected location for ComponentSelectAppointmentLocation.</description>
        <name>SelectedLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the time zone selected by the user in ComponentSelectAppointmentTimeSlot.</description>
        <name>SelectedTimeZone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores a JSON string that contains field value pairs for the primary and secondary service resources selected by the flow user.</description>
        <name>ServiceResources</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores a JSON string that contains validation errors encountered in ComponentSelectAppointmentLocation, ComponentSelectAppointmentTopic, and ComponentSelectAppointmentTimeSlot.</description>
        <name>ValidationErrors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the work type group (appointment topic) selected by the user that&apos;s used in ScreenSelectAppointmentTimeSlot to calculate appointment availability.</description>
        <name>WorkTypeGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
