force-app/main/default/flows/SDO_OMS_Update_CPQ_Order_for_OMS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_to_Updated_List</name>
        <label>Add to Updated List</label>
        <locationX>1416</locationX>
        <locationY>573</locationY>
        <assignmentItems>
            <assignToReference>updatedOrderProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Order_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Order_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Delivery_Group</name>
        <label>Assign to Delivery Group</label>
        <locationX>1390</locationX>
        <locationY>421</locationY>
        <assignmentItems>
            <assignToReference>For_Each_Order_Product.OrderDeliveryGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderDeliveryGroup.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>For_Each_Order_Product.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order Product</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>For_Each_Order_Product.TypeCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>For_Each_Order_Product.TotalLineAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Order_Product.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>For_Each_Order_Product.ReservedAtLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Default_Location.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Updated_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Delivered_To_Name</name>
        <label>Set Delivered To Name</label>
        <locationX>699</locationX>
        <locationY>422</locationY>
        <assignmentItems>
            <assignToReference>Deliveredtoname.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Oder_Delivery_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OrderDeliveryGroup_Existing</name>
        <label>Set OrderDeliveryGroup</label>
        <locationX>853</locationX>
        <locationY>547</locationY>
        <assignmentItems>
            <assignToReference>OrderDeliveryGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Delivery_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Order_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OrderDeliveryGroup_New</name>
        <label>Set OrderDeliveryGroup</label>
        <locationX>1009</locationX>
        <locationY>402</locationY>
        <assignmentItems>
            <assignToReference>OrderDeliveryGroup.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Oder_Delivery_Groups</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Order_Product</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Order_Delivery_Group</name>
        <label>Has Order Delivery Group</label>
        <locationX>543</locationX>
        <locationY>601</locationY>
        <defaultConnector>
            <targetReference>Has_Ship_To_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Hasn&apos;t</defaultConnectorLabel>
        <rules>
            <name>Has_Order_Delivery_Group_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Delivery_Group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_OrderDeliveryGroup_Existing</targetReference>
            </connector>
            <label>Has</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Ship_To_Contact</name>
        <label>Has Ship To Contact</label>
        <locationX>391</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>Get_Default_Account_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Hasn&apos;t</defaultConnectorLabel>
        <rules>
            <name>Has_Ship_To_Contact_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ShipToContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Has</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_CPQ_Order_without_Order_Summary</name>
        <label>Is CPQ Order without Order Summary</label>
        <locationX>148</locationX>
        <locationY>700</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Is_CPQ_Order_without_Order_Summary_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Default_Delivery_Method</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <interviewLabel>Update CPQ Order for OMS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OMS - Update CPQ Order for OMS</label>
    <loops>
        <name>For_Each_Order_Product</name>
        <label>For Each Order Product</label>
        <locationX>1009</locationX>
        <locationY>708</locationY>
        <collectionReference>Get_Order_Product</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_Delivery_Group</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Order_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Oder_Delivery_Groups</name>
        <label>Create Oder Delivery Groups</label>
        <locationX>845</locationX>
        <locationY>402</locationY>
        <connector>
            <targetReference>Set_OrderDeliveryGroup_New</targetReference>
        </connector>
        <inputAssignments>
            <field>DeliverToCity</field>
            <value>
                <elementReference>$Record.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliverToCountry</field>
            <value>
                <elementReference>$Record.ShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliverToName</field>
            <value>
                <elementReference>Deliveredtoname.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliverToPostalCode</field>
            <value>
                <elementReference>$Record.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliverToState</field>
            <value>
                <elementReference>$Record.ShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliverToStreet</field>
            <value>
                <elementReference>$Record.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderDeliveryMethodId</field>
            <value>
                <elementReference>Get_Default_Delivery_Method.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OrderDeliveryGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>546</locationX>
        <locationY>442</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Delivered_To_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ShipToContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Account_Contact</name>
        <label>Get Default Account Contact</label>
        <locationX>739</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Oder_Delivery_Groups</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Deliveredtoname</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Delivery_Method</name>
        <label>Get Default Delivery Method</label>
        <locationX>397</locationX>
        <locationY>775</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Delivery_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default Delivery Method</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderDeliveryMethod</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Location</name>
        <label>Get Default Location</label>
        <locationX>696</locationX>
        <locationY>775</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sales_Channel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocationType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Warehouse</stringValue>
            </value>
        </filters>
        <filters>
            <field>ShouldSyncWithOci</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Delivery_Group</name>
        <label>Get Order Delivery Group</label>
        <locationX>549</locationX>
        <locationY>775</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Default_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderDeliveryGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Product</name>
        <label>Get Order Product</label>
        <locationX>1009</locationX>
        <locationY>548</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Order_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Summary</name>
        <label>Get Order Summary</label>
        <locationX>155</locationX>
        <locationY>419</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_CPQ_Order_without_Order_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OriginalOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OriginalOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Channel</name>
        <label>Get Sales Channel</label>
        <locationX>846</locationX>
        <locationY>738</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Order_Delivery_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SalesChannelName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesChannel</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Is_OMS_Ready</name>
        <label>Set Is OMS Ready</label>
        <locationX>1337</locationX>
        <locationY>912</locationY>
        <inputAssignments>
            <field>SDO_OMS_Is_OMS_Ready__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesChannelId</field>
            <value>
                <elementReference>Get_Sales_Channel.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Products</name>
        <label>Update Order Products</label>
        <locationX>1384</locationX>
        <locationY>757</locationY>
        <connector>
            <targetReference>Set_Is_OMS_Ready</targetReference>
        </connector>
        <inputReference>updatedOrderProducts</inputReference>
    </recordUpdates>
    <start>
        <locationX>41</locationX>
        <locationY>50</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Order_Summary</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Deliveredtoname</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>OrderDeliveryGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderDeliveryGroup</objectType>
    </variables>
    <variables>
        <name>OrderDeliveryGroups</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderDeliveryGroup</objectType>
    </variables>
    <variables>
        <name>OrderSummaryInputRepresentation</name>
        <apexClass>ConnectApi__OrderSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderSummaryOutputRepresentation</name>
        <apexClass>ConnectApi__OrderSummaryOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updatedOrderProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
