force-app/main/default/flows/SDO_B2BCommerce_Abandoned_Cart_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Abandoned_Cart_Email</name>
        <label>Send Abandoned Cart Email</label>
        <locationX>457</locationX>
        <locationY>433</locationY>
        <actionName>WebCart.SDO_B2B_Commerce_Abandoned_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Success_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Active_Webcart.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WebCart.SDO_B2B_Commerce_Abandoned_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Was_Cart_Found</name>
        <label>Was Cart Found?</label>
        <locationX>171</locationX>
        <locationY>435</locationY>
        <defaultConnector>
            <targetReference>Send_Abandoned_Cart_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Webcart.Id</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>WebCart_Not_Found</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <interviewLabel>B2BLE Abandoned Cart Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2BLE Abandoned Cart Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Active_Webcart</name>
        <label>Get Active Webcart</label>
        <locationX>179</locationX>
        <locationY>251</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Cart_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WebCart</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Success_Email_Alert</name>
        <label>Success Email Alert</label>
        <locationX>679</locationX>
        <locationY>423</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessEmailMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;An abandoned cart email has been sent to the contact!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WebCart_Not_Found</name>
        <label>WebCart Not Found</label>
        <locationX>202</locationX>
        <locationY>630</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>WebCartNotFoundMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;An active cart was not found for this contact!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Active_Webcart</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
