force-app/main/default/flows/SDO_BuyerAssistant_GetOwner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Owner_Id</name>
        <label>Assign Owner Id</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ownerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunityOwnerId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Owner_Id_Account</name>
        <label>Assign Owner Id</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ownerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountOwnerId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Was_Owner_Found</name>
        <label>Was Owner Found</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Owner Not Found</defaultConnectorLabel>
        <rules>
            <name>Account_Owner_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>accountOwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner_Id_Account</targetReference>
            </connector>
            <label>Account Owner Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether an opportunity owner ID was returned from the GetOpportunityFromContact Subflow
            element.</description>
        <name>WasOpportunityOwnerReturned</name>
        <label>Was Opportunity Owner Returned?</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Opportunity2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>WasReturned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunityOwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Sales Bot - Get Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Buyer Assistant - Get Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_from_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Account_Opportunity2</name>
        <label>Get Account Opportunity</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Was_Owner_Found</targetReference>
        </connector>
        <flowName>SDO_BuyerAssistant_GetAccountOpportunity</flowName>
        <inputAssignments>
            <name>contactId</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>accountId</assignToReference>
            <name>accountId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>accountName</assignToReference>
            <name>accountName</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>accountOwnerId</assignToReference>
            <name>accountOwnerId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>opportunityId</assignToReference>
            <name>opportunityId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>opportunityOwnerId</assignToReference>
            <name>opportunityOwnerId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Opportunity_from_Contact</name>
        <label>Get Opportunity from Contact</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>WasOpportunityOwnerReturned</targetReference>
        </connector>
        <flowName>SDO_BuyerAssistant_GetOpportunityFromContact</flowName>
        <inputAssignments>
            <name>contactId</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>opportunityId</assignToReference>
            <name>opportunityId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>opportunityOwnerId</assignToReference>
            <name>opportunityOwnerId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the account name returned from the GetAccountOpportunity subflow.</description>
        <name>accountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>accountOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the contact ID passed into the flow.</description>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>opportunityOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ownerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
