force-app/main/default/flows/SDO_OMS_NEW_Create_Invoice_and_Ensure_Funds.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Invoice</name>
        <label>Create Invoice</label>
        <locationX>377</locationX>
        <locationY>190</locationY>
        <actionName>createInvoiceFromFulfillmentOrder</actionName>
        <actionType>createInvoiceFromFulfillmentOrder</actionType>
        <connector>
            <targetReference>Get_Order_Payment_Summary</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Invoice_Action_Fault_Assignment</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fulfillmentOrderId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>createInvoiceFromFulfillmentOrder</nameSegment>
        <outputParameters>
            <assignToReference>FulfillmentOrderInvoiceOutput</assignToReference>
            <name>fulfillmentOrderInvoiceOutput</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Ensure_Funds</name>
        <label>Ensure Funds</label>
        <locationX>609</locationX>
        <locationY>447</locationY>
        <actionName>ensureFundsOrderSummaryAsync</actionName>
        <actionType>ensureFundsOrderSummaryAsync</actionType>
        <connector>
            <targetReference>Any_Unfulfilled</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Ensure_Funds_Action_Fault_Assignment</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ensureFundsAsyncInput</name>
            <value>
                <elementReference>EnsureFundsAsyncInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>FulfillmentOrder.OrderSummaryId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ensureFundsOrderSummaryAsync</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Create_Invoice_Action_Fault_Assignment</name>
        <label>Create Invoice Action Fault Assignment</label>
        <locationX>338</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>ProcessExceptionRecord.Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Invoice_Action_Error_Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProcessExceptionRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Process_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ensure_Funds_Action_Fault_Assignment</name>
        <label>Ensure Funds Action Fault Assignment</label>
        <locationX>466</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>ProcessExceptionRecord.Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ensure_Funds_Action_Error_Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProcessExceptionRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Process_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Ensure_Funds_Input_Representation</name>
        <label>Set Ensure Funds Input Representation</label>
        <locationX>614</locationX>
        <locationY>298</locationY>
        <assignmentItems>
            <assignToReference>EnsureFundsAsyncInputRepresentation.invoiceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FulfillmentOrderInvoiceOutput.invoiceId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ensure_Funds</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Create_Invoice_Action_Error_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Create Invoice Action Fault</stringValue>
        </value>
    </constants>
    <constants>
        <name>Ensure_Funds_Action_Error_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Ensure Funds Action Fault</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Any_Unfilled</name>
        <label>Any Unfilled?</label>
        <locationX>748</locationX>
        <locationY>523</locationY>
        <defaultConnector>
            <targetReference>Update_Order_Summary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fulfilled</defaultConnectorLabel>
        <rules>
            <name>Yes_Unfulfilled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>unFulfilled</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partially_Fulfilled</targetReference>
            </connector>
            <label>Yes, Unfulfilled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Zero_Amount</name>
        <label>Zero Amount or No Order Payment Summary?</label>
        <locationX>692</locationX>
        <locationY>68</locationY>
        <defaultConnector>
            <targetReference>Set_Ensure_Funds_Input_Representation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Zero</defaultConnectorLabel>
        <rules>
            <name>Yes_Zero</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FulfillmentOrder.GrandTotalAmount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vOPS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Any_Unfulfilled</targetReference>
            </connector>
            <label>Yes, Zero / None</label>
        </rules>
    </decisions>
    <description>Add Check for Order Payment Summaries
Bill Macaulay 11/23</description>
    <environments>Default</environments>
    <interviewLabel>Create Invoice and Ensure Funds {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OMS - Create Invoice and Ensure Funds</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Process_Exception</name>
        <label>Create Process Exception</label>
        <locationX>406</locationX>
        <locationY>550</locationY>
        <inputReference>ProcessExceptionRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Any_Unfulfilled</name>
        <label>Any Unfulfilled?</label>
        <locationX>750</locationX>
        <locationY>380</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Unfilled</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FulfillmentOrder.OrderSummaryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ORDERED</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ALLOCATED</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PARTIALLYFULFILLED</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PARTIALLYALLOCATED</stringValue>
            </value>
        </filters>
        <object>OrderItemSummary</object>
        <outputAssignments>
            <assignToReference>unFulfilled</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Fulfillment_Order</name>
        <label>Specified Fulfillment Order</label>
        <locationX>197</locationX>
        <locationY>419</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>FulfillmentOrder</object>
        <outputReference>FulfillmentOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FulfilledToName</queriedFields>
        <queriedFields>OrderSummaryId</queriedFields>
        <queriedFields>GrandTotalAmount</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Payment_Summary</name>
        <label>Get Order Payment Summary</label>
        <locationX>511</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Zero_Amount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FulfillmentOrder.OrderSummaryId</elementReference>
            </value>
        </filters>
        <object>OrderPaymentSummary</object>
        <outputAssignments>
            <assignToReference>vOPS</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Partially_Fulfilled</name>
        <label>Partially Fulfilled</label>
        <locationX>633</locationX>
        <locationY>597</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FulfillmentOrder.OrderSummaryId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Partially Fulfilled</stringValue>
            </value>
        </inputAssignments>
        <object>OrderSummary</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Summary</name>
        <label>Update Order Summary</label>
        <locationX>910</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FulfillmentOrder.OrderSummary.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Fulfilled</stringValue>
            </value>
        </inputAssignments>
        <object>OrderSummary</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Fulfillment_Order</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fulfilled</stringValue>
            </value>
        </filters>
        <object>FulfillmentOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EnsureFundsAsyncInputRepresentation</name>
        <apexClass>ConnectApi__EnsureFundsAsyncInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FulfillmentOrder</objectType>
    </variables>
    <variables>
        <name>FulfillmentOrderInvoiceOutput</name>
        <apexClass>ConnectApi__FulfillmentOrderInvoiceOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProcessExceptionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessException</objectType>
    </variables>
    <variables>
        <name>unFulfilled</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vOPS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
