force-app/main/default/flows/SDO_Einstein_AR_Email_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Article_Recommendations</name>
        <label>Create Article Recommendations</label>
        <locationX>182</locationX>
        <locationY>528</locationY>
        <actionName>SDO_Service_EinsteinArticleRecForEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Domain</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cases</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SDO_Service_EinsteinArticleRecForEmail</nameSegment>
        <outputParameters>
            <assignToReference>KAVs</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>50</locationX>
        <locationY>1224</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Auto_Response</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.ContactEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Recommended_Articles</name>
        <label>Assign Recommended Articles</label>
        <locationX>270</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>NumberOfRecs</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecsTextTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Article_Recs_Loop</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Community name where the article will be shown to the customer. Defaulted to consumer for SDO e.g [YOURDOMAIN]/consumer</description>
        <name>Community</name>
        <dataType>String</dataType>
        <value>
            <stringValue>consumer</stringValue>
        </value>
    </constants>
    <decisions>
        <description>used to evaluate the custom setting record to see if there is a custom setting record activated before moving forward</description>
        <name>Evaluate_process_automation_settings</name>
        <label>Evaluate process automation settings</label>
        <locationX>611</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fire_Process_Automation_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.xDO_Tool_ProcessAutomationSwitch__cxDO_Tool_ProcessAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Email_Address_Available</targetReference>
            </connector>
            <label>Fire Process Automation = True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Email_Address_Available</name>
        <label>Is Email Address Available?</label>
        <locationX>380</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>No Email Address</defaultConnectorLabel>
        <rules>
            <name>Email_Address_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Article_Recommendations</targetReference>
            </connector>
            <label>Email Address Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Rec_Count_Valid</name>
        <label>Is Rec Count Valid</label>
        <locationX>182</locationX>
        <locationY>1104</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rec_Count_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfRecs</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>Rec Count Valid</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SDO - Einstein AR Email Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDO - Einstein AR Email Flows</label>
    <loops>
        <name>Article_Recs_Loop</name>
        <label>Article Recs Loop</label>
        <locationX>182</locationX>
        <locationY>768</locationY>
        <collectionReference>KAVs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Recommended_Articles</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Rec_Count_Valid</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Domain</name>
        <label>Get Domain</label>
        <locationX>182</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Article_Recs_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HttpsOption</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CommunityAlt</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Domain</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Domain</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>72</locationX>
        <locationY>0</locationY>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Evaluate_process_automation_settings</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>Email_Auto_Response</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi there! &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;👋&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Thanks for contacting our support team! We&apos;ve received your message, and one of our superstar support specialists will be in touch soon.&lt;/p&gt;&lt;p&gt;In the meantime, &lt;strong&gt;here are a few articles from our Help Center that you may find useful&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;{!EmailText}&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;If you no longer need a response from us, just click &lt;/em&gt;&lt;strong style=&quot;color: rgb(30, 81, 234); background-color: rgb(255, 255, 255);&quot;&gt;&lt;em&gt;&lt;u&gt;here&lt;/u&gt;&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; to close your case. &lt;/em&gt;&lt;/p&gt;&lt;p&gt;Thank you,&lt;/p&gt;&lt;p&gt;Support Team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[Request Received] {!$Record.CaseNumber} : {!$Record.Subject}</text>
    </textTemplates>
    <textTemplates>
        <name>RecsTextTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;ul&gt;&lt;li&gt;&lt;a href=&quot;https://{!Get_Domain.Domain}/{!Community}/s/article/{!Article_Recs_Loop.UrlName}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Article_Recs_Loop.Title}&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <variables>
        <name>ArticleRecCollection</name>
        <apexClass>ConnectApi__ArticleRecommendation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>KAVs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>KnowledgeArticleVersion</objectType>
    </variables>
    <variables>
        <name>NumberOfRecs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
