force-app/main/default/flows/SDO_B2BCommerce_Warranty_Product_Redirect.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Redirect_URL</name>
        <label>Get Redirect URL</label>
        <locationX>282</locationX>
        <locationY>50</locationY>
        <actionName>SDO_B2B_flow_WarrantyRenewalRedirect</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Go_to_Warranty_Product</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>assetRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>communityName</name>
            <value>
                <elementReference>communityName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SDO_B2B_flow_WarrantyRenewalRedirect</nameSegment>
        <outputParameters>
            <assignToReference>redirectUrl</assignToReference>
            <name>redirectUrl</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>warrantySku</assignToReference>
            <name>warrantySku</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Go_to_Warranty_Product</name>
        <label>Go to Warranty Product</label>
        <locationX>510</locationX>
        <locationY>49</locationY>
        <actionName>c:SDO_Flow_RedirectToURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>replace</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>redirectUrl</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:SDO_Flow_RedirectToURL</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <interviewLabel>B2B Warranty Product Redirect {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B Warranty Product Redirect</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Redirect_URL</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>communityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>B2B Commerce Storefront</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>redirectUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>warrantySku</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
