force-app/main/default/flows/SDO_Service_Voice_Call_On_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_Voice_Call_Fields</name>
        <label>Set Voice Call Fields</label>
        <locationX>916</locationX>
        <locationY>1120</locationY>
        <assignmentItems>
            <assignToReference>$Record.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Case</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RelatedRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Voice_Call</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Voice_Call_Fields_Existing_Case</name>
        <label>Set Voice Call Fields Existing Case</label>
        <locationX>349</locationX>
        <locationY>606</locationY>
        <assignmentItems>
            <assignToReference>$Record.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case__r.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Voice_Call</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Messaging_User</name>
        <label>Check Messaging User</label>
        <locationX>932</locationX>
        <locationY>507</locationY>
        <defaultConnector>
            <targetReference>Phone_Number_Search</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not using Messaging Users</defaultConnectorLabel>
        <rules>
            <name>User_Associated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>User Associated</label>
        </rules>
    </decisions>
    <decisions>
        <description>Used to evaluate the custom setting record to see if there is a custom setting record activated before moving forward</description>
        <name>Evaluate_process_automation_settings</name>
        <label>Evaluate process automation settings</label>
        <locationX>607</locationX>
        <locationY>231</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fire_Process_Automation_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.xDO_Tool_ProcessAutomationSwitch__c.xDO_Tool_ProcessAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Outbound_w_Case_Atttached</targetReference>
            </connector>
            <label>Fire Process Automation = True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Outbound_w_Case_Atttached</name>
        <label>Is Outbound w/ Case Atttached</label>
        <locationX>587</locationX>
        <locationY>428</locationY>
        <defaultConnector>
            <targetReference>Check_Messaging_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Case Attached</defaultConnectorLabel>
        <rules>
            <name>Case_Attached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RelatedRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outbound</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Voice_Call_Fields_Existing_Case</targetReference>
            </connector>
            <label>Case Attached</label>
        </rules>
    </decisions>
    <description>Called when a New Voice Call record is created
3/29/22 - Removing unused formula variable to avoid confusion.</description>
    <formulas>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Call_Reason__c}), TEXT({!$Record.CallType}) + &apos; Support call&apos; +
IF(ISBLANK({!RelatedContact.Name}), &apos;&apos;, &apos; with &apos; + {!RelatedContact.Name}), {!$Record.Call_Reason__c})</expression>
    </formulas>
    <formulas>
        <description>Either the From number on inbound calls or the To number on outbound calls</description>
        <name>NumberToSearchWith</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.CallType}) == &apos;Inbound&apos;, {!$Record.FromPhoneNumber}, {!$Record.ToPhoneNumber})</expression>
    </formulas>
    <interviewLabel>SDO Service - Voice Call - On Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDO Service - Voice Call - On Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>898</locationX>
        <locationY>924</locationY>
        <connector>
            <targetReference>Set_Voice_Call_Fields</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>RelatedContact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>RelatedContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>589</locationX>
        <locationY>773</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.EndUser.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>RelatedContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Voice_Call</name>
        <label>Update Voice Call</label>
        <locationX>717</locationX>
        <locationY>1222</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Evaluate_process_automation_settings</targetReference>
        </connector>
        <object>VoiceCall</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Phone_Number_Search</name>
        <label>Phone Number Search</label>
        <locationX>853</locationX>
        <locationY>773</locationY>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <flowName>SDO_Service_Phone_Number_Search</flowName>
        <inputAssignments>
            <name>NumberToSearchWith</name>
            <value>
                <elementReference>NumberToSearchWith</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>RelatedContact</assignToReference>
            <name>MatchedContact</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>RelatedContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
