force-app/main/default/flows/SDO_Scheduler_Screen_Flow_Inbound_Cancel_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cancel_Appointment_Action</name>
        <label>Cancel Appointment Action</label>
        <locationX>605</locationX>
        <locationY>275</locationY>
        <actionName>cancelAppointment</actionName>
        <actionType>cancelAppointment</actionType>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Cancel_Appointment</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cancellationReason</name>
            <value>
                <elementReference>CancellationReason</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cancelStatus</name>
            <value>
                <elementReference>CancellationStatus</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>cancelAppointment</nameSegment>
        <outputParameters>
            <assignToReference>ErrorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assign_ServiceappointmentId</name>
        <label>assign ServiceappointmentId</label>
        <locationX>61</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cancel_Appointment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ServiceAppointmentId_Present</name>
        <label>ServiceAppointmentId Present?</label>
        <locationX>176</locationX>
        <locationY>269</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointmentId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>08p</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Appointment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>08p</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ServiceappointmentId</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Screen flow version of the cancel my appointment scheduler flow</description>
    <interviewLabel>Cancel My Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancel my appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Cancel_Appointment</name>
        <label>Cancel Appointment</label>
        <locationX>404</locationX>
        <locationY>276</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Cancel_Appointment_Action</targetReference>
        </connector>
        <fields>
            <name>CancelApppintment</name>
            <extensionName>runtime_appointmentbooking:cancelApp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ServiceAppointmentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancellationReason</name>
                <value>
                    <elementReference>CancellationReason</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>status</name>
                <value>
                    <elementReference>CancellationStatus</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isInbound</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancelErrors</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointmentId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ErrorMessage</assignToReference>
                <name>cancelErrors</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CancellationReason</assignToReference>
                <name>cancellationReason</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CancellationStatus</assignToReference>
                <name>status</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>798</locationX>
        <locationY>275</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirmation</name>
            <extensionName>runtime_appointmentbooking:flowConfirm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isCancel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>58</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>ServiceAppointmentId_Present</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CancellationReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>CancellationStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
