force-app/main/default/flows/SDO_OMS_Cancel_Item_Event_Triggered.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cancel_Order_Item_Summaries_Preview</name>
        <label>Cancel Order Item Summaries Preview</label>
        <locationX>1404</locationX>
        <locationY>398</locationY>
        <actionName>cancelOrderItemSummariesPreview</actionName>
        <actionType>cancelOrderItemSummariesPreview</actionType>
        <connector>
            <targetReference>Set_Stage_To_Part_3</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Invocable_Action_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderItemSummaryLineItemsToChangeInput</name>
            <value>
                <elementReference>changeInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>Get_Order_Summary_Object.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>cancelOrderItemSummariesPreview</nameSegment>
        <outputParameters>
            <assignToReference>previewCancelOutput</assignToReference>
            <name>previewCancelOutput</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Cancel_Order_Item_Summaries_Submit</name>
        <label>Cancel Order Item Summaries Submit</label>
        <locationX>1740</locationX>
        <locationY>634</locationY>
        <actionName>cancelOrderItemSummariesSubmit</actionName>
        <actionType>cancelOrderItemSummariesSubmit</actionType>
        <connector>
            <targetReference>Excess_Funds</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Invocable_Action_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderItemSummaryLineItemsToChangeInput</name>
            <value>
                <elementReference>changeInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>Get_Order_Summary_Object.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>cancelOrderItemSummariesSubmit</nameSegment>
        <outputParameters>
            <assignToReference>submitCancelOutput</assignToReference>
            <name>submitCancelOutput</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Fail</name>
        <label>Email Fail</label>
        <locationX>964</locationX>
        <locationY>1226</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Recipient_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>sdo@salesforce.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>errorMessageTitle</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Success</name>
        <label>Email Success</label>
        <locationX>2135</locationX>
        <locationY>843</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Body_Cancel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Recipient_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>sdo@salesforce.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Cancel Successful</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Ensure_Refund_Submit</name>
        <label>Ensure Refund</label>
        <locationX>1838</locationX>
        <locationY>1291</locationY>
        <actionName>ensureRefundsOrderSummaryAsync</actionName>
        <actionType>ensureRefundsOrderSummaryAsync</actionType>
        <connector>
            <targetReference>Set_Stage_To_Part_4</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Invocable_Action_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ensureRefundsAsyncInput</name>
            <value>
                <elementReference>ensureRefundsAsyncInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>Get_Order_Summary_Object.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ensureRefundsOrderSummaryAsync</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Change_Event_Input_to_Representation</name>
        <label>Change Event Input to Representation</label>
        <locationX>781</locationX>
        <locationY>355</locationY>
        <assignmentItems>
            <assignToReference>changeItemInputRepresentation.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order_Item_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeItemInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeItemInputRepresentation.reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Cancel_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeItemInputRepresentation.shippingReductionFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Shipping_Reduction__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Input_Representation_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Input_Representation_Assignment</name>
        <label>Change Input Representation Assignment</label>
        <locationX>1156</locationX>
        <locationY>355</locationY>
        <assignmentItems>
            <assignToReference>changeInputRepresentation.changeItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>changeItemInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cancel_Order_Item_Summaries_Preview</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ensure_Refund_Assignment</name>
        <label>Ensure Refund Assignment</label>
        <locationX>1618</locationX>
        <locationY>1060</locationY>
        <assignmentItems>
            <assignToReference>ensureRefundsAsyncInputRepresentation.excessFundsAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>submitCancelOutput.changeBalances.totalExcessFundsAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ensure_Refund_Submit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Invocable_Action_Error_Message</name>
        <label>Invocable Action Error Message</label>
        <locationX>1107</locationX>
        <locationY>977</locationY>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Invocable_Action_Image</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Invocable_Action_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Fail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_To_Part_3</name>
        <label>Set Stage To Part 3</label>
        <locationX>1740</locationX>
        <locationY>291</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cancel_Order_Item_Summaries_Submit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_To_Part_4</name>
        <label>Set Stage To Part 4</label>
        <locationX>2061</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>confirmationImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirmation_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Success</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Unmanaged_Order_Error_Message</name>
        <label>Set Unmanaged Order Error Message</label>
        <locationX>691</locationX>
        <locationY>1091</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Unmanaged_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Unmanaged_Order_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Unmanaged_Order_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Fail</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Confirmation_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_Invocable_Action_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_NoItemsToCancel_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_Unmanaged_Order_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_Wrong_Entity_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>ZERO</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Excess_Funds</name>
        <label>Excess Funds</label>
        <locationX>1762</locationX>
        <locationY>923</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Excess_funds_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>previewCancelOutput.changeBalances.totalExcessFundsAmount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ZERO</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ensure_Refund_Assignment</targetReference>
            </connector>
            <label>Excess funds true</label>
        </rules>
        <rules>
            <name>Excess_funds_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>previewCancelOutput.changeBalances.totalExcessFundsAmount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ZERO</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_To_Part_4</targetReference>
            </connector>
            <label>Excess funds false</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Valid_Order_Summary</name>
        <label>Is Valid Order Summary</label>
        <locationX>293</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unmanaged_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary_Object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Summary_Object.OrderLifeCycleType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UNMANAGED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Unmanaged_Order_Error_Message</targetReference>
            </connector>
            <label>Unmanaged Order</label>
        </rules>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary_Object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Valid</label>
        </rules>
        <rules>
            <name>Not_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary_Object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Not Valid</label>
        </rules>
    </decisions>
    <interviewLabel>Cancel Item Event Triggered {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancel Item Event Triggered</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_Item_Summary</name>
        <label>Get Order Item Summary</label>
        <locationX>338</locationX>
        <locationY>280</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Summary_Object</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Order_Item_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrderSummaryId</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get OrderSummary for the record Id passed</description>
        <name>Get_Order_Summary_Object</name>
        <label>Get Order Summary Object</label>
        <locationX>548</locationX>
        <locationY>531</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_Event_Input_to_Representation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Is_Valid_Order_Summary</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Item_Summary.OrderSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <stages>
        <name>Part_1</name>
        <isActive>true</isActive>
        <label>Select Items</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Part_2</name>
        <isActive>true</isActive>
        <label>Select Quantities and Reasons</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Part_3</name>
        <isActive>true</isActive>
        <label>Review and Submit</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Part_4</name>
        <isActive>true</isActive>
        <label>Confirm and Finish</label>
        <stageOrder>4</stageOrder>
    </stages>
    <start>
        <locationX>523</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Order_Item_Summary</targetReference>
        </connector>
        <object>OMS_Cancel_Context_Change__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Email_Body_Cancel</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!$Record.User_Name__c},

Your order item of {!Get_Order_Item_Summary.Name} has successfully been cancelled.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Invocable_Action_Message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Please close this window and check the Order Summary page for updated information.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_NoItemsToCancel</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>When an order has items you can cancel, you&apos;ll find them here.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_NoItemsToCancel_Header</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Nothing to Cancel</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Unmanaged_Order</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>You can only run this flow on a managed order summary.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Unmanaged_Order_Title</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>The specified order summary is unmanaged.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Wrong_Entity</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>This is where you&apos;d cancel items from an order. To cancel an order, start from the Order Summary page.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Wrong_Entity_Header</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>We don&apos;t think you meant to come here.</text>
    </textTemplates>
    <variables>
        <name>changeInputRepresentation</name>
        <apexClass>ConnectApi__ChangeInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>changeItem</name>
        <apexClass>runtime_commerce_oms__ChangeItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>changeItemInputRepresentation</name>
        <apexClass>ConnectApi__ChangeItemInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>changeItems</name>
        <apexClass>runtime_commerce_oms__ChangeItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>confirmationImage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ensureRefundsAsyncInputRepresentation</name>
        <apexClass>ConnectApi__EnsureRefundsAsyncInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessageImage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessageTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PlatformEventsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OMS_Cancel_Event__e</objectType>
    </variables>
    <variables>
        <name>previewCancelOutput</name>
        <apexClass>ConnectApi__PreviewCancelOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>selectedOrderItemSummaries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>submitCancelOutput</name>
        <apexClass>ConnectApi__SubmitCancelOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TheNewEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OMS_Cancel_Event__e</objectType>
    </variables>
</Flow>
