force-app/main/default/flows/SDO_Service_OmniSupervisor_Reassign_Work.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Skill_Requirement</name>
        <label>Add Skill Requirement</label>
        <locationX>1402</locationX>
        <locationY>674</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Loop_Selected_Skills</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;dbcda49f&quot;,&quot;skillId&quot;:&quot;{!Loop_Selected_Skills}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirementsDocs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirementsDocs</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Show_Error_Toast</name>
        <label>Show Error Toast</label>
        <locationX>1146</locationX>
        <locationY>1706</locationY>
        <actionName>c:SDO_Flow_showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error reassigning work items. Please check the Route Case action in the &quot;SDO Service - Reassign All Work&quot; flow and ensure the Service Channel is correctly set to your orgs &quot;Cases&quot; channel. You may need to reset this if this is your first time using the flow.</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:SDO_Flow_showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Route_Case_Work_to_Agent</name>
        <label>Route Case Work to Agent</label>
        <locationX>1410</locationX>
        <locationY>1598</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>Add_Cases_to_Count</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_Show_Error_Toast</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N9al00000069rxCAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Cases</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>Cases</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <elementReference>Load_Case_Routing_Config.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
            <value>
                <elementReference>Select_Agent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isAgentRequired</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isAgentVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isRoutingConfigVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordsToRouteType</name>
            <value>
                <stringValue>multiple</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>Extract_Case_Ids</elementReference>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Route_Case_Work_to_Skills</name>
        <label>Route Case Work to Skills</label>
        <locationX>882</locationX>
        <locationY>1598</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>Add_Cases_to_Count</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Show_Error_Toast</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N9al00000069rxCAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Cases</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>Cases</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>SkillsBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <elementReference>Load_Case_Routing_Config.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
            <value>
                <stringValue>DefineSkillRequirements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirementsDocs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isRoutingConfigVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordsToRouteType</name>
            <value>
                <stringValue>multiple</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>Extract_Case_Ids</elementReference>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Route_Messaging_Work_to_Agent</name>
        <label>Route Messaging Work to Agent</label>
        <locationX>1410</locationX>
        <locationY>2738</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>Add_Messaging_to_Count</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_Show_Error_Toast</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N9al00000069rzCAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>LiveMessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <elementReference>Load_Messaging_Routing_Config.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>Select_Agent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
            <value>
                <elementReference>Select_Agent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isAgentRequired</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isAgentVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isRoutingConfigVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordsToRouteType</name>
            <value>
                <stringValue>multiple</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>Extract_Messaging_Ids</elementReference>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Route_Messaging_Work_to_Skills</name>
        <label>Route Messaging Work to Skills</label>
        <locationX>882</locationX>
        <locationY>2738</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>Add_Messaging_to_Count</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_Show_Error_Toast</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N9al00000069rzCAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>LiveMessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>SkillsBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <elementReference>Load_Messaging_Routing_Config.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
            <value>
                <stringValue>DefineSkillRequirements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirementsDocs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isRoutingConfigVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordsToRouteType</name>
            <value>
                <stringValue>multiple</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>Extract_Messaging_Ids</elementReference>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Show_Error_Toast</name>
        <label>Show Error Toast</label>
        <locationX>754</locationX>
        <locationY>1814</locationY>
        <actionName>c:SDO_Flow_showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error reassigning work items - please try again.</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:SDO_Flow_showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Show_Success_Toast</name>
        <label>Show Success Toast</label>
        <locationX>1422</locationX>
        <locationY>3362</locationY>
        <actionName>c:SDO_Flow_showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Successfully reassigned {!ReassignCount} work items</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:SDO_Flow_showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_Cases_to_Count</name>
        <label>Add Cases to Count</label>
        <locationX>906</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>ReassignCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CaseCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Messaging_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Messaging_to_Count</name>
        <label>Add Messaging to Count</label>
        <locationX>906</locationX>
        <locationY>3170</locationY>
        <assignmentItems>
            <assignToReference>ReassignCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MessagingCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Success_Toast</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Num_Records</name>
        <label>Get Num Records</label>
        <locationX>736</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>NumRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Records_Passed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Counters</name>
        <label>Set Counters</label>
        <locationX>1422</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>CaseCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Extract_Case_Ids</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessagingCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Extract_Messaging_Ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Case_Count</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Agent</name>
        <choiceText>Agent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Queue</name>
        <choiceText>Queue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Queue</stringValue>
        </value>
    </choices>
    <choices>
        <name>Skills</name>
        <choiceText>Skills</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Skills</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Extract_Case_Ids</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Extract Case Ids</label>
        <locationX>1422</locationX>
        <locationY>950</locationY>
        <assignNextValueToReference>currentItem_Extract_Case_Ids</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>ids</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Extract_Case_Ids</leftValueReference>
            <operator>StartsWith</operator>
            <rightValue>
                <stringValue>500</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Extract_Messaging_Ids</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Extract_Messaging_Ids</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Extract Messaging Ids</label>
        <locationX>1422</locationX>
        <locationY>1058</locationY>
        <assignNextValueToReference>currentItem_Extract_Messaging_Ids</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>ids</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Extract_Messaging_Ids</leftValueReference>
            <operator>StartsWith</operator>
            <rightValue>
                <stringValue>0Mw</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_Counters</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_Case_Count</name>
        <label>Check Case Count</label>
        <locationX>1422</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Check_Messaging_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Cases</defaultConnectorLabel>
        <rules>
            <name>At_least_1_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Load_Case_Routing_Config</targetReference>
            </connector>
            <label>At least 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Messaging_Count</name>
        <label>Check Messaging Count</label>
        <locationX>1422</locationX>
        <locationY>2414</locationY>
        <defaultConnector>
            <targetReference>Show_Success_Toast</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Messaging Sessions</defaultConnectorLabel>
        <rules>
            <name>At_least_1_Messaging</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MessagingCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Load_Messaging_Routing_Config</targetReference>
            </connector>
            <label>At least 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Records_Passed</name>
        <label>Check Records Passed</label>
        <locationX>736</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Select_Target</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ids Present</defaultConnectorLabel>
        <rules>
            <name>None_Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumRecords</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Ids_Passed</targetReference>
            </connector>
            <label>None Passed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Routing</name>
        <label>Check Routing</label>
        <locationX>1422</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Extract_Case_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Skills Routing</defaultConnectorLabel>
        <rules>
            <name>Skills_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_assignment_target</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Skills</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Selected_Skills</targetReference>
            </connector>
            <label>Skills Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Target_Type_Case</name>
        <label>Check Target Type</label>
        <locationX>906</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Route_Case_Work_to_Agent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Agent</defaultConnectorLabel>
        <rules>
            <name>QueueCaseTarget</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_assignment_target</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Queue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Case_Ids</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
        <rules>
            <name>SkillsCaseTarget</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_assignment_target</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Skills</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Route_Case_Work_to_Skills</targetReference>
            </connector>
            <label>Skills</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Target_Type_Messaging</name>
        <label>Check Target Type</label>
        <locationX>906</locationX>
        <locationY>2630</locationY>
        <defaultConnector>
            <targetReference>Route_Messaging_Work_to_Agent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Agent</defaultConnectorLabel>
        <rules>
            <name>QueueMessaging</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_assignment_target</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Queue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Messaging_Session_Ids</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
        <rules>
            <name>SkillsMessaging</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_assignment_target</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Skills</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Route_Messaging_Work_to_Skills</targetReference>
            </connector>
            <label>Skills</label>
        </rules>
    </decisions>
    <description>Supervisor Action to reassign work</description>
    <dynamicChoiceSets>
        <name>AgentList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>QueuesList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>SDO Service - Reassign Work {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDO Service - Reassign Work</label>
    <loops>
        <name>Loop_Case_Ids</name>
        <label>Loop Case Ids</label>
        <locationX>402</locationX>
        <locationY>1598</locationY>
        <collectionReference>Extract_Case_Ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Case_Owner_to_Queue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Cases_to_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Messaging_Session_Ids</name>
        <label>Loop Messaging Session Ids</label>
        <locationX>402</locationX>
        <locationY>2738</locationY>
        <collectionReference>Extract_Messaging_Ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Message_Session_Owner_to_Queue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Messaging_to_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected_Skills</name>
        <label>Loop Selected Skills</label>
        <locationX>1314</locationX>
        <locationY>566</locationY>
        <collectionReference>SkillsSelection.recordIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Skill_Requirement</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Extract_Case_Ids</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Needed to set a variable for Skills and Direct to Agent routing</description>
        <name>Load_Case_Routing_Config</name>
        <label>Load Case Routing Config</label>
        <locationX>906</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Target_Type_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SDO_Service_Tier_1_Cases</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QueueRoutingConfig</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Needed to set a variable for Skills and Direct to Agent routing</description>
        <name>Load_Messaging_Routing_Config</name>
        <label>Load Messaging Routing Config</label>
        <locationX>906</locationX>
        <locationY>2522</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Target_Type_Messaging</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SDO_Service_Chat</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QueueRoutingConfig</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Case_Owner_to_Queue</name>
        <label>Set Case Owner to Queue</label>
        <locationX>490</locationX>
        <locationY>1706</locationY>
        <connector>
            <targetReference>Loop_Case_Ids</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Show_Error_Toast</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Extract_Case_Ids</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Select_Queue</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Message_Session_Owner_to_Queue</name>
        <label>Set Message Session Owner to Queue</label>
        <locationX>490</locationX>
        <locationY>2846</locationY>
        <connector>
            <targetReference>Loop_Messaging_Session_Ids</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Show_Error_Toast</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Extract_Messaging_Ids</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Select_Queue</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <screens>
        <name>No_Ids_Passed</name>
        <label>No Ids Passed</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Work_Selected</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;No work was selected. Please try again.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Target</name>
        <label>Select Target</label>
        <locationX>1422</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Routing</targetReference>
        </connector>
        <fields>
            <name>Absence_Instructions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(68, 68, 68);&quot;&gt;Select Reassignment Target&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_assignment_target</name>
            <choiceReferences>Queue</choiceReferences>
            <choiceReferences>Skills</choiceReferences>
            <choiceReferences>Agent</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select assignment target</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Queue</name>
            <choiceReferences>QueuesList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Queue</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_assignment_target</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Queue</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SkillsSelection</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>SkillId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Skills</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>SkillRequirement</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_assignment_target</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Skills</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Agent</name>
            <choiceReferences>AgentList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Agent</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_assignment_target</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Agent</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Reassign Work</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>610</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Num_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Extract_Case_Ids</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Extract_Messaging_Ids</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MessagingCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ReassignCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SkillRequirementsDocs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SkillRequirement</objectType>
    </variables>
</Flow>
