force-app/main/default/flows/SDO_Service_LunaBot_ModifyContact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Hard_Address</name>
        <label>Hard Address</label>
        <locationX>536</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>Contact.MailingAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>123 Main Street, Evergreen, CO 80439</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_with_changes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_new_City</name>
        <label>Store new City</label>
        <locationX>404</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>Contact.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_State</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_new_Email</name>
        <label>Store new Email</label>
        <locationX>404</locationX>
        <locationY>662</locationY>
        <assignmentItems>
            <assignToReference>Contact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Street</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_new_Mobile_Number</name>
        <label>Store new Mobile Number</label>
        <locationX>404</locationX>
        <locationY>326</locationY>
        <assignmentItems>
            <assignToReference>Contact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_new_State</name>
        <label>Store new State</label>
        <locationX>404</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>Contact.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_ZIP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_new_Street</name>
        <label>Store new Street</label>
        <locationX>404</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Contact.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_City</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_new_ZIP</name>
        <label>Store new ZIP</label>
        <locationX>404</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>Contact.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ZIP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hard_Address</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Change_City</name>
        <label>Change City?</label>
        <locationX>536</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Change_State</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesChangeCity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>City</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_new_City</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Change_Email</name>
        <label>Change Email?</label>
        <locationX>536</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Change_Street</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesChangeEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_new_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Change_Phone</name>
        <label>Change Phone?</label>
        <locationX>536</locationX>
        <locationY>206</locationY>
        <defaultConnector>
            <targetReference>Change_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesChangePhone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_new_Mobile_Number</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Change_State</name>
        <label>Change State?</label>
        <locationX>536</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Change_ZIP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesChangeState</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_new_State</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Change_Street</name>
        <label>Change Street?</label>
        <locationX>536</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Change_City</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesChangeStreet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Street</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_new_Street</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Change_ZIP</name>
        <label>Change ZIP?</label>
        <locationX>536</locationX>
        <locationY>1886</locationY>
        <defaultConnector>
            <targetReference>Hard_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesChangeZIP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ZIP</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_new_ZIP</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Luna Bot - Modify Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Luna Bot - Modify Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Reload_Contact_to_fix_up_MailingAddress</name>
        <label>Reload Contact to fix up MailingAddress</label>
        <locationX>536</locationX>
        <locationY>2462</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>MailingAddress</queriedFields>
        <queriedFields>MailingLatitude</queriedFields>
        <queriedFields>MailingLongitude</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_with_changes</name>
        <label>Update Contact with changes</label>
        <locationX>536</locationX>
        <locationY>2342</locationY>
        <connector>
            <targetReference>Reload_Contact_to_fix_up_MailingAddress</targetReference>
        </connector>
        <inputReference>Contact</inputReference>
    </recordUpdates>
    <start>
        <locationX>818</locationX>
        <locationY>1816</locationY>
        <connector>
            <targetReference>Hard_Address</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ZIP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
