force-app/main/default/flows/SDO_OMS_Einstein_Bots_Create_RMA_Return_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Return_Order</name>
        <label>Create Return Order</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <actionName>createReturnOrder</actionName>
        <actionType>createReturnOrder</actionType>
        <connector>
            <targetReference>Get_Return_Order</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>returnOrderInput</name>
            <value>
                <elementReference>returnOrderInput</elementReference>
            </value>
        </inputParameters>
        <nameSegment>createReturnOrder</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Output_Return_Order_Number</name>
        <label>Output Return Order Number</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>ReturnOrderNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Return_Order.ReturnOrderNumber</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Return_Order_Input</name>
        <label>Return Order Input</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>returnOrderInput.orderSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductToReturn.OrderSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>returnOrderInput.returnOrderLifeCycleType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MANAGED</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>returnOrderInput.status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>returnOrderInput.returnOrderLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ReturnOrderLineItemInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Return_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Return_Order_Line_Item_Input</name>
        <label>Return Order Line Item Input</label>
        <locationX>182</locationX>
        <locationY>434</locationY>
        <assignmentItems>
            <assignToReference>ReturnOrderLineItemInput.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductToReturn.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReturnOrderLineItemInput.quantityExpected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuantityToReturn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReturnOrderLineItemInput.reasonForReturn</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReturnReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReturnOrderLineItemInput.canReduceShipping</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReturnShipping</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Order_Input</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_no_Shipping_Refund</name>
        <label>Set no Shipping Refund</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ReturnShipping</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Order_Line_Item_Input</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_refund_shipping</name>
        <label>Set refund shipping</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ReturnShipping</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Order_Line_Item_Input</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Replacement_Method</name>
        <label>Set Replacement Method</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Get_Return_Order.SDO_OMS_Replacement_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReplacementMethod</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Replacement_Reason</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Return_for_Product_Issue</name>
        <label>Return for Product Issue</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Set_no_Shipping_Refund</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No shipping refund</defaultConnectorLabel>
        <rules>
            <name>Yes_refund_shipping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReturnReason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Ordered Wrong Item</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_refund_shipping</targetReference>
            </connector>
            <label>Yes, refund shipping</label>
        </rules>
    </decisions>
    <description>Create Return Order
Bill Macaulay 10/23</description>
    <environments>Default</environments>
    <interviewLabel>Einstein Bots - Create RMA Return Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Einstein Bots - Create RMA Return Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Return_Order</name>
        <label>Get Return Order</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Replacement_Method</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Return_Order.returnOrderOutput.returnOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ReturnOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Replacement_Reason</name>
        <label>Update Replacement Reason</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Output_Return_Order_Number</targetReference>
        </connector>
        <inputReference>Get_Return_Order</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Return_for_Product_Issue</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ProductToReturn</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>QuantityToReturn</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ReplacementMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReturnOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>returnOrderInput</name>
        <apexClass>ConnectApi__ReturnOrderInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReturnOrderLineItemInput</name>
        <apexClass>ConnectApi__ReturnOrderLineItemInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReturnOrderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ReturnReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReturnShipping</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
