force-app/main/default/flows/SDO_Service_Messaging_User_On_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>used to evaluate the custom setting record to see if there is a custom setting record activated before moving forward</description>
        <name>Evaluate_process_automation_settings</name>
        <label>Evaluate process automation settings</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fire_Process_Automation_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.xDO_Tool_ProcessAutomationSwitch__c.xDO_Tool_ProcessAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phone_Number_Search</targetReference>
            </connector>
            <label>Fire Process Automation = True</label>
        </rules>
    </decisions>
    <description>Called when a new messaging user is created - this will usually be with a new Messaging Session or Voice Call</description>
    <interviewLabel>SDO Service - Messaging User - On Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDO Service - Messaging User - On Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Results</name>
        <label>Set Results</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Phone_Number_Search.MatchedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Phone_Number_Search.MatchedContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDO_Service_Lead__c</field>
            <value>
                <elementReference>Phone_Number_Search.MatchedLeadId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluate_process_automation_settings</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>MessageType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Text</stringValue>
            </value>
        </filters>
        <filters>
            <field>MessageType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Voice</stringValue>
            </value>
        </filters>
        <object>MessagingEndUser</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Searches for Contacts or Leads that match the phone number related to this Messaging User</description>
        <name>Phone_Number_Search</name>
        <label>Phone Number Search</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Set_Results</targetReference>
        </connector>
        <flowName>SDO_Service_Phone_Number_Search</flowName>
        <inputAssignments>
            <name>NumberToSearchWith</name>
            <value>
                <elementReference>$Record.MessagingPlatformKey</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
