force-app/main/default/flows/SDO_Service_KCS_Create_Article_For_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_CaseArticle_values</name>
        <label>Assign CaseArticle values</label>
        <locationX>678</locationX>
        <locationY>265</locationY>
        <assignmentItems>
            <assignToReference>caseArticle.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseArticle.KnowledgeArticleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newArticle.KnowledgeArticleId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_CaseArticle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Flag_Case_as_Article_Created</name>
        <label>Flag Case as Article Created</label>
        <locationX>324</locationX>
        <locationY>266</locationY>
        <assignmentItems>
            <assignToReference>case.SDO_Service_Article_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>recordIdDefault</name>
        <dataType>String</dataType>
        <value>
            <stringValue>5004S000001wYwoQAE</stringValue>
        </value>
    </constants>
    <interviewLabel>KCS - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>KCS - Create Article From Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_CaseArticle</name>
        <label>Create CaseArticle</label>
        <locationX>486</locationX>
        <locationY>273</locationY>
        <connector>
            <targetReference>Flag_Case_as_Article_Created</targetReference>
        </connector>
        <inputReference>caseArticle</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Load_Case_Data</name>
        <label>Load Case Data</label>
        <locationX>461</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Article_from_Case_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>case</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>SDO_Service_Close_Summary__c</queriedFields>
        <queriedFields>Product_Family_KB__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>SDO_Sub_Type__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>154</locationX>
        <locationY>273</locationY>
        <inputReference>case</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Load_Case_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Article_from_Case_Values</name>
        <label>Create Article from Case Values</label>
        <locationX>673</locationX>
        <locationY>70</locationY>
        <connector>
            <targetReference>Assign_CaseArticle_values</targetReference>
        </connector>
        <flowName>SDO_Service_KCS_Create_Article</flowName>
        <inputAssignments>
            <name>KCS_Cause</name>
            <value>
                <elementReference>case.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>KCS_Environment</name>
            <value>
                <elementReference>case.Product_Family_KB__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>KCS_Issue</name>
            <value>
                <elementReference>case.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>KCS_Resolution</name>
            <value>
                <elementReference>case.SDO_Service_Close_Summary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>KCS_Summary</name>
            <value>
                <elementReference>case.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>KCS_Title</name>
            <value>
                <elementReference>case.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Simple_Details</name>
            <value>
                <elementReference>case.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Simple_InternalComments</name>
            <value>
                <elementReference>case.SDO_Service_Close_Summary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Simple_Title</name>
            <value>
                <elementReference>case.Subject</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>newArticle</assignToReference>
            <name>newArticle</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>caseArticle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseArticle</objectType>
    </variables>
    <variables>
        <name>newArticle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Knowledge__kav</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>recordIdDefault</elementReference>
        </value>
    </variables>
</Flow>
