force-app/main/default/flows/SDO_Case_SendSurvey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Used to send survey</description>
        <name>Send_Survey_Case_Survey</name>
        <label>Send Survey (Case Survey)</label>
        <locationX>780</locationX>
        <locationY>436</locationY>
        <actionName>case_csat_nps_survey</actionName>
        <actionType>dynamicSendSurveyInvitation</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>personalInvitation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUnauthenticatedResponse</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipient</name>
            <value>
                <elementReference>varContact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>surveySubjectEntity</name>
            <value>
                <elementReference>VarCase</elementReference>
            </value>
        </inputParameters>
        <nameSegment>case_csat_nps_survey</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <description>autolaunched flow used as subflow in SDO Service - Case - Status Updated to send surveys to Case Contacts</description>
    <interviewLabel>SDO Case Send Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDO Case Send Survey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Case</name>
        <label>get_CaseRecord</label>
        <locationX>776</locationX>
        <locationY>260</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Survey_Case_Survey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>stores the value of the case Id coming from head flow to this sub flow</description>
        <name>var_CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>var_CaseId</elementReference>
        </value>
    </variables>
    <variables>
        <name>varContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>get_Case.ContactId</elementReference>
        </value>
    </variables>
</Flow>
