force-app/main/default/flows/SDO_Service_Case_Status_Updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_Status_Change</name>
        <label>Check Status Change</label>
        <locationX>534</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Resume_SLA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other State</defaultConnectorLabel>
        <rules>
            <name>To_Waiting_on_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pause_SLA</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>To Waiting on Customer</label>
        </rules>
        <rules>
            <name>To_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Case_Have_Contact</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>To Closed</label>
        </rules>
        <rules>
            <name>To_Escalated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Priority_Queue</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>To Escalated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Case_Have_Contact</name>
        <label>Does Case Have Contact?</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Run_Entitlement_Process_criteria</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Contact_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Launch_Case_Survey_Flow</targetReference>
            </connector>
            <label>Case Contact != Null</label>
        </rules>
    </decisions>
    <decisions>
        <description>used to evaluate the custom setting record to see if there is a custom setting record activated before moving forward</description>
        <name>Evaluate_process_automation_settings</name>
        <label>Evaluate process automation settings</label>
        <locationX>864</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fire_Process_Automation_True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.xDO_Tool_ProcessAutomationSwitch__c.xDO_Tool_ProcessAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.analyticsdemo_batch_id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Status_Change</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Fire Process Automation = True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Run_Entitlement_Process_criteria</name>
        <label>Run Entitlement Process criteria</label>
        <locationX>446</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Send_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Run_Entitlement_Closure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EntitlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SlaExitDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Entitlement_Milestone_processs</targetReference>
            </connector>
            <label>Run Entitlement Closure</label>
        </rules>
    </decisions>
    <description>Triggered when the case status changes</description>
    <environments>Default</environments>
    <formulas>
        <name>NumberToUse</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!$Record.Contact.MobilePhone},{!$Record.Contact.Phone})</expression>
    </formulas>
    <interviewLabel>SDO Service - Case - Status Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDO Service - Case - Status Updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Priority_Queue</name>
        <label>Get Priority Queue</label>
        <locationX>754</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Escalated_and_Priority_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>SDO_Service</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Priority</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Pause_SLA</name>
        <label>Pause SLA</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>IsStopped</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Resume_SLA</name>
        <label>Resume SLA</label>
        <locationX>534</locationX>
        <locationY>1439</locationY>
        <inputAssignments>
            <field>IsStopped</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Escalated_and_Priority_Queue</name>
        <label>Set Escalated and Priority Queue</label>
        <locationX>754</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Resume_SLA</targetReference>
        </connector>
        <inputAssignments>
            <field>IsEscalated</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Priority_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>738</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluate_process_automation_settings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Launch_Case_Survey_Flow</name>
        <label>Launch Case Survey Flow</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Run_Entitlement_Process_criteria</targetReference>
        </connector>
        <flowName>SDO_Case_SendSurvey</flowName>
        <inputAssignments>
            <name>var_CaseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Run_Entitlement_Milestone_processs</name>
        <label>Run Entitlement Milestone processs</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Send_Message</targetReference>
        </connector>
        <flowName>SDO_Case_EntitlementCloseProcess</flowName>
        <inputAssignments>
            <name>varCaseId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Message</name>
        <label>Send Message</label>
        <locationX>446</locationX>
        <locationY>1139</locationY>
        <flowName>SDO_Service_Send_Message</flowName>
        <inputAssignments>
            <name>ContextRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NumberToSendTo</name>
            <value>
                <elementReference>NumberToUse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordToAssociateTo</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TemplateToUse</name>
            <value>
                <stringValue>Case_Closed_Status_Update</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
