force-app/main/default/flows/SDO_Service_KCS_Create_Article.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Post_to_Object_Feed</name>
        <label>Create Post to Object Feed</label>
        <locationX>1334</locationX>
        <locationY>471</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Article generated: {!newArticle.Title}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>internalUsers</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Submit_Article_for_Approval</name>
        <label>Submit Article for Approval</label>
        <locationX>1134</locationX>
        <locationY>256</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Get_Article_Fields</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>newArticle.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Channel_Values</name>
        <label>Assign Channel Values</label>
        <locationX>944</locationX>
        <locationY>869</locationY>
        <assignmentItems>
            <assignToReference>newArticle.IsVisibleInApp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>checkVisible_in_Internal_App</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newArticle.IsVisibleInCsp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>checkVisible_to_Customer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newArticle.IsVisibleInPkb</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>checkVisible_in_Public_Knowledge_Base</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newArticle.IsVisibleInPrm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>checkVisible_to_Partner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newArticle.Language</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_URL_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_URL_Name</name>
        <label>Assign URL Name</label>
        <locationX>1127</locationX>
        <locationY>865</locationY>
        <assignmentItems>
            <assignToReference>newArticle.UrlName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>URLNameRegex</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Article</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fields_on_KCS_Article</name>
        <label>Set Fields on KCS Article</label>
        <locationX>939</locationX>
        <locationY>690</locationY>
        <assignmentItems>
            <assignToReference>newArticle.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputArticle_TitleKCS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newArticle.Summary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputArticle_SummaryKCS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newArticle.KCSArticle_Issue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputIssueKCS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newArticle.KCSArticle_Environment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputEnvironmentKCS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newArticle.KCSArticle_Resolution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputResolutionKCS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newArticle.KCSArticle_Cause__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputCauseKCS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newArticle.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>kcsRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newArticle.UrlName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>URLNameRegex</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenChannels</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fields_on_Simple_Article</name>
        <label>Set Fields on Simple Article</label>
        <locationX>743</locationX>
        <locationY>560</locationY>
        <assignmentItems>
            <assignToReference>newArticle.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputArticle_TitleSimple</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newArticle.FAQ_Answer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputDetailsSimple</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newArticle.FAQ_Internal_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputInternal_CommentsSimple</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newArticle.Chat_Answer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputChat_AnswerSimple</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newArticle.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>simpleRecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newArticle.UrlName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>URLNameRegex</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenChannels</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceKCSType</name>
        <choiceText>KCS Article</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>kcsRecordTypeId</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceSimpleArticle</name>
        <choiceText>Simple</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>simpleRecordTypeID</elementReference>
        </value>
    </choices>
    <constants>
        <name>recordIdDefault</name>
        <dataType>String</dataType>
        <value>
            <stringValue>5004S000001wYwoQAE</stringValue>
        </value>
    </constants>
    <constants>
        <name>textKCSCauseDefault</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <constants>
        <name>textKCSEnvironmentDefault</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <constants>
        <name>textKCSIssueDefault</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <constants>
        <name>textKCSResolutionDefault</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <constants>
        <name>textKCSSummaryDefault</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <constants>
        <name>textKCSTitleDefault</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <constants>
        <name>textSimpleChatAnswerDefault</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <constants>
        <name>textSimpleDetailsDefault</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Simple Details Default</stringValue>
        </value>
    </constants>
    <constants>
        <name>textSimpleInternalCommentsDefault</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <constants>
        <name>textSimpleTitleDefault</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <constants>
        <name>visibleDefault</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <decisions>
        <name>Simple_or_Complex</name>
        <label>Simple or Complex</label>
        <locationX>826</locationX>
        <locationY>246</locationY>
        <defaultConnector>
            <targetReference>screenKCS_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Complex - KCS</defaultConnectorLabel>
        <rules>
            <name>radioChoiceSimple</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>radioArticle_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceSimpleArticle</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenSimple_Article</targetReference>
            </connector>
            <label>Simple - FAQ</label>
        </rules>
    </decisions>
    <decisions>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval?</label>
        <locationX>1121</locationX>
        <locationY>447</locationY>
        <defaultConnector>
            <targetReference>Get_Article_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Submit_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>toggleSubmitForApproval.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Article_for_Approval</targetReference>
            </connector>
            <label>Submit - Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>URLNameRegex</name>
        <dataType>String</dataType>
        <expression>Substitute ( {!newArticle.Title}, &apos; &apos;, &apos;-&apos;)</expression>
    </formulas>
    <interviewLabel>KCS - Create Article {!$Flow.CurrentDateTime}</interviewLabel>
    <label>KCS - Create Article</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Article</name>
        <label>Create Article</label>
        <locationX>1130</locationX>
        <locationY>626</locationY>
        <connector>
            <targetReference>Submit_for_Approval</targetReference>
        </connector>
        <inputReference>newArticle</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Article_Fields</name>
        <label>Get Article Fields</label>
        <locationX>1335</locationX>
        <locationY>319</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Post_to_Object_Feed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newArticle.Id</elementReference>
            </value>
        </filters>
        <object>Knowledge__kav</object>
        <outputReference>newArticle</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ArticleNumber</queriedFields>
        <queriedFields>KnowledgeArticleId</queriedFields>
        <queriedFields>Title</queriedFields>
    </recordLookups>
    <screens>
        <name>screenChannels</name>
        <label>Channels</label>
        <locationX>740</locationX>
        <locationY>864</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Channel_Values</targetReference>
        </connector>
        <fields>
            <name>checkVisible_in_Internal_App</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>visibleInPortals</elementReference>
            </defaultValue>
            <fieldText>Visible in Internal App</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>checkVisible_in_Public_Knowledge_Base</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>visibleInPortals</elementReference>
            </defaultValue>
            <fieldText>Visible in Public Knowledge Base</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>checkVisible_to_Customer</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>visibleInPortals</elementReference>
            </defaultValue>
            <fieldText>Visible to Customer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>checkVisible_to_Partner</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>visibleInPortals</elementReference>
            </defaultValue>
            <fieldText>Visible to Partner</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>toggleSubmitForApproval</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Submit for Approval?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Submit</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenKCS_Article_Name</name>
        <label>KCS Article Name</label>
        <locationX>940</locationX>
        <locationY>564</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Fields_on_KCS_Article</targetReference>
        </connector>
        <fields>
            <name>inputArticle_TitleKCS</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>KCS_Title</elementReference>
            </defaultValue>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>inputArticle_SummaryKCS</name>
            <defaultValue>
                <stringValue>{!KCS_Summary}</stringValue>
            </defaultValue>
            <fieldText>Summary</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenKCS_Fields</name>
        <label>KCS Fields</label>
        <locationX>942</locationX>
        <locationY>437</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>screenKCS_Article_Name</targetReference>
        </connector>
        <fields>
            <name>inputIssueKCS</name>
            <defaultValue>
                <stringValue>{!KCS_Issue}</stringValue>
            </defaultValue>
            <fieldText>Issue</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>inputEnvironmentKCS</name>
            <defaultValue>
                <stringValue>{!KCS_Environment}</stringValue>
            </defaultValue>
            <fieldText>Environment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>inputResolutionKCS</name>
            <defaultValue>
                <stringValue>{!KCS_Resolution}</stringValue>
            </defaultValue>
            <fieldText>Resolution</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>inputCauseKCS</name>
            <defaultValue>
                <stringValue>{!KCS_Cause}</stringValue>
            </defaultValue>
            <fieldText>Cause</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenSelect_Article_Type</name>
        <label>Select Article Type</label>
        <locationX>651</locationX>
        <locationY>235</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Simple_or_Complex</targetReference>
        </connector>
        <fields>
            <name>labelSimpleComplex</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Is this a &lt;/span&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Simple&lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; or a &lt;/span&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Complex&lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; resolution to the Case?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Simple&lt;/b&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;: question and answer. Common question.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Complex&lt;/b&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;: multi-step troubleshooting or environmental factors.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>radioArticle_Type</name>
            <choiceReferences>choiceSimpleArticle</choiceReferences>
            <choiceReferences>choiceKCSType</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choiceSimpleArticle</defaultSelectedChoiceReference>
            <fieldText>Article Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenSimple_Article</name>
        <label>Simple Article</label>
        <locationX>742</locationX>
        <locationY>427</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Fields_on_Simple_Article</targetReference>
        </connector>
        <fields>
            <name>inputArticle_TitleSimple</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Simple_Title</elementReference>
            </defaultValue>
            <fieldText>Article Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inputDetailsSimple</name>
            <defaultValue>
                <stringValue>{!Simple_Details}</stringValue>
            </defaultValue>
            <fieldText>Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inputInternal_CommentsSimple</name>
            <defaultValue>
                <stringValue>{!Simple_InternalComments}</stringValue>
            </defaultValue>
            <fieldText>Internal Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>inputChat_AnswerSimple</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Simple_ChatAnswer</elementReference>
            </defaultValue>
            <fieldText>Chat Answer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>134</locationX>
        <locationY>218</locationY>
        <connector>
            <targetReference>Get_Knowledge_Record_Type_IDs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Knowledge_Record_Type_IDs</name>
        <label>Get Knowledge Record Type IDs</label>
        <locationX>500</locationX>
        <locationY>237</locationY>
        <connector>
            <targetReference>screenSelect_Article_Type</targetReference>
        </connector>
        <flowName>SDO_Service_KCS_Get_Knowledge_Record_Type_IDs</flowName>
        <outputAssignments>
            <assignToReference>kcsRecordTypeId</assignToReference>
            <name>kcsRecordTypeId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>simpleRecordTypeID</assignToReference>
            <name>simpleRecordTypeId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>article</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Knowledge__ka</objectType>
    </variables>
    <variables>
        <name>caseArticle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseArticle</objectType>
    </variables>
    <variables>
        <name>KCS_Cause</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>textKCSCauseDefault</elementReference>
        </value>
    </variables>
    <variables>
        <name>KCS_Environment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>textKCSEnvironmentDefault</elementReference>
        </value>
    </variables>
    <variables>
        <name>KCS_Issue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>textKCSIssueDefault</elementReference>
        </value>
    </variables>
    <variables>
        <name>KCS_Resolution</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>textKCSResolutionDefault</elementReference>
        </value>
    </variables>
    <variables>
        <name>KCS_Summary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>textKCSSummaryDefault</elementReference>
        </value>
    </variables>
    <variables>
        <name>KCS_Title</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>textKCSTitleDefault</elementReference>
        </value>
    </variables>
    <variables>
        <name>kcsRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newArticle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Knowledge__kav</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>recordIdDefault</elementReference>
        </value>
    </variables>
    <variables>
        <name>Simple_ChatAnswer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>textSimpleChatAnswerDefault</elementReference>
        </value>
    </variables>
    <variables>
        <name>Simple_Details</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>textSimpleDetailsDefault</elementReference>
        </value>
    </variables>
    <variables>
        <name>Simple_InternalComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>textSimpleInternalCommentsDefault</elementReference>
        </value>
    </variables>
    <variables>
        <name>Simple_Title</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>textSimpleTitleDefault</elementReference>
        </value>
    </variables>
    <variables>
        <name>simpleRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>visibleInPortals</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>visibleDefault</elementReference>
        </value>
    </variables>
</Flow>
