force-app/main/default/flows/SDO_Service_Create_Change_From_Problem.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Count_of_Assets</name>
        <label>Count of Assets</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>assetCounter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Check_for_Assets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Asset_Related_Issues_for_Change</name>
        <label>Create Asset Related Issues for Change</label>
        <locationX>138</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>newChangeRelatedAsset.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Assets.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newChangeRelatedAsset.ChangeRequestId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Change_Request</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newChangeRelatedAsset.ImpactLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newChangeRelatedAsset.RelationshipType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Broke Item</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>allChangeRelatedAssets</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newChangeRelatedAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Assets</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_Assets</name>
        <label>Are there Assets?</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Create_Change_Request_Related_Issue_No_Assets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assetCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Assets</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This flow is used to create a Change from a Problem, associate any assets tied to the Problem to the Change, and then relate the Problem and Change in the corresponding join object.</description>
    <dynamicChoiceSets>
        <name>varChangeType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ChangeType</picklistField>
        <picklistObject>ChangeRequest</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varImpact</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Impact</picklistField>
        <picklistObject>Problem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varPriority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Problem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varRiskLevel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RiskLevel</picklistField>
        <picklistObject>ChangeRequest</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Create Change From Problem {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Change From Problem</label>
    <loops>
        <name>Loop_Through_Assets</name>
        <label>Loop Through Assets</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <collectionReference>Check_for_Assets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Asset_Related_Issues_for_Change</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Assets_for_Change</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Assets_for_Change</name>
        <label>Create Assets for Change</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Create_Change_Request_Related_Issue</targetReference>
        </connector>
        <inputReference>allChangeRelatedAssets</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Change_Request</name>
        <label>Create Change Request</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Check_for_Assets</targetReference>
        </connector>
        <inputAssignments>
            <field>Category</field>
            <value>
                <elementReference>recordId.Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChangeType</field>
            <value>
                <elementReference>varChangeType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Impact</field>
            <value>
                <elementReference>varImpact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskLevel</field>
            <value>
                <elementReference>Risk_Level</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <object>ChangeRequest</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Change_Request_Related_Issue</name>
        <label>Create Change Request Related Issue</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <inputAssignments>
            <field>ChangeRequestId</field>
            <value>
                <elementReference>Create_Change_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedIssueId</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelationshipType</field>
            <value>
                <stringValue>Caused By</stringValue>
            </value>
        </inputAssignments>
        <object>ChangeRequestRelatedIssue</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Change_Request_Related_Issue_No_Assets</name>
        <label>Create Change Request Related Issue</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <inputAssignments>
            <field>ChangeRequestId</field>
            <value>
                <elementReference>Create_Change_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedIssueId</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelationshipType</field>
            <value>
                <stringValue>Caused By</stringValue>
            </value>
        </inputAssignments>
        <object>ChangeRequestRelatedIssue</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Check_for_Assets</name>
        <label>Check for Assets</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_of_Assets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProblemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProblemRelatedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Change_Request_Screen</name>
        <label>Create Change Request</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Change_Request</targetReference>
        </connector>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Subject</elementReference>
            </defaultValue>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <defaultValue>
                <stringValue>[Enter change request details here]</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Impact</name>
            <choiceReferences>varImpact</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Impact</elementReference>
            </defaultValue>
            <fieldText>Impact</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Priority</name>
            <choiceReferences>varPriority</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Priority</elementReference>
            </defaultValue>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Risk_Level</name>
            <choiceReferences>varRiskLevel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Risk Level</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Change_Type</name>
            <choiceReferences>varChangeType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Change Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Change_Request_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>allChangeRelatedAssets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ChangeRequestRelatedItem</objectType>
    </variables>
    <variables>
        <name>assetCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>newChangeRelatedAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ChangeRequestRelatedItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Problem</objectType>
    </variables>
</Flow>
