force-app/main/default/flows/SDO_Scheduler_Book_Appointment_from_Invitation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls an invocable action to book the appointment for a standard or credentialed Experience Cloud user and stores the new service appointment ID in ServiceAppointment.</description>
        <name>SaveAppointment</name>
        <label>Save Appointment</label>
        <locationX>1150</locationX>
        <locationY>1490</locationY>
        <actionName>saveAppointment</actionName>
        <actionType>saveAppointment</actionType>
        <connector>
            <targetReference>contact_id_present</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ScreenReviewAppointment</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>serviceAppointmentFields</name>
            <value>
                <elementReference>ServiceAppointmentFields</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceResources</name>
            <value>
                <elementReference>ServiceResources</elementReference>
            </value>
        </inputParameters>
        <nameSegment>saveAppointment</nameSegment>
        <outputParameters>
            <assignToReference>ServiceAppointment.Id</assignToReference>
            <name>serviceAppointmentId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Calls an invocable action to book the appointment for a guest Experience Cloud user and stores the new service appointment ID in ServiceAppointment.</description>
        <name>SaveGuestAppointment</name>
        <label>Save Guest Appointment</label>
        <locationX>182</locationX>
        <locationY>2186</locationY>
        <actionName>saveAppointment</actionName>
        <actionType>saveAppointment</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Appointment_Conformation</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetStageToGuest</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>lead</name>
            <value>
                <elementReference>GuestLead</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceAppointmentFields</name>
            <value>
                <elementReference>ServiceAppointmentFields</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceResources</name>
            <value>
                <elementReference>ServiceResources</elementReference>
            </value>
        </inputParameters>
        <nameSegment>saveAppointment</nameSegment>
        <outputParameters>
            <assignToReference>ServiceAppointment.Id</assignToReference>
            <name>serviceAppointmentId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Sets ValidationErrors to &quot;Error in Get Records.&quot;</description>
        <name>Fault_Message</name>
        <label>Fault Message</label>
        <locationX>1986</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FaultMessageStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ScreenSelectAppointmentTimeSlot</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets attributes for the GuestLead record variable to null.</description>
        <name>InitializeGuestLead</name>
        <label>Initialize GuestLead</label>
        <locationX>182</locationX>
        <locationY>1370</locationY>
        <assignmentItems>
            <assignToReference>GuestLead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GuestLead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GuestLead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GuestLead.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GuestLead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetStageToGuest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the ServiceAppointment record variable&apos;s parent record ID to the parentRecordId passed into the flow. Sets other Service Appointment attributes to null.</description>
        <name>InitializeServiceAppointment</name>
        <label>Initialize ServiceAppointment</label>
        <locationX>1463</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parentRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.AdditionalInformation</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ContactId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Comments</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.AppointmentType</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Street</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.City</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.State</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.PostalCode</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Country</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ArrivalWindowStartTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ArrivalWindowEndTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.IsAnonymousBooking</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>SetStageToInvitatioin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set WorkTypeGroupId as Invitation Topic</description>
        <name>Set_Work_Type_Group_Id</name>
        <label>Set Work Type Group Id</label>
        <locationX>556</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>WorkTypeGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AppointmentInvitation.AppointmentTopicId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenSelectAppointmentTimeSlot</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Company field for LeadGuest to the DefaultCompanyValue constant.</description>
        <name>SetLeadGuestCompanyToDefault</name>
        <label>Set LeadGuest Company to Default</label>
        <locationX>50</locationX>
        <locationY>1850</locationY>
        <assignmentItems>
            <assignToReference>GuestLead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DefaultCompanyValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the flow&apos;s current stage to the GuestUserStage</description>
        <name>SetStageToGuest</name>
        <label>Set Stage to Guest</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GuestUserStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenReviewGuestAppointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the flow&apos;s current stage to the InvitationStage.</description>
        <name>SetStageToInvitatioin</name>
        <label>Set Stage to Invitation</label>
        <locationX>1463</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvitationStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsInvitationKeyFormatValid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This will populate the fault message from Get Appointment Invitation action. The validation is fed to the confirmation screen.</description>
        <name>SetValidationErrors</name>
        <label>Set Validation Errors</label>
        <locationX>1463</locationX>
        <locationY>2678</locationY>
        <assignmentItems>
            <assignToReference>StatusCatagory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessageType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Appointment_Conformation</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Stores the default value for GuestLead&apos;s company name. The default value is &quot;Not Provided&quot;.</description>
        <name>DefaultCompanyValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Provided</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Determines whether the appointment invitation topic type is WorkTypeGroup or WorkType. Depending on the type, set the appropriate variable.</description>
        <name>CheckAppointmentInvitationTopicType</name>
        <label>What Type of Topic?</label>
        <locationX>952</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>ScreenSelectAppointmentTimeSlot</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid (Default)</defaultConnectorLabel>
        <rules>
            <name>WorkTypeGroup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AppointmentInvitation.AppointmentTopicType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WorkTypeGroup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Work_Type_Group_Id</targetReference>
            </connector>
            <label>Work Type Group</label>
        </rules>
        <rules>
            <name>Work_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AppointmentInvitation.AppointmentTopicType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WorkType</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetWorkType</targetReference>
            </connector>
            <label>Work Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>contact_id_present</name>
        <label>contact id present?</label>
        <locationX>1150</locationX>
        <locationY>1610</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Appointment_Conformation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContactIdYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_SA_Contact_Id</targetReference>
            </connector>
            <label>ContactIdYes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the GuestLead has a value for the Company field.</description>
        <name>DoesGuestHaveAssociatedCompany</name>
        <label>Does Guest Have Associated Company?</label>
        <locationX>182</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>CreateLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes (Default)</defaultConnectorLabel>
        <rules>
            <name>NoAssociatedCompany</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GuestLead.Company</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetLeadGuestCompanyToDefault</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the invitation key format is valid.</description>
        <name>IsInvitationKeyFormatValid</name>
        <label>Is Invitation Key Format Valid?</label>
        <locationX>1463</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>SetValidationErrors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>ValidInvitationKeyFormat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InvitationKeyRegex</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAppointmentInvitation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the invitation is active or expired.</description>
        <name>IsInvitationValid</name>
        <label>Is Invitation Valid?</label>
        <locationX>413</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>CheckAppointmentInvitationTopicType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes (Default)</defaultConnectorLabel>
        <rules>
            <name>InvalidInvitation</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>AppointmentInvitation.UrlExpiryDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AppointmentInvitation.UrlExpiryDate</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>AppointmentInvitation.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetValidationErrors</targetReference>
            </connector>
            <label>Invalid</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the user is a guest user, a standard user, or a credentialed Experience cloud user.</description>
        <name>WhatTypeUser</name>
        <label>What Type of User?</label>
        <locationX>952</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>GetContactRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Credentialed Experience Cloud (Default)</defaultConnectorLabel>
        <rules>
            <name>GuestUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InitializeGuestLead</targetReference>
            </connector>
            <label>Guest</label>
        </rules>
        <rules>
            <name>StandardUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenReviewAppointment</targetReference>
            </connector>
            <label>Standard</label>
        </rules>
    </decisions>
    <formulas>
        <description>Define the error message type to be shown on the screen. This formula will validate the invitation record.</description>
        <name>ErrorMessageType</name>
        <dataType>String</dataType>
        <expression>IF(
            !{!InvitationKeyRegex},
            &apos;InvalidInvitation&apos;,
            IF(
            !{!AppointmentInvitation.IsActive},
            &apos;InactiveInvitation&apos;,
            IF(
            {!AppointmentInvitation.UrlExpiryDate} &lt;  {!$Flow.CurrentDate},
            &apos;ExpiredInvitation&apos;,
            &apos;InvalidInvitation&apos;
            )
            )
            )</expression>
    </formulas>
    <formulas>
        <description>Compares the invitation key to a valid invitation key format and returns True if it matches.</description>
        <name>InvitationKeyRegex</name>
        <dataType>Boolean</dataType>
        <expression>REGEX({!invitationKey}, &quot;[0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}&quot;)</expression>
    </formulas>
    <formulas>
        <description>Gets the contact ID of the credentialed Experience Cloud user running the flow.</description>
        <name>UserContactId</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <interviewLabel>Book Appointment from Invitation {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Book Appointment from Invitation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Appointments</processType>
    <recordCreates>
        <description>Creates a lead record with the company, email, first name, last name, and phone stored in GuestUser and stores the new lead ID in GuestUser.</description>
        <name>CreateLead</name>
        <label>Create Lead</label>
        <locationX>182</locationX>
        <locationY>2066</locationY>
        <assignRecordIdToReference>GuestLead.Id</assignRecordIdToReference>
        <connector>
            <targetReference>SaveGuestAppointment</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetStageToGuest</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>GuestLead.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>GuestLead.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>GuestLead.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>GuestLead.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>GuestLead.Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <description>Gets the active, unexpired appointment invitation with the invitation key specified as an input parameter when the flow is called.</description>
        <name>GetAppointmentInvitation</name>
        <label>Get Appointment Invitation</label>
        <locationX>413</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsInvitationValid</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InvitationIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invitationKey</elementReference>
            </value>
        </filters>
        <object>AppointmentInvitation</object>
        <outputReference>AppointmentInvitation</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AppointmentTopicId</queriedFields>
        <queriedFields>BookingStartDate</queriedFields>
        <queriedFields>BookingEndDate</queriedFields>
        <queriedFields>AppointmentTopicType</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>UrlExpiryDate</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets the ID of the contact that matches the UserContactID of the credentialed Experience Cloud user and stores the associated account ID in the Service Appointment&apos;s parent record ID field.</description>
        <name>GetContactRecord</name>
        <label>Get Contact for Experience Cloud User</label>
        <locationX>1722</locationX>
        <locationY>1370</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ScreenReviewAppointment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ServiceAppointment.ParentRecordId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Work Type record if appointment invitation topic type is Work Type</description>
        <name>GetWorkType</name>
        <label>Get Work Type</label>
        <locationX>820</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ScreenSelectAppointmentTimeSlot</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AppointmentInvitation.AppointmentTopicId</elementReference>
            </value>
        </filters>
        <object>WorkType</object>
        <outputReference>WorkType</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BlockTimeAfterAppointment</queriedFields>
        <queriedFields>BlockTimeBeforeAppointment</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_SA_Contact_Id</name>
        <label>update SA Contact Id</label>
        <locationX>1018</locationX>
        <locationY>1730</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Appointment_Conformation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>UserContactId</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>Appointment Confirmation Screen. This screen is displayed if the appointment is created successfully.</description>
        <name>Appointment_Conformation</name>
        <label>Appointment Conformation</label>
        <locationX>1463</locationX>
        <locationY>2798</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirm_Appointment</name>
            <extensionName>runtime_appointmentbooking:flowConfirm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>category</name>
                <value>
                    <elementReference>StatusCatagory</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Allows the flow user who&apos;s a standard or credentialed Experience Cloud user to review the appointment settings and stores a JSON string containing the appointment fields in ServiceAppointmentFields.</description>
        <name>ScreenReviewAppointment</name>
        <label>Review Appointment</label>
        <locationX>1150</locationX>
        <locationY>1370</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SaveAppointment</targetReference>
        </connector>
        <fields>
            <name>ComponentReviewAppointment</name>
            <extensionName>runtime_appointmentbooking:flowReviewIO</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>appointmentType</name>
                <value>
                    <elementReference>ServiceAppointment.AppointmentType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactId</name>
                <value>
                    <elementReference>ServiceAppointment.ContactId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>additionalInformation</name>
                <value>
                    <elementReference>ServiceAppointment.AdditionalInformation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>ServiceAppointment.City</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comments</name>
                <value>
                    <elementReference>ServiceAppointment.Comments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>ServiceAppointment.Country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>endDateTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedEndTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>ServiceAppointment.PostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>startDateTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>state</name>
                <value>
                    <elementReference>ServiceAppointment.State</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>ServiceAppointment.Street</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>ServiceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>WorkTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isAnonymousBooking</name>
                <value>
                    <elementReference>ServiceAppointment.IsAnonymousBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveErrors</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceAppointmentFields</name>
                <value>
                    <elementReference>ServiceAppointmentFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResources</name>
                <value>
                    <elementReference>ServiceResources</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowResourceSection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>ValidationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>appointmentInvitationId</name>
                <value>
                    <elementReference>AppointmentInvitation.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeId</name>
                <value>
                    <elementReference>WorkType.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointmentFields</assignToReference>
                <name>serviceAppointmentFields</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceResources</assignToReference>
                <name>serviceResources</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ValidationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Allows an Experience Cloud guest user to review the appointment settings and stores a JSON string containing the appointment fields in ServiceAppointmentFields.</description>
        <name>ScreenReviewGuestAppointment</name>
        <label>Review Guest Appointment</label>
        <locationX>182</locationX>
        <locationY>1610</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DoesGuestHaveAssociatedCompany</targetReference>
        </connector>
        <fields>
            <name>ComponentReviewGuestAppointment</name>
            <extensionName>runtime_appointmentbooking:flowReview</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>appointmentType</name>
                <value>
                    <elementReference>ServiceAppointment.AppointmentType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactId</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>additionalInformation</name>
                <value>
                    <elementReference>ServiceAppointment.AdditionalInformation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>ServiceAppointment.City</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comments</name>
                <value>
                    <elementReference>ServiceAppointment.Comments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>ServiceAppointment.Country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>endDateTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedEndTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>ServiceAppointment.PostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>startDateTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>state</name>
                <value>
                    <elementReference>ServiceAppointment.State</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>ServiceAppointment.Street</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>ServiceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>WorkTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isAnonymousBooking</name>
                <value>
                    <elementReference>ServiceAppointment.IsAnonymousBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveErrors</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceAppointmentFields</name>
                <value>
                    <elementReference>ServiceAppointmentFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isGuestUser</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lead</name>
                <value>
                    <elementReference>GuestLead</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResources</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>ValidationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>appointmentInvitationId</name>
                <value>
                    <elementReference>AppointmentInvitation.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointmentFields</assignToReference>
                <name>serviceAppointmentFields</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>GuestLead</assignToReference>
                <name>lead</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ValidationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays the time slots associated with the appointment invitation and stores the results in ServiceAppointment, ServiceResourceId, ServiceResources, and WorkTypeGroup. Stores validation errors in ValidationErrors.</description>
        <name>ScreenSelectAppointmentTimeSlot</name>
        <label>Set Appointment Time Slot</label>
        <locationX>952</locationX>
        <locationY>1130</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>WhatTypeUser</targetReference>
        </connector>
        <fields>
            <name>ComponentSelectAppointmentTimeSlot</name>
            <extensionName>runtime_appointmentbooking:flowTimeslot</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>AppointmentInvitation.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>WorkTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isAnonymousBooking</name>
                <value>
                    <elementReference>ServiceAppointment.IsAnonymousBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedStartTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedEndTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedEndTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isHideSkip</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showTimeZonePicklist</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isInbound</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>ValidationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>availabilityEndDate</name>
                <value>
                    <elementReference>AppointmentInvitation.BookingEndDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>availabilityStartDate</name>
                <value>
                    <elementReference>AppointmentInvitation.BookingStartDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>changePrimary</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>ServiceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>appointmentInvitationId</name>
                <value>
                    <elementReference>AppointmentInvitation.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResources</name>
                <value>
                    <elementReference>ServiceResources</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invitationFlowType</name>
                <value>
                    <stringValue>InvitationBooking</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workType</name>
                <value>
                    <elementReference>WorkType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveErrors</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
                <name>selectedEndTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
                <name>selectedStartTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceResourceId</assignToReference>
                <name>serviceResourceId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
                <name>serviceTerritoryId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>WorkTypeGroupId</assignToReference>
                <name>workTypeGroupId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceResources</assignToReference>
                <name>serviceResources</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ValidationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>runtime_appointmentbooking__Inv_Book</sourceTemplate>
    <stages>
        <name>AppointmentInviteeStage</name>
        <isActive>true</isActive>
        <label>Appointment Invitee Stage</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>ConfirmationStage</name>
        <isActive>true</isActive>
        <label>Confirmation Stage</label>
        <stageOrder>7</stageOrder>
    </stages>
    <stages>
        <name>FaultMessageStage</name>
        <isActive>true</isActive>
        <label>FaultMessageStage</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <description>Stores the label displayed to the flow user for the Guest</description>
        <name>GuestUserStage</name>
        <isActive>true</isActive>
        <label>Review Guest Appointment</label>
        <stageOrder>5</stageOrder>
    </stages>
    <stages>
        <description>Stores the label displayed to the flow user for the first stage on the flow screen progress indicator.</description>
        <name>InvitationStage</name>
        <isActive>true</isActive>
        <label>Get Appointment Invitation</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>InviteeIterationStage</name>
        <isActive>true</isActive>
        <label>Invitee Iteration Stage</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>ReviewStage</name>
        <isActive>true</isActive>
        <label>Review Stage</label>
        <stageOrder>6</stageOrder>
    </stages>
    <stages>
        <name>TimeSlotStage</name>
        <isActive>true</isActive>
        <label>Time Slot Stage</label>
        <stageOrder>4</stageOrder>
    </stages>
    <start>
        <locationX>1337</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>InitializeServiceAppointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the appointment invitation to book an appointment from.</description>
        <name>AppointmentInvitation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AppointmentInvitation</objectType>
    </variables>
    <variables>
        <description>This variable holds Appointment Invitation Id</description>
        <name>AppointmentInvitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores information about a guest Experience Cloud user.</description>
        <name>GuestLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <description>Stores the appointment invitation key specified as an input parameter when the flow is called.</description>
        <name>invitationKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable is set to true when there are participants present for a given appointment invitation.</description>
        <name>IsParticipantPresent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the account, opportunity, or lead record that&apos;s specified as an input parameter when the flow is called. This record is a parent record for the service appointment.</description>
        <name>parentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the service appointment to be booked.</description>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <description>Stores a JSON string containing the field-value pairs for a service appointment.</description>
        <name>ServiceAppointmentFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the required (multi-resource scheduling not enabled) or the primary (multi-resource scheduling enabled) service resource for the appointment booking.</description>
        <name>ServiceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores information about additional service resources from the appointment invitation in JSON format when multi-resource scheduling is enabled.</description>
        <name>ServiceResources</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Status Catagory of the message we want to display on the final screen.</description>
        <name>StatusCatagory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores a string when the invitation key has an invalid format, when the appointment invitation can&apos;t be found, or when there&apos;s no Contact ID for the currently user. Stores a JSON string if an error occurs in ScreenSelectAppointmentTimeSlot, ScreenReviewGuestAppointment, or ScreenReviewAppointment.</description>
        <name>ValidationErrors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This flow variable holds the Work Type used in the time slot screen to calculate availability.</description>
        <name>WorkType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkType</objectType>
    </variables>
    <variables>
        <description>Stores the ID of the work type group (appointment topic) that ComponentSelectAppointmentTimeSlot uses to calculate appointment availability.</description>
        <name>WorkTypeGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
