force-app/main/default/flows/SDO_SFS_Create_5_WO_for_Sliding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>set_address_defaults</name>
        <label>set address defaults</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>objWO1.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>940 Bay Street</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO1.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>San Francisco</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO1.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO1.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>94109</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO2.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2259 42nd Avenue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO2.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>San Francisco</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO2.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO2.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>94116</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO3.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>301 Alpha Street</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO3.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>San Francisco</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO3.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO3.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>94134</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO4.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>245 Benton Ave</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO4.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>San Francisco</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO4.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO4.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>94112</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO5.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>50 Fremont St</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO5.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>San Francisco</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO5.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO5.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>94105</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO1.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Battery_Work_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO2.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Battery_Work_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO3.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Battery_Work_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO4.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Battery_Work_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO5.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Battery_Work_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO1.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_San_Francisco_Service_Territory.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO2.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_San_Francisco_Service_Territory.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO3.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_San_Francisco_Service_Territory.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO4.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_San_Francisco_Service_Territory.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO5.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_San_Francisco_Service_Territory.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO1.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>USA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO2.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>USA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO3.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>USA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO4.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>USA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO5.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>USA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_WOs_for_Bundling</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Used if values entered in previous screen value have changed</description>
        <name>updateAddress_Assignments</name>
        <label>updateAddress Assignments</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>objWO1.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address1value.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO1.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address1value.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO1.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address1value.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO1.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address1value.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO1.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address1value.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO2.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address2value.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO2.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address2value.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO2.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address2value.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO2.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address2value.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO2.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address2value.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO3.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address3value.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO3.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address3value.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO3.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address3value.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO3.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address3value.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO3.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address3value.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO4.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address4value.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO4.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address4value.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO4.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address4value.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO4.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address4value.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO4.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address4value.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO5.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address5value.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO5.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address5value.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO5.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address5value.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO5.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address5value.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objWO5.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address5value.country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_WO_1</targetReference>
        </connector>
    </assignments>
    <description>Created to manage the record creation process needed to demonstrate sliding in SFS - referenced in the Field Service Console as a gannt action.</description>
    <environments>Default</environments>
    <formulas>
        <name>formulaDueDate</name>
        <dataType>DateTime</dataType>
        <expression>{!Earliest_Start_Time}+ 3</expression>
    </formulas>
    <formulas>
        <name>formulaEarliestStartTime</name>
        <dataType>DateTime</dataType>
        <expression>datetimevalue(text(year({!$Flow.CurrentDate}))  + 
&apos;-&apos; + if(month({!$Flow.CurrentDate})&lt;10,&apos;0&apos;,&apos;&apos;) + text(month({!$Flow.CurrentDate}))  + 
&apos;-&apos; + if(day({!$Flow.CurrentDate})&lt;10,&apos;0&apos;,&apos;&apos;)+ text(day({!$Flow.CurrentDate})) +
&apos; 07:00:00&apos;)</expression>
    </formulas>
    <interviewLabel>SDO SFS Create 5 WO for Sliding {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDO SFS Create 5 WO for Sliding</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_RP1</name>
        <label>Create RP1</label>
        <locationX>176</locationX>
        <locationY>2078</locationY>
        <connector>
            <targetReference>Create_RP1_0</targetReference>
        </connector>
        <inputAssignments>
            <field>PreferenceType</field>
            <value>
                <stringValue>Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>objWO1.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>Get_Alan_Reed.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ResourcePreference</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_RP1_0</name>
        <label>Create RP2</label>
        <locationX>176</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>Create_RP1_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>PreferenceType</field>
            <value>
                <stringValue>Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>objWO2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>Get_Alan_Reed.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ResourcePreference</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_RP1_0_0</name>
        <label>Create RP3</label>
        <locationX>176</locationX>
        <locationY>2318</locationY>
        <connector>
            <targetReference>Create_RP1_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>PreferenceType</field>
            <value>
                <stringValue>Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>objWO3.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>Get_Alan_Reed.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ResourcePreference</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_RP1_0_0_0</name>
        <label>Create RP4</label>
        <locationX>176</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>Create_RP1_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>PreferenceType</field>
            <value>
                <stringValue>Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>objWO4.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>Get_Alan_Reed.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ResourcePreference</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_RP1_0_0_0_0</name>
        <label>Create RP5</label>
        <locationX>176</locationX>
        <locationY>2558</locationY>
        <connector>
            <targetReference>get_SA1</targetReference>
        </connector>
        <inputAssignments>
            <field>PreferenceType</field>
            <value>
                <stringValue>Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>objWO5.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>Get_Alan_Reed.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ResourcePreference</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_WO_1</name>
        <label>create WO 1</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>create_WO_1_0</targetReference>
        </connector>
        <inputReference>objWO1</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_WO_1_0</name>
        <label>create WO 2</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>create_WO_1_0_0</targetReference>
        </connector>
        <inputReference>objWO2</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_WO_1_0_0</name>
        <label>create WO 3</label>
        <locationX>176</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>create_WO_1_0_0_0</targetReference>
        </connector>
        <inputReference>objWO3</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_WO_1_0_0_0</name>
        <label>create WO 4</label>
        <locationX>176</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>create_WO_1_0_0_0_0</targetReference>
        </connector>
        <inputReference>objWO4</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_WO_1_0_0_0_0</name>
        <label>create WO 5</label>
        <locationX>176</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>update_SA1</targetReference>
        </connector>
        <inputReference>objWO5</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Alan_Reed</name>
        <label>Get Alan Reed</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_address_defaults</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ServiceResource.004</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Battery_Work_Type</name>
        <label>Get Battery Work Type</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_San_Francisco_Service_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WT.011</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_SA1</name>
        <label>get SA1</label>
        <locationX>176</locationX>
        <locationY>2678</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_SA1_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objWO1.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_SA1_0</name>
        <label>get SA2</label>
        <locationX>176</locationX>
        <locationY>2798</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_SA1_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objWO2.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_SA1_0_0</name>
        <label>get SA3</label>
        <locationX>176</locationX>
        <locationY>2918</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_SA1_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objWO3.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_SA1_0_0_0</name>
        <label>get SA4</label>
        <locationX>176</locationX>
        <locationY>3038</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_SA1_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objWO4.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_SA1_0_0_0_0</name>
        <label>get SA5</label>
        <locationX>176</locationX>
        <locationY>3158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objWO5.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_San_Francisco_Service_Territory</name>
        <label>Get San Francisco Service Territory</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Alan_Reed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SvcTerritory.001</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_SA1</name>
        <label>update SA1</label>
        <locationX>176</locationX>
        <locationY>1478</locationY>
        <connector>
            <targetReference>update_SA1_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objWO1.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>formulaDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>Earliest_Start_Time</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_SA1_0</name>
        <label>update SA2</label>
        <locationX>176</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>update_SA1_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objWO2.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>formulaDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>Earliest_Start_Time</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_SA1_0_0</name>
        <label>update SA3</label>
        <locationX>176</locationX>
        <locationY>1718</locationY>
        <connector>
            <targetReference>update_SA1_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objWO3.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>formulaDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>Earliest_Start_Time</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_SA1_0_0_0</name>
        <label>update SA4</label>
        <locationX>176</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>update_SA1_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objWO4.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>formulaDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>Earliest_Start_Time</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_SA1_0_0_0_0</name>
        <label>update SA5</label>
        <locationX>176</locationX>
        <locationY>1958</locationY>
        <connector>
            <targetReference>Create_RP1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objWO5.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>formulaDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>Earliest_Start_Time</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <screens>
        <name>Create_WOs_for_Bundling</name>
        <label>Create WOs for Bundling</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>updateAddress_Assignments</targetReference>
        </connector>
        <fields>
            <name>InfoText</name>
            <fieldText>&lt;p&gt;This flow will create 5 Work Orders and Service Appointments which will allow you to demonstrate sliding. Sliding Script is &lt;a href=&quot;https://salesforce.quip.com/k6iRAo8q2Nch&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Unschedule a full day for Alan Reed. Enter that date in the Earliest Start Time Below.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please note these addresses are for the San Francisco area. If you&apos;ve moved your data, you will need to enter 5 addresses that are nearby your location.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Earliest_Start_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>formulaEarliestStartTime</elementReference>
            </defaultValue>
            <fieldText>Earliest Start Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Create_WOs_for_Bundling_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_WOs_for_Bundling_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>address1Label</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Address 1&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>address1value</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>objWO1.City</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>objWO1.Country</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>objWO1.PostalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>objWO1.State</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>objWO1.Street</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Address3Label</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Address 3&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>address3value</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>objWO3.City</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>objWO3.Country</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>objWO3.PostalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>objWO3.State</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>objWO3.Street</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_WOs_for_Bundling_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>address2Label</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Address 2&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>address2value</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>objWO2.City</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>objWO2.Country</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>objWO2.PostalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>objWO2.State</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>objWO2.Street</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>address4Label</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Address 4&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>address4value</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>objWO4.City</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>objWO4.Country</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>objWO4.PostalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>objWO4.State</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>objWO4.Street</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>address5Label</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Address 5 - this is for the Work Order that you will insert with sliding&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>address5value</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>objWO5.City</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>objWO5.Country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>objWO5.PostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>objWO5.State</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>objWO5.Street</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>176</locationX>
        <locationY>3278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p&gt;Successfully created these 5 Service Appointments:&lt;/p&gt;&lt;p&gt;{!get_SA1.AppointmentNumber}&lt;/p&gt;&lt;p&gt;{!get_SA1_0.AppointmentNumber}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!get_SA1_0_0.AppointmentNumber}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!get_SA1_0_0_0.AppointmentNumber}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!get_SA1_0_0_0_0.AppointmentNumber}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;After this flow runs, run book appointment on the first 4 appointments created, booking them in the following Arrival Windows:  9-11, 11-1, 1-3, 3-5&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Then drag and drop the 5th to the 10am start time and note the violations.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Then use book appointment on the 5th one and note how it will magically fit this 5th appointment in between the 1 and 2 ones by sliding the 2nd one over a little, while still preserving it&apos;s Arrival Window.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Please review the Sliding Script for the full instructions on how to schedule these. The script is &lt;/span&gt;&lt;a href=&quot;https://salesforce.quip.com/k6iRAo8q2Nch&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;here&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Battery_Work_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>dt</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dtex</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objWO1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>objWO2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>objWO3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>objWO4</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>objWO5</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
