force-app/main/default/flows/SDO_Service_Case_SetCasePrediction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Find_a_random_number</name>
        <label>Find a random number</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <actionName>MathRandomFunction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_default_CSAT_c</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>MathRandomFunction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Outcome_1</name>
        <label>Assign Outcome 1</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Case.SDO_Einstein_Discovery_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Outcome1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.SDO_Einstein_Discovery_Leading_Causes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Causes1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.SDO_Einstein_Discovery_Prescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prescription1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Outcome_2</name>
        <label>Assign Outcome 2</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Case.SDO_Einstein_Discovery_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Outcome2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.SDO_Einstein_Discovery_Leading_Causes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Causes2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.SDO_Einstein_Discovery_Prescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prescription2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_outcome_3</name>
        <label>Assign outcome 3</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Case.SDO_Einstein_Discovery_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Outcome3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.SDO_Einstein_Discovery_Leading_Causes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Outcome3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.SDO_Einstein_Discovery_Prescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prescription3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_outcome_4</name>
        <label>Assign outcome 4</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Case.SDO_Einstein_Discovery_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Outcome4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.SDO_Einstein_Discovery_Leading_Causes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Causes4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.SDO_Einstein_Discovery_Prescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prescription4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_default_CSAT_c</name>
        <label>Set default CSAT__c</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Case.CSAT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>85.3</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OfferVoucher_and_SendFieldService_Values</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Account_have_analyticsdemo_batch_id_c</name>
        <label>Does Account have analyticsdemo_batch_id__c?</label>
        <locationX>776</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Account_Analytics_Batch_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Account.analyticsdemo_batch_id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_CSAT_c_null</targetReference>
            </connector>
            <label>No Account Analytics Batch ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_CSAT_c_null</name>
        <label>Is CSAT__c null?</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>OfferVoucher_and_SendFieldService_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesItsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.CSAT__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_a_random_number</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>OfferVoucher_and_SendFieldService_Values</name>
        <label>OfferVoucher and SendFieldService Values</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Assign_outcome_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Voucher true AND SendFieldService true</defaultConnectorLabel>
        <rules>
            <name>BothFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Offer_Voucher__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.Send_FieldService__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Outcome_1</targetReference>
            </connector>
            <label>OfferVoucher AND SendFieldService false</label>
        </rules>
        <rules>
            <name>OfferVoucher_true_and_SendFieldService_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Offer_Voucher__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.Send_FieldService__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Outcome_2</targetReference>
            </connector>
            <label>OfferVoucher true AND SendFieldService false</label>
        </rules>
        <rules>
            <name>Voucher_false_and_SendFieldService_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Offer_Voucher__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.Send_FieldService__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_outcome_3</targetReference>
            </connector>
            <label>Voucher false AND SendFieldService true</label>
        </rules>
    </decisions>
    <description>Called from SDO Service Case On Create -- sets Einstein Prediction fields (SDO_Einstein_Discovery_Outcome__c, SDO_Einstein_Discovery_Leading_Causes__c, and SDO_Einstein_Discovery_Prescription__c) using a pseudorandom number -- needs Apex class MathRandomFunction</description>
    <environments>Default</environments>
    <formulas>
        <name>calc_base_csat</name>
        <dataType>Number</dataType>
        <expression>({!Case.CSAT__c} * 0.75) - 3.135 - 3.017 - 1.55 - {!otherFactors} - 7.949 - 9.98</expression>
        <scale>3</scale>
    </formulas>
    <formulas>
        <name>otherFactors</name>
        <dataType>Number</dataType>
        <expression>{!Find_a_random_number.result}*10</expression>
        <scale>3</scale>
    </formulas>
    <formulas>
        <name>Outcome1</name>
        <dataType>Number</dataType>
        <expression>{!Case.CSAT__c}  - 7.949 - 9.998</expression>
        <scale>3</scale>
    </formulas>
    <formulas>
        <name>Outcome2</name>
        <dataType>Number</dataType>
        <expression>{!Case.CSAT__c} - 9.998</expression>
        <scale>3</scale>
    </formulas>
    <formulas>
        <name>Outcome3</name>
        <dataType>Number</dataType>
        <expression>{!Case.CSAT__c} - 7.949</expression>
        <scale>3</scale>
    </formulas>
    <formulas>
        <name>Outcome4</name>
        <dataType>Number</dataType>
        <expression>{!Case.CSAT__c}</expression>
        <scale>3</scale>
    </formulas>
    <interviewLabel>SDO Service - Case - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDO Service - Case - SetCasePrediction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>446</locationX>
        <locationY>950</locationY>
        <inputReference>Case</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Does_Account_have_analyticsdemo_batch_id_c</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Causes1</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&apos;- 3.135 because Origin is Phone and Offer Voucher is false&lt;br&gt;- 3.017 because Origin is Phone and Send Field Service is false&lt;br&gt;- 1.555 because Origin is Phone&lt;br&gt;- &apos; + {!otherFactors} + &apos; because of other factors&lt;br&gt;from the baseline, + &apos; +  {!otherFactors}</text>
    </textTemplates>
    <textTemplates>
        <name>Causes2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&apos;+ 7.949 because Offer Voucher to true&lt;br&gt;- 3.135 because Origin is Phone&lt;br&gt;- 3.017 because Origin is Phone and Send Field Service is false&lt;br&gt;- 1.555 because Origin is Phone&lt;br&gt;- &apos; + {!otherFactors} + &apos; because of other factors&lt;br&gt;from the baseline, + &apos; + {!otherFactors}</text>
    </textTemplates>
    <textTemplates>
        <name>Causes3</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&apos;+ 9.998 because Send Field Service to true&lt;br&gt;- 3.135 because Origin is Phone&lt;br&gt;- 3.017 because Origin is Phone and Send Field Service is false&lt;br&gt;- 1.555 because Origin is Phone&lt;br&gt;- &apos; + {!otherFactors} + &apos; because of other factors&lt;br&gt;from the baseline, + &apos; + {!otherFactors}</text>
    </textTemplates>
    <textTemplates>
        <name>Causes4</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&apos;+ 7.949 because Offer Voucher to true&lt;br&gt;+ 9.998 because Send Field Service to true&lt;br&gt;- 3.135 because Origin is Phone&lt;br&gt;- 3.017 because Origin is Phone and Send Field Service is false&lt;br&gt;- 1.555 because Origin is Phone&lt;br&gt;- &apos; + {!otherFactors} + &apos; because of other factors&lt;br&gt;from the baseline, + &apos; + {!otherFactors}</text>
    </textTemplates>
    <textTemplates>
        <name>Prescription1</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&apos;+ 7.949 if you change Offer Voucher to true&lt;br&gt;+ 9.998 if you change Send Field Service to true&apos;</text>
    </textTemplates>
    <textTemplates>
        <name>Prescription2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&apos;+ 9.998 if you change Send Field Service to true&apos;</text>
    </textTemplates>
    <textTemplates>
        <name>Prescription3</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&apos;+ 7.949 if you change Offer Voucher to true&apos;</text>
    </textTemplates>
    <textTemplates>
        <name>Prescription4</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&apos;&apos;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>base_csat</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
