force-app/main/default/flows/SDO_Scheduler_Inbound_Modify_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Save_Appointment</name>
        <label>Save Appointment</label>
        <locationX>690</locationX>
        <locationY>309</locationY>
        <actionName>saveAppointment</actionName>
        <actionType>saveAppointment</actionType>
        <connector>
            <targetReference>SetConfirmationStage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetReviewStage</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>optionalServiceResourceId</name>
            <value>
                <elementReference>optionalAttendees</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceAppointmentFields</name>
            <value>
                <elementReference>serviceAppointmentFields</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceResources</name>
            <value>
                <elementReference>serviceResources</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workType</name>
            <value>
                <elementReference>workType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedTimezone</name>
            <value>
                <elementReference>selectedTimezone</elementReference>
            </value>
        </inputParameters>
        <nameSegment>saveAppointment</nameSegment>
        <outputParameters>
            <assignToReference>ServiceAppointment.Id</assignToReference>
            <name>serviceAppointmentId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Service_Resource_Id</name>
        <label>Set Service Resource Id</label>
        <locationX>293</locationX>
        <locationY>432</locationY>
        <assignmentItems>
            <assignToReference>serviceResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assignedResourceRecord.ServiceResourceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workTypeGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>workTypeGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getWorkTypeRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_ServiceAppointmentId</name>
        <label>set ServiceAppointmentId</label>
        <locationX>84</locationX>
        <locationY>402</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetConfirmationStage</name>
        <label>Set Confirmation Stage</label>
        <locationX>694</locationX>
        <locationY>180</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConfirmationStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConfirmationScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReviewStage</name>
        <label>Set Review Stage</label>
        <locationX>531</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReviewStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ReviewScreen</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>FIND_RESOURCE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>findResource</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Service_Appointment_ID_Present</name>
        <label>Service Appointment ID Present</label>
        <locationX>110</locationX>
        <locationY>224</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointmentId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>08p</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Appointment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>08p</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_ServiceAppointmentId</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>$Label.Industries_LightningSchedulerFileFlow.In_Modify {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reschedule My Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Appointments</processType>
    <recordLookups>
        <name>Assigned_Resource</name>
        <label>Assigned Resource</label>
        <locationX>296</locationX>
        <locationY>317</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Service_Resource_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <object>AssignedResource</object>
        <outputReference>assignedResourceRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceResourceId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getWorkTypeRecord</name>
        <label>getWorkTypeRecord</label>
        <locationX>335</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TimeSlotScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointment.WorkTypeId</elementReference>
            </value>
        </filters>
        <object>WorkType</object>
        <outputReference>workType</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BlockTimeBeforeAppointment</queriedFields>
        <queriedFields>BlockTimeAfterAppointment</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Service_Appointment</name>
        <label>Service Appointment</label>
        <locationX>298</locationX>
        <locationY>201</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assigned_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
        <queriedFields>AdditionalInformation</queriedFields>
        <queriedFields>AppointmentType</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <queriedFields>Comments</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>Country</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>State</queriedFields>
        <queriedFields>Street</queriedFields>
        <queriedFields>SchedEndTime</queriedFields>
        <queriedFields>SchedStartTime</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <screens>
        <name>ConfirmationScreen</name>
        <label>Confirmation Screen</label>
        <locationX>469</locationX>
        <locationY>209</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>flowConfirm</name>
            <extensionName>runtime_appointmentbooking:flowConfirm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ReviewScreen</name>
        <label>Review Screen</label>
        <locationX>690</locationX>
        <locationY>439</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Save_Appointment</targetReference>
        </connector>
        <fields>
            <name>flowReview</name>
            <extensionName>runtime_appointmentbooking:flowReview</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>serviceResources</name>
                <value>
                    <elementReference>serviceResources</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSlotChanged</name>
                <value>
                    <elementReference>isSlotChanged</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceAppointment</name>
                <value>
                    <elementReference>ServiceAppointment</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>additionalInformation</name>
                <value>
                    <elementReference>ServiceAppointment.AdditionalInformation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>appointmentType</name>
                <value>
                    <elementReference>ServiceAppointment.AppointmentType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>ServiceAppointment.City</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comments</name>
                <value>
                    <elementReference>ServiceAppointment.Comments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactId</name>
                <value>
                    <elementReference>ServiceAppointment.ContactId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>ServiceAppointment.Country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>endDateTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedEndTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>ServiceAppointment.PostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>serviceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>startDateTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>state</name>
                <value>
                    <elementReference>ServiceAppointment.State</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>ServiceAppointment.Street</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>workTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceAppointmentFields</name>
                <value>
                    <elementReference>serviceAppointmentFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionalAttendees</name>
                <value>
                    <elementReference>optionalAttendees</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveErrors</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>validationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeId</name>
                <value>
                    <elementReference>ServiceAppointment.WorkTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceAppointmentId</name>
                <value>
                    <elementReference>ServiceAppointmentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedTimezone</name>
                <value>
                    <elementReference>selectedTimezone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowResourceSection</name>
                <value>
                    <elementReference>showServiceResource</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>serviceAppointmentFields</assignToReference>
                <name>serviceAppointmentFields</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>optionalAttendees</assignToReference>
                <name>optionalAttendees</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>validationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TimeSlotScreen</name>
        <label>Time Slot Screen</label>
        <locationX>410</locationX>
        <locationY>431</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetReviewStage</targetReference>
        </connector>
        <fields>
            <name>flowTimeslot</name>
            <extensionName>runtime_appointmentbooking:flowTimeslot</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>serviceResources</name>
                <value>
                    <elementReference>serviceResources</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showTimeZonePicklist</name>
                <value>
                    <elementReference>showTimeZonePicklist</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSlotChanged</name>
                <value>
                    <elementReference>isSlotChanged</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isInbound</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isHideSkip</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>serviceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>workTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currStartDate</name>
                <value>
                    <elementReference>startDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>validationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workType</name>
                <value>
                    <elementReference>workType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedEndTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedEndTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedStartTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableMultiResourceAndConcurrency</name>
                <value>
                    <elementReference>disableMultiResourceAndConcurrency</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceAppointmentId</name>
                <value>
                    <elementReference>ServiceAppointmentId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
                <name>selectedStartTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
                <name>selectedEndTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>validationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>startDate</assignToReference>
                <name>currStartDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>isSlotChanged</assignToReference>
                <name>isSlotChanged</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>serviceResources</assignToReference>
                <name>serviceResources</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedTimezone</assignToReference>
                <name>selectedTimezone</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>ConfirmationStage</name>
        <isActive>true</isActive>
        <label>Confirmation</label>
        <stageOrder>70</stageOrder>
    </stages>
    <stages>
        <name>ReviewStage</name>
        <isActive>true</isActive>
        <label>Review</label>
        <stageOrder>60</stageOrder>
    </stages>
    <stages>
        <name>TimeSlotStage</name>
        <isActive>true</isActive>
        <label>Select Time Slot</label>
        <stageOrder>50</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Service_Appointment_ID_Present</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>assignedResourceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>disableMultiResourceAndConcurrency</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isSlotChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>optionalAttendees</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedTimezone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>serviceAppointmentFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResources</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>showServiceResource</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>showTimeZonePicklist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>startDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>validationErrors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkType</objectType>
    </variables>
    <variables>
        <name>workTypeGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
