force-app/main/default/flows/SDO_Service_LunaBot_LoadContact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_User_s_Contact_Id_to_Collection</name>
        <label>Add User&apos;s Contact Id to Collection</label>
        <locationX>270</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>ContactIdsOfMatchingUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Users.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_matching_Contacts</name>
        <label>Count matching Contacts</label>
        <locationX>743</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>NumberOfMatchingContacts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>MatchingContacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>How_many_matches</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Matching_Contacts_by_User_Email</name>
        <label>Count Matching Contacts by User Email</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>NumberOfMatchingContacts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>MatchingContacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>How_many_matches_of_users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Users_Matching_by_Email</name>
        <label>Count Users Matching by Email</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>NumberOfMatchingContacts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Users_by_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_we_find_any</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_we_find_any</name>
        <label>Did we find any?</label>
        <locationX>380</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesWeDid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfMatchingContacts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_Users</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_many_matches</name>
        <label>How many matches?</label>
        <locationX>743</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Multiple</defaultConnectorLabel>
        <rules>
            <name>ZeroMatches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfMatchingContacts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Users_by_Email</targetReference>
            </connector>
            <label>Zero</label>
        </rules>
        <rules>
            <name>ExactlyOneMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfMatchingContacts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_by_Email_Again</targetReference>
            </connector>
            <label>Exactly 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_many_matches_of_users</name>
        <label>How many matches of users?</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <defaultConnectorLabel>Other Amount</defaultConnectorLabel>
        <rules>
            <name>Exactly_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfMatchingContacts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_by_User_Email_reload_it</targetReference>
            </connector>
            <label>Exactly 1</label>
        </rules>
    </decisions>
    <description>V2 - Add Account Id
Bill Macaulay 9/23</description>
    <environments>Default</environments>
    <interviewLabel>Luna Bot - Load Contact by Emal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Luna Bot - Load Contact by Email</label>
    <loops>
        <name>Loop_over_Users</name>
        <label>Loop over Users</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_Users_by_Email</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_User_s_Contact_Id_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Contacts_of_Users_by_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Reloading contact is the quick and dirty way to get it rather than filtering and looping and all that, or having more dependencies on UnofficialSF packages</description>
        <name>Get_Contact_by_Email_Again</name>
        <label>Get Contact by Email - reload it</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Contact_for_Bot_Session</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>SDO_Service_Primary_Messaging_User__c</queriedFields>
        <queriedFields>MailingLatitude</queriedFields>
        <queriedFields>MailingLongitude</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Reloading contact is the quick and dirty way to get it rather than filtering and looping and all that, or having more dependencies on UnofficialSF packages</description>
        <name>Get_Contact_by_User_Email_reload_it</name>
        <label>Get Contact by User Email - reload it</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Contact_for_Bot_Session</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ContactIdsOfMatchingUsers</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>SDO_Service_Primary_Messaging_User__c</queriedFields>
        <queriedFields>MailingLatitude</queriedFields>
        <queriedFields>MailingLongitude</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>LastName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts_by_Email</name>
        <label>Get Contacts by Email</label>
        <locationX>743</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_matching_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>MatchingContacts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>MailingAddress</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>SDO_Service_Primary_Messaging_User__c</queriedFields>
        <queriedFields>MailingLatitude</queriedFields>
        <queriedFields>MailingLongitude</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <sortField>LastName</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts_of_Users_by_Email</name>
        <label>Get Contacts of Users by Email</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Matching_Contacts_by_User_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ContactIdsOfMatchingUsers</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>MatchingContacts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>MailingAddress</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>SDO_Service_Primary_Messaging_User__c</queriedFields>
        <queriedFields>MailingLatitude</queriedFields>
        <queriedFields>MailingLongitude</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <sortField>LastName</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Users_by_Email</name>
        <label>Get Users by Email</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Users_Matching_by_Email</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <sortField>LastName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>617</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contacts_by_Email</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>This subflow sets the contact on the session, messaginguser, and case objects, to reflect a change in contact from a running bot session.</description>
        <name>Set_Contact_for_Bot_Session</name>
        <label>Set Contact for Bot Session</label>
        <locationX>743</locationX>
        <locationY>1766</locationY>
        <flowName>SDO_Service_LunaBot_SetContact</flowName>
        <inputAssignments>
            <name>Case</name>
            <value>
                <elementReference>Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Contact</name>
            <value>
                <elementReference>Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RoutableId</name>
            <value>
                <elementReference>RoutableId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Case</assignToReference>
            <name>Case</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contact</assignToReference>
            <name>Contact</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UserLanguage</assignToReference>
            <name>UserLanguage</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactIdsOfMatchingUsers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MatchingContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>NumberOfMatchingContacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>RoutableId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
