force-app/main/default/flows/SDO_Community_Personalization_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_for_User</name>
        <label>Check for User</label>
        <locationX>198</locationX>
        <locationY>57</locationY>
        <defaultConnector>
            <targetReference>No_User_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No User</defaultConnectorLabel>
        <rules>
            <name>Has_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fCurrentUserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Lookup</targetReference>
            </connector>
            <label>Has User</label>
        </rules>
    </decisions>
    <description>Flow used in communities to personalize the community.</description>
    <dynamicChoiceSets>
        <name>PartnerType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Primary_Role__c</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PrimaryPartnerRole</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Primary_Role__c</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>fCurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>User_Id</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Community Personalization Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Community Personalization Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>User_Lookup</name>
        <label>User Lookup</label>
        <locationX>207</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Welcome</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>City</assignToReference>
            <field>City</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Department</assignToReference>
            <field>Department</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Division</assignToReference>
            <field>Division</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PartnerFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Mobile</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PostalCode</assignToReference>
            <field>PostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>State</assignToReference>
            <field>State</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Street</assignToReference>
            <field>Street</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Title</assignToReference>
            <field>Title</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Address</name>
        <label>Update Address</label>
        <locationX>514</locationX>
        <locationY>761</locationY>
        <connector>
            <targetReference>PrimaryFunction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Input_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Input_Zip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>Input_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Input_Street</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Job_Info</name>
        <label>Update Job Info</label>
        <locationX>338</locationX>
        <locationY>776</locationY>
        <connector>
            <targetReference>Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Department</field>
            <value>
                <elementReference>Input_Department</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division</field>
            <value>
                <elementReference>Input_Division</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Input_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Input_Mobile.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>Input_Title</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Primary_Partner_Role</name>
        <label>Update Primary Partner Role</label>
        <locationX>665</locationX>
        <locationY>772</locationY>
        <connector>
            <targetReference>Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Role__c</field>
            <value>
                <elementReference>Input_Primary_Role</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>Address</name>
        <label>Address</label>
        <locationX>519</locationX>
        <locationY>646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Address</targetReference>
        </connector>
        <fields>
            <name>Address_lbl</name>
            <fieldText>&lt;p&gt;What is your address?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Address_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Address_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_Street</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Street</elementReference>
                    </defaultValue>
                    <fieldText>Street</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Input_City</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>City</elementReference>
                    </defaultValue>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Address_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_State</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>State</elementReference>
                    </defaultValue>
                    <fieldText>State</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Input_Zip</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>PostalCode</elementReference>
                    </defaultValue>
                    <fieldText>Zip</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Job_Details</name>
        <label>Job Details</label>
        <locationX>345</locationX>
        <locationY>641</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Job_Info</targetReference>
        </connector>
        <fields>
            <name>Enter_Job_lbl</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Provide your job details, including title, department, and division:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Job_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Job_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_Title</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Title</elementReference>
                    </defaultValue>
                    <fieldText>Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Input_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Email</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Input_Mobile</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Mobile</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mobile</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Job_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Input_Department</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Department</elementReference>
                    </defaultValue>
                    <fieldText>Department</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Input_Division</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Division</elementReference>
                    </defaultValue>
                    <fieldText>Division</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_User_Message</name>
        <label>No User Message</label>
        <locationX>50</locationX>
        <locationY>55</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoUserFoundtxt</name>
            <fieldText>&lt;p&gt;&lt;b&gt;We&apos;re Sorry&lt;/b&gt;&lt;/p&gt;&lt;p&gt;We cannot find a user record for you. Please log in to begin onboarding. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PrimaryFunction</name>
        <label>PrimaryFunction</label>
        <locationX>663</locationX>
        <locationY>643</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Primary_Partner_Role</targetReference>
        </connector>
        <fields>
            <name>Primary_Function_lbl</name>
            <fieldText>&lt;p&gt;What is your primary function?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Input_Primary_Role</name>
            <choiceReferences>PrimaryPartnerRole</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Primary Role</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Summary</name>
        <label>Summary</label>
        <locationX>822</locationX>
        <locationY>643</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Summary_lbl</name>
            <fieldText>&lt;p&gt;Thank you for updating your information!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Terms_of_Use</name>
        <label>Terms of Use</label>
        <locationX>203</locationX>
        <locationY>515</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Job_Details</targetReference>
        </connector>
        <fields>
            <name>Terms_Conditions_Text</name>
            <fieldText>&lt;h1&gt;Terms of Use (&quot;Terms&quot;)&lt;/h1&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;Last updated: 09/08/2020&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;Please read these Terms of Use (&quot;Terms&quot;, &quot;Terms of Use&quot;) carefully before using Partner Central website application (the &quot;Service&quot;) operated by Salesforce (&quot;us&quot;, &quot;we&quot;, or &quot;our&quot;).&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 10px;&quot;&gt;By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 10px;&quot;&gt;Purchases&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;If you wish to purchase any product or service made available through the Service (&quot;Purchase&quot;), you may be asked to supply certain information relevant to your Purchase.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 10px;&quot;&gt;&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 10px;&quot;&gt;Content&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;Our Service allows you to post, link, store, share and otherwise make available certain information, text, graphics, videos, or other material (&quot;Content&quot;).&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 10px;&quot;&gt;Contact Us&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;If you have any questions about these Terms, please contact us.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>I_have_read_and_agree_to_the_Terms_of_Use</name>
            <dataType>Boolean</dataType>
            <fieldText>I have read and agree to the Terms of Use</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please accept the Terms and Conditions&lt;/p&gt;</errorMessage>
                <formulaExpression>{!I_have_read_and_agree_to_the_Terms_of_Use}= TRUE</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Welcome</name>
        <label>Welcome</label>
        <locationX>203</locationX>
        <locationY>334</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Terms_of_Use</targetReference>
        </connector>
        <fields>
            <name>Welcome_lbl</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!PartnerFirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Welcome to Partner Central! Please use this flow to build out your online profile. We&apos;ll collect some information to personalize the space for you. Let&apos;s get started!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>329</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_for_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>AccountId</elementReference>
        </value>
    </variables>
    <variables>
        <name>City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Department</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Division</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>HorizontalRow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;hr&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>Mobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PartnerFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Title</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
