force-app/main/default/flows/SDO_Service_SunnyBots_Update_Mailing_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Parse_Address</name>
        <label>Parse Address</label>
        <locationX>196</locationX>
        <locationY>50</locationY>
        <actionName>SDO_Service_BotsParseAddress</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_MailingAddress_Fields</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>thisAddressList</name>
            <value>
                <elementReference>varAddress</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SDO_Service_BotsParseAddress</nameSegment>
        <outputParameters>
            <assignToReference>varCity</assignToReference>
            <name>City</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varPostalCode</assignToReference>
            <name>PostalCode</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varState</assignToReference>
            <name>State</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varStreet</assignToReference>
            <name>Street</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_MailingAddress_Fields</name>
        <label>Assign MailingAddress Fields</label>
        <locationX>361</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>rvarContact.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarContact.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarContact.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarContact.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPostalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <description>Updates the MailingAddress for the specified Contact using the specified Address String</description>
    <interviewLabel>Einstein Bots - Update Mailing Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Einstein Bots - Update Mailing Address</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>685</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rvarContact.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>rvarContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>MailingAddress</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>SDO_Service_Primary_Messaging_User__c</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>524</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <inputReference>rvarContact</inputReference>
    </recordUpdates>
    <startElementReference>Parse_Address</startElementReference>
    <status>Active</status>
    <variables>
        <name>rvarContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
