force-app/main/default/flows/SDO_VRA_Update_Session_Images_On_Case_And_Asset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Save_Images_on_Asset</name>
        <label>Save Images on Asset</label>
        <locationX>353</locationX>
        <locationY>1103</locationY>
        <actionName>tspa__ImageFromSessionIdAndTag</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>imageRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Case_For_Images.AssetId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sessionId</name>
            <value>
                <elementReference>$Record.tspa__Session_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tagList</name>
            <value>
                <elementReference>SaveImageTagList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>tspa__ImageFromSessionIdAndTag</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Save_Images_on_Case</name>
        <label>Save Images on Case</label>
        <locationX>353</locationX>
        <locationY>714</locationY>
        <actionName>tspa__ImageFromSessionIdAndTag</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Does_Case_Have_Asset</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>imageRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Case_For_Images.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sessionId</name>
            <value>
                <elementReference>$Record.tspa__Session_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tagList</name>
            <value>
                <elementReference>SaveImageTagList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>tspa__ImageFromSessionIdAndTag</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Save_Images_On_New_Asset</name>
        <label>Save Images On New Asset</label>
        <locationX>1128</locationX>
        <locationY>1238</locationY>
        <actionName>tspa__ImageFromSessionIdAndTag</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Image_Records</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>imageRecordId</name>
            <value>
                <elementReference>Loop_Image_Records.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Create_Asset</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sessionId</name>
            <value>
                <elementReference>$Record.tspa__Session_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tagList</name>
            <value>
                <elementReference>SaveImageTagList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>tspa__ImageFromSessionIdAndTag</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Save_Images_On_Related_Asset</name>
        <label>Save Images On Related Asset</label>
        <locationX>923</locationX>
        <locationY>1242</locationY>
        <actionName>tspa__ImageFromSessionIdAndTag</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Image_Records</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>imageRecordId</name>
            <value>
                <elementReference>Loop_Image_Records.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Case_For_Images.AssetId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sessionId</name>
            <value>
                <elementReference>$Record.tspa__Session_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tagList</name>
            <value>
                <elementReference>SaveImageTagList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>tspa__ImageFromSessionIdAndTag</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Save_Images_On_Related_Case</name>
        <label>Save Images On Related Case</label>
        <locationX>802</locationX>
        <locationY>1413</locationY>
        <actionName>tspa__ImageFromSessionIdAndTag</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Was_a_new_asset_created</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>imageRecordId</name>
            <value>
                <elementReference>Loop_Image_Records.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Case_For_Images.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sessionId</name>
            <value>
                <elementReference>$Record.tspa__Session_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tagList</name>
            <value>
                <elementReference>SaveImageTagList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>tspa__ImageFromSessionIdAndTag</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Image_Records</name>
        <label>Assign Image Records</label>
        <locationX>867</locationX>
        <locationY>871</locationY>
        <assignmentItems>
            <assignToReference>AllImageRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_All_Image_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Image_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tag_Lists</name>
        <label>Assign Tag Lists</label>
        <locationX>697</locationX>
        <locationY>349</locationY>
        <assignmentItems>
            <assignToReference>SaveImageTagList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Save Image</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SerialNumberTagList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Serial Number</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case_For_Images</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Case_Have_Asset</name>
        <label>Does Case Have Asset</label>
        <locationX>348</locationX>
        <locationY>903</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Has_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_For_Images.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Images_on_Asset</targetReference>
            </connector>
            <label>Case Has Asset</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Case_Have_Asset_For_SA</name>
        <label>Does Case Have Asset For SA</label>
        <locationX>1143</locationX>
        <locationY>653</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Has_Asset_For_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_For_Images.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Image_Records</targetReference>
            </connector>
            <label>Case Has Asset For SA</label>
        </rules>
        <rules>
            <name>Case_Does_Not_Have_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_For_Images.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_For_Images.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_For_Images.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Asset</targetReference>
            </connector>
            <label>Case Does Not Have Asset</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Image_Have_Serial_Number_Tag</name>
        <label>Does Image Have Serial Number Tag</label>
        <locationX>810</locationX>
        <locationY>1099</locationY>
        <defaultConnector>
            <targetReference>Loop_Image_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Image_Has_Serial_Number_Tag</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Image_Records.tspa__Related_Tags__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Save Image</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Images_On_Related_Case</targetReference>
            </connector>
            <label>Image Has Serial Number Tag</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Record_Tag_List_Contain_Save_Image_Tag</name>
        <label>Does Record Tag List Contain Save Image Tag</label>
        <locationX>688</locationX>
        <locationY>856</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contain_Save_Image_Tag</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tspa__Related_Tags__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Save Image</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Images_on_Case</targetReference>
            </connector>
            <label>Contain Save Image Tag</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dose_Record_Have_Serial_Number_Tag</name>
        <label>Dose Record Have Serial Number Tag</label>
        <locationX>687</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>Does_Record_Tag_List_Contain_Save_Image_Tag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Has_Serial_Number_Tag</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tspa__Related_Tags__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Serial Number</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Session_Event</targetReference>
            </connector>
            <label>Record Has Serial Number Tag</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_a_new_asset_created</name>
        <label>Was a new asset created</label>
        <locationX>1006</locationX>
        <locationY>1419</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>A_new_asset_was_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_For_Images.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Images_On_New_Asset</targetReference>
            </connector>
            <label>A new asset was created</label>
        </rules>
        <rules>
            <name>A_new_asset_was_not_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_For_Images.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Images_On_Related_Asset</targetReference>
            </connector>
            <label>A new asset was not created</label>
        </rules>
    </decisions>
    <interviewLabel>SDO_VRA_Update Session Images On Case And Asset {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDO_VRA_Update Session Images On Case And Asset</label>
    <loops>
        <name>Loop_Image_Records</name>
        <label>Loop Image Records</label>
        <locationX>1021</locationX>
        <locationY>1087</locationY>
        <collectionReference>AllImageRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Image_Have_Serial_Number_Tag</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Asset</name>
        <label>Create Asset</label>
        <locationX>1392</locationX>
        <locationY>656</locationY>
        <connector>
            <targetReference>Update_Case_With_Asset</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Case_For_Images.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Case_For_Images.CaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SerialNumber</field>
            <value>
                <elementReference>Get_Session_Event.tspa__OCRValue__c</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Image_Records</name>
        <label>Get All Image Records</label>
        <locationX>1153</locationX>
        <locationY>871</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Image_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tspa__Session_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tspa__Session_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tspa__Visual_Image__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_For_Images</name>
        <label>Get Case For Images</label>
        <locationX>696</locationX>
        <locationY>493</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dose_Record_Have_Serial_Number_Tag</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tspa__Visual_History__r.tspa__Related_Record_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Session_Event</name>
        <label>Get Session Event</label>
        <locationX>975</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Case_Have_Asset_For_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tspa__sessionID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.tspa__Session_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>tspa__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>imageScanResults</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tspa__NotificationsFromTechsee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_With_Asset</name>
        <label>Update Case With Asset</label>
        <locationX>1391</locationX>
        <locationY>872</locationY>
        <connector>
            <targetReference>Get_All_Image_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_For_Images.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>Create_Asset</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>550</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Assign_Tag_Lists</targetReference>
        </connector>
        <object>tspa__Visual_Image__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllImageRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>tspa__Visual_Image__c</objectType>
    </variables>
    <variables>
        <name>ImageRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>tspa__Visual_Image__c</objectType>
    </variables>
    <variables>
        <name>SaveImageTagList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SerialNumberTagList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
