force-app/main/default/flows/SDO_Service_SunnyBots_Create_Return_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_ROLI_to_Collection</name>
        <label>Add ROLI to Collection</label>
        <locationX>778</locationX>
        <locationY>348</locationY>
        <assignmentItems>
            <assignToReference>rcolReturnOrderLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rvarCurrentReturnOrderLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Order_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Draft_Return_Order_Fields</name>
        <label>Assign Draft Return Order Fields</label>
        <locationX>382</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>rvarReturnOrder.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvarConact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarReturnOrder.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvarCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarReturnOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Return_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_ROLI_Fields</name>
        <label>Populate ROLI Fields</label>
        <locationX>778</locationX>
        <locationY>125</locationY>
        <assignmentItems>
            <assignToReference>rvarCurrentReturnOrderLineItem.QuantityReturned</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvarCurrentOrderProduct.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCurrentReturnOrderLineItem.RepaymentMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRepaymentMethod</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCurrentReturnOrderLineItem.ProcessingPlan</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Restock</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCurrentReturnOrderLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvarCurrentOrderProduct.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCurrentReturnOrderLineItem.ReasonForReturn</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varReasonForReturn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCurrentReturnOrderLineItem.ReturnOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvarReturnOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_ROLI_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Return_Order_Status_Assignment</name>
        <label>Return Order Status Assignment</label>
        <locationX>773</locationX>
        <locationY>527</locationY>
        <assignmentItems>
            <assignToReference>rvarReturnOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submit_Return_Order</targetReference>
        </connector>
    </assignments>
    <description>Creates a Return Order and one or more Return Order Line Items for the specified Order</description>
    <interviewLabel>Einstein Bots - Create Return Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Einstein Bots - Create Return Order</label>
    <loops>
        <name>For_Each_Order_Product</name>
        <label>For Each Order Product</label>
        <locationX>570</locationX>
        <locationY>257</locationY>
        <assignNextValueToReference>rvarCurrentOrderProduct</assignNextValueToReference>
        <collectionReference>rcolOrderProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Populate_ROLI_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Return_Order_Line_Item_s</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Return_Order</name>
        <label>Create Return Order</label>
        <locationX>570</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>For_Each_Order_Product</targetReference>
        </connector>
        <inputReference>rvarReturnOrder</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Return_Order_Line_Item_s</name>
        <label>Create Return Order Line Item(s)</label>
        <locationX>571</locationX>
        <locationY>465</locationY>
        <connector>
            <targetReference>Return_Order_Status_Assignment</targetReference>
        </connector>
        <inputReference>rcolReturnOrderLineItems</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Order_Products</name>
        <label>Get Order Products</label>
        <locationX>207</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Draft_Return_Order_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rvarOrder.Id</elementReference>
            </value>
        </filters>
        <object>OrderItem</object>
        <outputReference>rcolOrderProducts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Submit_Return_Order</name>
        <label>Submit Return Order</label>
        <locationX>973</locationX>
        <locationY>527</locationY>
        <inputReference>rvarReturnOrder</inputReference>
    </recordUpdates>
    <startElementReference>Get_Order_Products</startElementReference>
    <status>Active</status>
    <variables>
        <name>rcolOrderProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>rcolReturnOrderLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrderLineItem</objectType>
    </variables>
    <variables>
        <name>rvarCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>rvarConact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>rvarCurrentOrderProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>rvarCurrentReturnOrderLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrderLineItem</objectType>
    </variables>
    <variables>
        <name>rvarOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>rvarReturnOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrder</objectType>
    </variables>
    <variables>
        <name>varReasonForReturn</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRepaymentMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
