force-app/main/default/flows/SDO_OMS_Cancel_Item_Screenflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Events_to_Collection</name>
        <label>Add Events to Collection</label>
        <locationX>1736</locationX>
        <locationY>655</locationY>
        <assignmentItems>
            <assignToReference>PlatformEventsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TheNewEvent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Item_Representation_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Item_Assignment</name>
        <label>Change Item Assignment</label>
        <locationX>1021</locationX>
        <locationY>1016</locationY>
        <assignmentItems>
            <assignToReference>changeItem.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedOrderItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeItem.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeItem.reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeItem.shippingReductionFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Item_List_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Item_List_Assignment</name>
        <label>Change Item List Assignment</label>
        <locationX>1338</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>changeItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>changeItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Item_Assignment_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Items_Error_Message</name>
        <label>No Items Error Message</label>
        <locationX>797</locationX>
        <locationY>1002</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_NoItemsToCancel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_NoItemsToCancel_Header</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_NoItemsToCancel_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Event_to_Fire</name>
        <label>Prepare Event to Fire</label>
        <locationX>1449</locationX>
        <locationY>742</locationY>
        <assignmentItems>
            <assignToReference>TheNewEvent.Cancel_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>changeItem.reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TheNewEvent.Shipping_Reduction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>changeItem.shippingReductionFlag</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TheNewEvent.Order_Item_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>changeItem.orderItemSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TheNewEvent.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>changeItem.quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TheNewEvent.Recipient_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TheNewEvent.User_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Events_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_To_Part_1</name>
        <label>Set Stage To Part 1</label>
        <locationX>711</locationX>
        <locationY>502</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_To_Part_2</name>
        <label>Set Stage To Part 2</label>
        <locationX>1026</locationX>
        <locationY>617</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Item_Assignment_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_To_Part_3</name>
        <label>Set Stage To Part 3</label>
        <locationX>1380</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Preview_Changes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_To_Part_4</name>
        <label>Set Stage To Part 4</label>
        <locationX>2196</locationX>
        <locationY>444</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part_4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Unmanaged_Order_Error_Message</name>
        <label>Set Unmanaged Order Error Message</label>
        <locationX>545</locationX>
        <locationY>1239</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Unmanaged_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Unmanaged_Order_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Unmanaged_Order_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Wrong_Entity_Error_Message</name>
        <label>Set Wrong Entity Error Message</label>
        <locationX>648</locationX>
        <locationY>1043</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_Entity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_Entity_Header</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_Entity_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Confirmation_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_Invocable_Action_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_NoItemsToCancel_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_Unmanaged_Order_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_Wrong_Entity_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>ZERO</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Are_Any_Items_To_Cancel</name>
        <label>Are Any Items To Cancel</label>
        <locationX>762</locationX>
        <locationY>743</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoItems</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Item_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Items_Error_Message</targetReference>
            </connector>
            <label>NoItems</label>
        </rules>
        <rules>
            <name>ItemsAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Item_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_To_Part_1</targetReference>
            </connector>
            <label>ItemsAvailable</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Valid_Order_Summary</name>
        <label>Is Valid Order Summary</label>
        <locationX>50</locationX>
        <locationY>940</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unmanaged_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary_Object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Summary_Object.OrderLifeCycleType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UNMANAGED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Unmanaged_Order_Error_Message</targetReference>
            </connector>
            <label>Unmanaged Order</label>
        </rules>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary_Object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Item_Summary</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
        <rules>
            <name>Not_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary_Object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
            </connector>
            <label>Not Valid</label>
        </rules>
    </decisions>
    <interviewLabel>Cancel Item Screenflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancel Item Screenflow</label>
    <loops>
        <name>Change_Item_Assignment_Loop</name>
        <label>Change Item  Assignment Loop</label>
        <locationX>1256</locationX>
        <locationY>712</locationY>
        <assignNextValueToReference>selectedOrderItem</assignNextValueToReference>
        <collectionReference>selectedOrderItemSummaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Change_Item_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Reasons_Selection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Change_Item_Representation_Loop</name>
        <label>Change Item Representation Loop</label>
        <locationX>1501</locationX>
        <locationY>491</locationY>
        <assignNextValueToReference>changeItem</assignNextValueToReference>
        <collectionReference>changeItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Prepare_Event_to_Fire</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Platform_Event</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Platform_Event</name>
        <label>Create Platform Event</label>
        <locationX>2059</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Set_Stage_To_Part_4</targetReference>
        </connector>
        <inputReference>PlatformEventsCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Order_Item_Summary</name>
        <label>Get Order Item Summary</label>
        <locationX>206</locationX>
        <locationY>624</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Any_Items_To_Cancel</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>QuantityAvailableToCancel</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delivery Charge</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get OrderSummary for the record Id passed</description>
        <name>Get_Order_Summary_Object</name>
        <label>Get Order Summary Object</label>
        <locationX>511</locationX>
        <locationY>489</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_Valid_Order_Summary</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirmation_Message</name>
        <label>Confirmation Message</label>
        <locationX>2403</locationX>
        <locationY>351</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>successAstro</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>successAstro</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>auto</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>265px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Confirm_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Thank you! Your order item(s) has been submitted to be cancelled. You will be notified when it is complete.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Footer4</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSubmitStep</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>822</locationX>
        <locationY>1352</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Output_Message_Image</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;{!errorMessageImage}&quot; alt=&quot;&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_Output_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!errorMessageTitle}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!errorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Preview_Changes</name>
        <label>Preview Changes</label>
        <locationX>1690</locationX>
        <locationY>110</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Change_Item_Representation_Loop</targetReference>
        </connector>
        <fields>
            <name>PreviewChangesHeading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;You are about to cancel the following items. ﻿If you are happy with this selection, continue to submit!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>cancelTable3</name>
            <dataTypeMappings>
                <typeName>OP</typeName>
                <typeValue>OrderItemSummary</typeValue>
            </dataTypeMappings>
            <extensionName>c:cancelItemsPreview</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>records</name>
                <value>
                    <elementReference>selectedOrderItemSummaries</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Footer3</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSubmitStep</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Selection</name>
        <label>Product Selection</label>
        <locationX>959</locationX>
        <locationY>391</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Stage_To_Part_2</targetReference>
        </connector>
        <fields>
            <name>ProductSelectionHeading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Select from these available items to cancel.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>productSelection</name>
            <extensionName>runtime_commerce_oms:productSelection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>OrderItemSummaries</name>
                <value>
                    <elementReference>Get_Order_Item_Summary</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOrderItemSummaries</name>
                <value>
                    <elementReference>selectedOrderItemSummaries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowType</name>
                <value>
                    <stringValue>cancel</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderSummary</name>
                <value>
                    <elementReference>Get_Order_Summary_Object</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedOrderItemSummaries</assignToReference>
                <name>selectedOrderItemSummaries</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Footer1</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>handleFlowNavigationManually</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSubmitStep</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reasons_Selection</name>
        <label>Reasons Selection</label>
        <locationX>1133</locationX>
        <locationY>125</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Stage_To_Part_3</targetReference>
        </connector>
        <fields>
            <name>ReasonsSelectionHeading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Select the quantity to cancel and the cancellation reason.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>productChangesSelection</name>
            <extensionName>runtime_commerce_oms:changesWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedOrderItemSummaries</name>
                <value>
                    <elementReference>selectedOrderItemSummaries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowType</name>
                <value>
                    <stringValue>cancel</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>changeItemList</name>
                <value>
                    <elementReference>changeItems</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderSummary</name>
                <value>
                    <elementReference>Get_Order_Summary_Object</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedOrderItemSummaries</assignToReference>
                <name>selectedOrderItemSummaries</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>changeItems</assignToReference>
                <name>changeItemList</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Footer2</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Part_1</name>
        <isActive>true</isActive>
        <label>Select Items</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Part_2</name>
        <isActive>true</isActive>
        <label>Select Quantities and Reasons</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Part_3</name>
        <isActive>true</isActive>
        <label>Review and Submit</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Part_4</name>
        <isActive>true</isActive>
        <label>Confirm and Finish</label>
        <stageOrder>4</stageOrder>
    </stages>
    <start>
        <locationX>458</locationX>
        <locationY>197</locationY>
        <connector>
            <targetReference>Get_Order_Summary_Object</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Error_Output_Invocable_Action_Message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Please close this window and check the Order Summary page for updated information.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_NoItemsToCancel</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>When an order has items you can cancel, you&apos;ll find them here.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_NoItemsToCancel_Header</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Nothing to Cancel</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Unmanaged_Order</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>You can only run this flow on a managed order summary.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Unmanaged_Order_Title</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>The specified order summary is unmanaged.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Wrong_Entity</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>This is where you&apos;d cancel items from an order. To cancel an order, start from the Order Summary page.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Wrong_Entity_Header</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>We don&apos;t think you meant to come here.</text>
    </textTemplates>
    <variables>
        <name>changeInputRepresentation</name>
        <apexClass>ConnectApi__ChangeInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>changeItem</name>
        <apexClass>runtime_commerce_oms__ChangeItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>changeItemInputRepresentation</name>
        <apexClass>ConnectApi__ChangeItemInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>changeItems</name>
        <apexClass>runtime_commerce_oms__ChangeItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>confirmationImage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ensureRefundsAsyncInputRepresentation</name>
        <apexClass>ConnectApi__EnsureRefundsAsyncInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessageImage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessageTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PlatformEventsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OMS_Cancel_Event__e</objectType>
    </variables>
    <variables>
        <name>previewCancelOutput</name>
        <apexClass>ConnectApi__PreviewCancelOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>selectedOrderItemSummaries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>submitCancelOutput</name>
        <apexClass>ConnectApi__SubmitCancelOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TheNewEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OMS_Cancel_Event__e</objectType>
    </variables>
    <variables>
        <name>userEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
