force-app/main/default/flows/SDO_OMS_Return_Item_w_Fee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_An_Invoice</name>
        <label>Create An Invoice</label>
        <locationX>886</locationX>
        <locationY>5510</locationY>
        <actionName>createInvoiceFromChangeOrders</actionName>
        <actionType>createInvoiceFromChangeOrders</actionType>
        <connector>
            <targetReference>Create_Invoice_to_Pay</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Invocable_Action_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>createInvoiceFromChangeOrdersInput</name>
            <value>
                <elementReference>invoiceFromChangeOrdersInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <nameSegment>createInvoiceFromChangeOrders</nameSegment>
        <outputParameters>
            <assignToReference>invoiceFromChangeOrdersOutputRepresentation</assignToReference>
            <name>createInvoiceFromChangeOrdersOutput</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>createCreditMemoId</name>
        <label>Create Credit Memo</label>
        <locationX>1150</locationX>
        <locationY>6026</locationY>
        <actionName>createCreditMemoOrderSummary</actionName>
        <actionType>createCreditMemoOrderSummary</actionType>
        <connector>
            <targetReference>Ensure_Refund_Assignment</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Invocable_Action_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>creditMemoInput</name>
            <value>
                <elementReference>creditMemoInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>createCreditMemoOrderSummary</nameSegment>
        <outputParameters>
            <assignToReference>createCreditMemoOutputRepresentation</assignToReference>
            <name>creditMemoOutput</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>ensureRefund</name>
        <label>Ensure Refund</label>
        <locationX>1150</locationX>
        <locationY>6242</locationY>
        <actionName>ensureRefundsOrderSummaryAsync</actionName>
        <actionType>ensureRefundsOrderSummaryAsync</actionType>
        <connector>
            <targetReference>Set_Stage_To_Stage_6</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Invocable_Action_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ensureRefundsAsyncInput</name>
            <value>
                <elementReference>ensureRefundsAsyncInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ensureRefundsOrderSummaryAsync</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Return_Order_Item_Summaries_Preview</name>
        <label>Return Order Item Summaries Preview</label>
        <locationX>1150</locationX>
        <locationY>4862</locationY>
        <actionName>returnOrderItemSummariesPreview</actionName>
        <actionType>returnOrderItemSummariesPreview</actionType>
        <connector>
            <targetReference>Set_Stage_To_Stage_5</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Invocable_Action_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderItemSummaryLineItemsToChangeInput</name>
            <value>
                <elementReference>changeInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <nameSegment>returnOrderItemSummariesPreview</nameSegment>
        <outputParameters>
            <assignToReference>previewReturnOutput</assignToReference>
            <name>previewReturnOutput</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Return_Order_Item_Summaries_Submit</name>
        <label>Return Order Item Summaries Submit</label>
        <locationX>1150</locationX>
        <locationY>5186</locationY>
        <actionName>returnOrderItemSummariesSubmit</actionName>
        <actionType>returnOrderItemSummariesSubmit</actionType>
        <connector>
            <targetReference>Fee_Change_Order_Id_Exists</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Invocable_Action_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderItemSummaryLineItemsToChangeInput</name>
            <value>
                <elementReference>changeInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <nameSegment>returnOrderItemSummariesSubmit</nameSegment>
        <outputParameters>
            <assignToReference>submitReturnOutput</assignToReference>
            <name>submitReturnOutput</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Active_Stages_With_Return_Fees</name>
        <label>Active Stages</label>
        <locationX>1150</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Stage1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Stage2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Stage3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Stage4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Stage5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Stage6</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_stage_to_part_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Active_Stages_Without_Return_Fees</name>
        <label>Active Stages</label>
        <locationX>886</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Stage1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Stage2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Stage5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Stage6</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_stage_to_part_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Invoice_To_Pay</name>
        <label>Add Invoice To Pay</label>
        <locationX>886</locationX>
        <locationY>5726</locationY>
        <assignmentItems>
            <assignToReference>invoicesToPay</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>invoiceToPay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_ChangeOrderId_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_ChangeOrderId_collection</name>
        <label>Add to ChangeOrderId collection</label>
        <locationX>1150</locationX>
        <locationY>5918</locationY>
        <assignmentItems>
            <assignToReference>creditMemoInputRepresentation.changeOrderIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>submitReturnOutput.changeOrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createCreditMemoId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PriceBookEntryId</name>
        <label>Assign PriceBookEntryId</label>
        <locationX>578</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>selectedPriceBookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PriceBookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fees_Prompt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product2</name>
        <label>Assign Product2</label>
        <locationX>578</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>selectedProduct2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Created_Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OrderSummary_Has_PriceBook</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Input_Representation</name>
        <label>Change Input Representation</label>
        <locationX>1326</locationX>
        <locationY>4670</locationY>
        <assignmentItems>
            <assignToReference>changeInputRepresentation.changeItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>changeItemInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Item_Representation_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Item_Assignment</name>
        <label>Change Item Assignment</label>
        <locationX>1238</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>changeItem.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedOrderItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeItem.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeItem.reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeItem.shippingReductionFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Item_List_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Item_Fee_Input_Representation</name>
        <label>Change Item Fee Input Representation</label>
        <locationX>1414</locationX>
        <locationY>4370</locationY>
        <assignmentItems>
            <assignToReference>changeItemFeeInputRepresentation.amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Change_Item_Fees_Loop.amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeItemFeeInputRepresentation.amountType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Change_Item_Fees_Loop.amountType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeItemFeeInputRepresentation.description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!selectedFeeDescription} - {!Change_Item_Fees_Loop.description}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeItemFeeInputRepresentation.priceBookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Change_Item_Fees_Loop.priceBookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeItemFeeInputRepresentation.product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Change_Item_Fees_Loop.product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeItemFeeInputRepresentation.reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Change_Item_Fees_Loop.reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Item_Fee_Input_Representations_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Item_Fee_Input_Representations_Assignment</name>
        <label>Change Item Fee Input Representations Assignment</label>
        <locationX>1414</locationX>
        <locationY>4478</locationY>
        <assignmentItems>
            <assignToReference>changeItemInputRepresentation.changeItemFees</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>changeItemFeeInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Item_Fees_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Item_Input_Representation_Assignment</name>
        <label>Change Item Input Representation Assignment</label>
        <locationX>1326</locationX>
        <locationY>3938</locationY>
        <assignmentItems>
            <assignToReference>changeItemInputRepresentation.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>changeItem.orderItemSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeItemInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>changeItem.quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeItemInputRepresentation.reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>changeItem.reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changeItemInputRepresentation.shippingReductionFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>changeItem.shippingReductionFlag</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clean_ChangeItemFees_Input_Representation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Item_List_Assignment</name>
        <label>Change Item List Assignment</label>
        <locationX>1238</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>changeItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>changeItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Item_Assignment_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ChangeItemWithFees_Count</name>
        <label>ChangeItemWithFees Count</label>
        <locationX>908</locationX>
        <locationY>3230</locationY>
        <assignmentItems>
            <assignToReference>changeItemWithFeesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>changeItemWithFees</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>With_Return_Fee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clean_ChangeItemFees_Input_Representation</name>
        <label>Clean ChangeItemFees Input Representation</label>
        <locationX>1326</locationX>
        <locationY>4046</locationY>
        <assignmentItems>
            <assignToReference>changeItemInputRepresentation.changeItemFees</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>changeItemInputRepresentation.changeItemFees</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_changeItemFees_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Invoice_Input_Rep</name>
        <label>Create Invoice Input Rep</label>
        <locationX>886</locationX>
        <locationY>5402</locationY>
        <assignmentItems>
            <assignToReference>invoiceFromChangeOrdersInputRepresentation.changeOrderIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>submitReturnOutput.feeChangeOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceFromChangeOrdersInputRepresentation.orderSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_An_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Invoice_to_Pay</name>
        <label>Create Invoice to Pay</label>
        <locationX>886</locationX>
        <locationY>5618</locationY>
        <assignmentItems>
            <assignToReference>invoiceToPay.invoiceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invoiceFromChangeOrdersOutputRepresentation.invoiceId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Invoice_To_Pay</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ensure_Refund_Assignment</name>
        <label>Ensure Refund Assignment</label>
        <locationX>1150</locationX>
        <locationY>6134</locationY>
        <assignmentItems>
            <assignToReference>ensureRefundsAsyncInputRepresentation.creditMemoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createCreditMemoOutputRepresentation.creditMemoId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ensureRefundsAsyncInputRepresentation.invoicesToPay</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invoicesToPay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ensureRefund</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Invocable_Action_Error_Message</name>
        <label>Invocable Action Error Message</label>
        <locationX>1678</locationX>
        <locationY>6350</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Invocable_Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Invocable_Action_Image</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>FailureExit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Items_Error_Message</name>
        <label>No Items Error Message</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_NoItemsToReturn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_NoItemsToReturn_Header</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_NoItemsToReturn_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FailureExit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_changeItemFees_List</name>
        <label>Set changeItemFees List</label>
        <locationX>1326</locationX>
        <locationY>4154</locationY>
        <assignmentItems>
            <assignToReference>changeItemFees</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>changeItem.changeItemFees</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Item_Fees_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_stage_to_part_1</name>
        <label>Set stage to part 1</label>
        <locationX>1150</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_stage_to_part_2</name>
        <label>Set stage to part 2</label>
        <locationX>1150</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Item_Assignment_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_To_Part_4</name>
        <label>Set Stage To Part 4</label>
        <locationX>864</locationX>
        <locationY>3446</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fee_Changes_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_To_Stage_3</name>
        <label>Set Stage To Stage 3</label>
        <locationX>908</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product2_provided</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_To_Stage_5</name>
        <label>Set Stage To Stage 5</label>
        <locationX>1150</locationX>
        <locationY>4970</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PreviewChanges</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_To_Stage_6</name>
        <label>Set Stage To Stage 6</label>
        <locationX>1150</locationX>
        <locationY>6350</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>confirmationImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirmation_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Unmanaged_Order_Error_Message</name>
        <label>Set Unmanaged Order Error Message</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Unmanaged_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Unmanaged_Order_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Unmanaged_Order_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FailureExit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Wrong_Entity_Error_Message</name>
        <label>Set Wrong Entity Error Message</label>
        <locationX>3262</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_Entity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_Entity_Header</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_Entity_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FailureExit</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Confirmation_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_Invocable_Action_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_NoItemsToReturn_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_Unmanaged_Order_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_Wrong_Entity_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>ZERO</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Are_Any_Items_To_Return</name>
        <label>Are Any Items To Return</label>
        <locationX>1524</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoItems</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Item_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Items_Error_Message</targetReference>
            </connector>
            <label>NoItems</label>
        </rules>
        <rules>
            <name>ItemsAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Item_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Return_Fees_Allowed</targetReference>
            </connector>
            <label>ItemsAvailable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Created_Product2_Exists</name>
        <label>Created Product2 Exists?</label>
        <locationX>710</locationX>
        <locationY>2138</locationY>
        <defaultConnector>
            <targetReference>Create_Product2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has Not Product2</defaultConnectorLabel>
        <rules>
            <name>Has_Product2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Created_Product2.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>productCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product2</targetReference>
            </connector>
            <label>Has Product2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_PriceBookEntry_Exist</name>
        <label>Does PriceBookEntry Exist?</label>
        <locationX>710</locationX>
        <locationY>2738</locationY>
        <defaultConnector>
            <targetReference>Create_PriceBookEntry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found PriceBookEntry</defaultConnectorLabel>
        <rules>
            <name>Found_PriceBookEntry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PriceBookEntry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PriceBookEntryId</targetReference>
            </connector>
            <label>Found PriceBookEntry</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fee_Change_Order_Id_Exists</name>
        <label>Fee Change Order Id Exists?</label>
        <locationX>1150</locationX>
        <locationY>5294</locationY>
        <defaultConnector>
            <targetReference>Add_to_ChangeOrderId_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Exists</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>submitReturnOutput.feeChangeOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>submitReturnOutput.feeChangeOrderId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Invoice_Input_Rep</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>isValid</name>
        <label>isValid</label>
        <locationX>1788</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unmanaged_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Summary.OrderLifeCycleType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UNMANAGED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Unmanaged_Order_Error_Message</targetReference>
            </connector>
            <label>Unmanaged Order</label>
        </rules>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Item_Summary</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
        <rules>
            <name>Not_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
            </connector>
            <label>Not Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Return_Fees_Allowed</name>
        <label>No Return Fees Allowed</label>
        <locationX>1150</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Allowed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allowReturnFees</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Stages_Without_Return_Fees</targetReference>
            </connector>
            <label>Not Allowed</label>
        </rules>
        <rules>
            <name>Allowed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allowReturnFees</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Stages_With_Return_Fees</targetReference>
            </connector>
            <label>Allowed</label>
        </rules>
    </decisions>
    <decisions>
        <name>OrderSummary_Has_PriceBook</name>
        <label>OrderSummary Has PriceBook?</label>
        <locationX>908</locationX>
        <locationY>2522</locationY>
        <defaultConnector>
            <targetReference>Fees_Prompt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has Not PriceBook</defaultConnectorLabel>
        <rules>
            <name>Has_PriceBook</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PriceBookEntry</targetReference>
            </connector>
            <label>Has PriceBook</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product2_provided</name>
        <label>Product2 provided?</label>
        <locationX>908</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>OrderSummary_Has_PriceBook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Provided</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedProduct2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Created_Product2</targetReference>
            </connector>
            <label>Is Not Provided</label>
        </rules>
    </decisions>
    <decisions>
        <name>Show_the_Fee_Screen</name>
        <label>Show the fee screen</label>
        <locationX>1150</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Change_Item_Representation_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Show_The_Fees_Prompt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allowReturnFees</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_To_Stage_3</targetReference>
            </connector>
            <label>Show The Fees Prompt</label>
        </rules>
    </decisions>
    <decisions>
        <name>With_Return_Fee</name>
        <label>With Return Fee?</label>
        <locationX>908</locationX>
        <locationY>3338</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>changeItemWithFeesCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Item_Representation_Loop</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>changeItemWithFeesCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_To_Part_4</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Clone of latest managed version with Return Fee logic but deactivated
Bill Macaulay 5/23</description>
    <environments>Default</environments>
    <interviewLabel>Return Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Return Item</label>
    <loops>
        <name>Change_Item_Assignment_Loop</name>
        <label>Change Item Assignment Loop</label>
        <locationX>1150</locationX>
        <locationY>1190</locationY>
        <assignNextValueToReference>selectedOrderItem</assignNextValueToReference>
        <collectionReference>selectedOrderItemSummaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Change_Item_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Reasons_Selection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Change_Item_Fees_Loop</name>
        <label>Change Item Fees Loop</label>
        <locationX>1326</locationX>
        <locationY>4262</locationY>
        <collectionReference>changeItemFees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Change_Item_Fee_Input_Representation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Change_Input_Representation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Change_Item_Representation_Loop</name>
        <label>Change Item Representation Loop</label>
        <locationX>1150</locationX>
        <locationY>3830</locationY>
        <assignNextValueToReference>changeItem</assignNextValueToReference>
        <collectionReference>changeItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Change_Item_Input_Representation_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Return_Order_Item_Summaries_Preview</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_PriceBookEntry</name>
        <label>Create PriceBookEntry</label>
        <locationX>842</locationX>
        <locationY>2846</locationY>
        <assignRecordIdToReference>selectedPriceBookEntryId</assignRecordIdToReference>
        <connector>
            <targetReference>Fees_Prompt</targetReference>
        </connector>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Order_Summary.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>selectedProduct2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>selectedUnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product2</name>
        <label>Create Product2</label>
        <locationX>842</locationX>
        <locationY>2246</locationY>
        <assignRecordIdToReference>selectedProduct2Id</assignRecordIdToReference>
        <connector>
            <targetReference>OrderSummary_Has_PriceBook</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Fee For Returns</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Fee For Returns</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductCode</field>
            <value>
                <elementReference>productCode</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Created_Product2</name>
        <label>Get Created Product2</label>
        <locationX>710</locationX>
        <locationY>2030</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Created_Product2_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Item_Summary</name>
        <label>Get Order Item Summary</label>
        <locationX>1524</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Any_Items_To_Return</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delivery Charge</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuantityAvailableToReturn</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get OrderSummary for the record Id passed</description>
        <name>Get_Order_Summary</name>
        <label>Get Order Summary</label>
        <locationX>1788</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isValid</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PriceBookEntry</name>
        <label>Get PriceBookEntry</label>
        <locationX>710</locationX>
        <locationY>2630</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_PriceBookEntry_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Summary.Pricebook2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedProduct2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>FailureExit</name>
        <label>Failure Exit</label>
        <locationX>1788</locationX>
        <locationY>6842</locationY>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
    </recordRollbacks>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>1150</locationX>
        <locationY>6458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConfirmationImageDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;{!confirmationImage}&quot; alt=&quot;&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmationHeading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;You&apos;re all set! The return succeeded.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Footer4</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>1788</locationX>
        <locationY>6950</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Output_Message_Image</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;{!errorMessageImage}&quot; alt=&quot;&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_Output_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!errorMessageTitle}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!errorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fee_Changes_Selection</name>
        <label>Fee Changes Selection</label>
        <locationX>864</locationX>
        <locationY>3554</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Change_Item_Representation_Loop</targetReference>
        </connector>
        <fields>
            <name>FeesSelectionHeading</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(68, 68, 68);&quot;&gt;Select a return fee type and value for each returned item.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>feeChangesSelection</name>
            <extensionName>runtime_commerce_oms:feeChangesSelection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>changeItems</name>
                <value>
                    <elementReference>changeItems</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>changeItemWithFees</name>
                <value>
                    <elementReference>changeItemWithFees</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowType</name>
                <value>
                    <stringValue>return_fees</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSubmitStep</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>taxLocaleType</name>
                <value>
                    <elementReference>Get_Order_Summary.TaxLocaleType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOrderSummary</name>
                <value>
                    <elementReference>Get_Order_Summary</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>changeItems</assignToReference>
                <name>changeItems</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>isError</assignToReference>
                <name>isFlowError</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fees_Prompt</name>
        <label>Fees Prompt</label>
        <locationX>908</locationX>
        <locationY>3122</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ChangeItemWithFees_Count</targetReference>
        </connector>
        <fields>
            <name>feesPromptHeading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(68, 68, 68);&quot;&gt;Select the products with return fee.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>feesPromptSection</name>
            <extensionName>runtime_commerce_oms:feePrompt</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>changeItems</name>
                <value>
                    <elementReference>changeItems</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>changeItemWithFees</name>
                <value>
                    <elementReference>changeItemWithFees</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedFeeType</name>
                <value>
                    <elementReference>selectedFeeType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOrderItemSummaries</name>
                <value>
                    <elementReference>selectedOrderItemSummaries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedProduct2Id</name>
                <value>
                    <elementReference>selectedProduct2Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedFeeValue</name>
                <value>
                    <elementReference>selectedFeeValue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedReasonForFees</name>
                <value>
                    <elementReference>selectedReasonForFee</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedPricebookEntryId</name>
                <value>
                    <elementReference>selectedPriceBookEntryId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>changeItems</assignToReference>
                <name>changeItems</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>changeItemWithFees</assignToReference>
                <name>changeItemWithFees</name>
            </outputParameters>
        </fields>
        <fields>
            <name>feesPromptFooter</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isError</assignToReference>
                <name>isFlowError</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PreviewChanges</name>
        <label>PreviewChanges</label>
        <locationX>1150</locationX>
        <locationY>5078</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Return_Order_Item_Summaries_Submit</targetReference>
        </connector>
        <fields>
            <name>PreviewChangesHeading</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;Review your selections. If everything looks good, you&apos;re ready to submit!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ReviewOrderChanges</name>
            <extensionName>runtime_commerce_oms:reviewWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>changeItemList</name>
                <value>
                    <elementReference>changeItems</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>return</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderSummary</name>
                <value>
                    <elementReference>Get_Order_Summary</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previewReturnOutput</name>
                <value>
                    <elementReference>previewReturnOutput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOrderItemSummaries</name>
                <value>
                    <elementReference>selectedOrderItemSummaries</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Footer3</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSubmitStep</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Selection</name>
        <label>Product Selection</label>
        <locationX>1150</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_stage_to_part_2</targetReference>
        </connector>
        <fields>
            <name>ProductSelectionHeading</name>
            <fieldText>&lt;p class=&quot;ql-indent-1&quot; style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;Select from these available items to return.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>productSelection</name>
            <extensionName>runtime_commerce_oms:productSelection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>OrderItemSummaries</name>
                <value>
                    <elementReference>Get_Order_Item_Summary</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOrderItemSummaries</name>
                <value>
                    <elementReference>selectedOrderItemSummaries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowType</name>
                <value>
                    <stringValue>return</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderSummary</name>
                <value>
                    <elementReference>Get_Order_Summary</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedOrderItemSummaries</assignToReference>
                <name>selectedOrderItemSummaries</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ProductSelctionFooter</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isError</assignToReference>
                <name>isFlowError</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reasons_Selection</name>
        <label>Reasons Selection</label>
        <locationX>1150</locationX>
        <locationY>1598</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Show_the_Fee_Screen</targetReference>
        </connector>
        <fields>
            <name>ReasonsSelectionHeading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Select the quantity to return and the return reason.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>productChangesSelection</name>
            <extensionName>runtime_commerce_oms:changesWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedOrderItemSummaries</name>
                <value>
                    <elementReference>selectedOrderItemSummaries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>changeItemList</name>
                <value>
                    <elementReference>changeItems</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowType</name>
                <value>
                    <stringValue>return</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderSummary</name>
                <value>
                    <elementReference>Get_Order_Summary</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>changeItems</assignToReference>
                <name>changeItemList</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedOrderItemSummaries</assignToReference>
                <name>selectedOrderItemSummaries</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Footer2</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isError</assignToReference>
                <name>isFlowError</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>runtime_commerce_oms__Return_Item</sourceTemplate>
    <stages>
        <name>Stage1</name>
        <isActive>false</isActive>
        <label>Select Items</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Stage2</name>
        <isActive>false</isActive>
        <label>Select Quantities and Reasons</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Stage3</name>
        <isActive>false</isActive>
        <label>Select Products with Return Fees</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Stage4</name>
        <isActive>false</isActive>
        <label>Select Return Fees Amounts</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>Stage5</name>
        <isActive>false</isActive>
        <label>Review and Submit</label>
        <stageOrder>5</stageOrder>
    </stages>
    <stages>
        <name>Stage6</name>
        <isActive>false</isActive>
        <label>Confirm and Finish</label>
        <stageOrder>6</stageOrder>
    </stages>
    <start>
        <locationX>1662</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Summary</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Error_Output_Invocable_Message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Close this window and check the order summary page for updated information.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_NoItemsToReturn</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>When an order has items you can return, you&apos;ll find them here.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_NoItemsToReturn_Header</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Nothing to Return</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Unmanaged_Order</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>You can only run this flow on a managed order summary.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Unmanaged_Order_Title</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>The specified order summary is unmanaged.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Wrong_Entity</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>This is where you&apos;d return items from an order. To return an order, start from the order summary page.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Wrong_Entity_Header</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>We don&apos;t think you meant to come here.</text>
    </textTemplates>
    <variables>
        <name>allowReturnFees</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>changeInputRepresentation</name>
        <apexClass>ConnectApi__ChangeInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>changeItem</name>
        <apexClass>runtime_commerce_oms__ChangeItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>changeItemFeeInputRepresentation</name>
        <apexClass>ConnectApi__ChangeItemFeeInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>changeItemFees</name>
        <apexClass>runtime_commerce_oms__ChangeItemFee</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>changeItemInputRepresentation</name>
        <apexClass>ConnectApi__ChangeItemInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>changeItems</name>
        <apexClass>runtime_commerce_oms__ChangeItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>changeItemWithFees</name>
        <apexClass>runtime_commerce_oms__ChangeItemWithFee</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>changeItemWithFeesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>changeOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>changeOrderIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>confirmationImage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createCreditMemoOutputRepresentation</name>
        <apexClass>ConnectApi__CreateCreditMemoOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>creditMemoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>creditMemoInputRepresentation</name>
        <apexClass>ConnectApi__CreateCreditMemoInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ensureRefundsAsyncInputRepresentation</name>
        <apexClass>ConnectApi__EnsureRefundsAsyncInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessageImage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessageTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoiceFromChangeOrdersInputRepresentation</name>
        <apexClass>ConnectApi__CreateInvoiceFromChangeOrdersInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoiceFromChangeOrdersOutputRepresentation</name>
        <apexClass>ConnectApi__ChangeOrdersInvoiceOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoicesToPay</name>
        <apexClass>ConnectApi__InvoiceToPayInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoiceToPay</name>
        <apexClass>ConnectApi__InvoiceToPayInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>previewReturnOutput</name>
        <apexClass>ConnectApi__PreviewReturnOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>fee</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedFeeDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Return Fee</stringValue>
        </value>
    </variables>
    <variables>
        <name>selectedFeeType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Amount</stringValue>
        </value>
    </variables>
    <variables>
        <name>selectedFeeValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>selectedOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>selectedOrderItemSummaries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>selectedPriceBookEntryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedProduct2Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedReasonForFee</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedUnitPrice</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>submitReturnOutput</name>
        <apexClass>ConnectApi__SubmitReturnOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
