force-app/main/default/flows/SDO_OMS_Create_Fulfillment_Orders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Fulfillment_Orders</name>
        <label>Create Fulfillment Orders</label>
        <locationX>1164</locationX>
        <locationY>273</locationY>
        <actionName>createFulfillmentOrder</actionName>
        <actionType>createFulfillmentOrder</actionType>
        <connector>
            <targetReference>Loop_through_Order_Delivery_Group_Summaries</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fulfillmentOrderInput</name>
            <value>
                <elementReference>InputRepresentation</elementReference>
            </value>
        </inputParameters>
        <nameSegment>createFulfillmentOrder</nameSegment>
        <outputParameters>
            <assignToReference>FulfillmentOrdersOutput</assignToReference>
            <name>fulfillmentOrderOutput</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Delivery_Charges_to_Group</name>
        <label>Add Delivery Charges to Group</label>
        <locationX>1636</locationX>
        <locationY>752</locationY>
        <assignmentItems>
            <assignToReference>FulfillmentGroup.orderItemSummaries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderItemSummaryListDeliveryCharge</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Group_with_Delivery_Charges_to_Input_Representation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Group_To_Input_Representation</name>
        <label>Add Group to Input Representation</label>
        <locationX>799</locationX>
        <locationY>977</locationY>
        <assignmentItems>
            <assignToReference>InputRepresentation.fulfillmentGroups</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FulfillmentGroup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Summary_Items_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Group_with_Delivery_Charges_to_Input_Representation</name>
        <label>Add Group to Input Representation</label>
        <locationX>1497</locationX>
        <locationY>752</locationY>
        <assignmentItems>
            <assignToReference>InputRepresentation.fulfillmentGroups</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>FulfillmentGroup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_All_Fulfillment_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Order_Product_Summary_To_Group</name>
        <label>Add Order Product Summary to Group</label>
        <locationX>1308</locationX>
        <locationY>1420</locationY>
        <assignmentItems>
            <assignToReference>FulfillmentGroup.orderItemSummaries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderItemSummaryInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_ExistingFulfillmentGroup_Flag_To_True</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Product_to_Delivery_Charge_List</name>
        <label>Add Product to Delivery Charge List</label>
        <locationX>667</locationX>
        <locationY>705</locationY>
        <assignmentItems>
            <assignToReference>OrderItemSummaryListDeliveryCharge</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderItemSummaryInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Summary_Items_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Group_For_Order_Product_Summary</name>
        <label>Create Group for Order Product Summary</label>
        <locationX>1014</locationX>
        <locationY>977</locationY>
        <assignmentItems>
            <assignToReference>FulfillmentGroup.fulfilledFromLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocationToFulfill.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentGroup.fulfillmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FulfillmentType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentGroup.orderItemSummaries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderItemSummaryInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Group_To_Input_Representation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Fulfillment_Groups</name>
        <label>Get Fulfillment Groups</label>
        <locationX>1010</locationX>
        <locationY>752</locationY>
        <assignmentItems>
            <assignToReference>FulfillmentGroups</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputRepresentation.fulfillmentGroups</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_Loop_Iteration_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Counter</name>
        <label>Increment Counter</label>
        <locationX>1250</locationX>
        <locationY>977</locationY>
        <assignmentItems>
            <assignToReference>LoopIterationCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>First_Loop_Iteration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_first_Fulfillment_Group</name>
        <label>Remove Group from Input Representation</label>
        <locationX>1636</locationX>
        <locationY>977</locationY>
        <assignmentItems>
            <assignToReference>InputRepresentation.fulfillmentGroups</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Delivery_Charges_to_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Group_From_Input_Representation</name>
        <label>Remove Group from Input Representation</label>
        <locationX>1308</locationX>
        <locationY>1570</locationY>
        <assignmentItems>
            <assignToReference>InputRepresentation.fulfillmentGroups</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>FulfillmentGroup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Order_Product_Summary_To_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_ExistingFulfillmentGroup_Flag</name>
        <label>Reset ExistingFulfillmentGroup Flag</label>
        <locationX>769</locationX>
        <locationY>1420</locationY>
        <assignmentItems>
            <assignToReference>ExistingFulfillmentGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Existing_Fulfillment_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Fulfillment_Group</name>
        <label>Reset Fulfillment Group</label>
        <locationX>1150</locationX>
        <locationY>1208</locationY>
        <assignmentItems>
            <assignToReference>FulfillmentGroup.fulfilledFromLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentGroup.fulfillmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentGroup.orderItemSummaries</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>FulfillmentGroup.orderItemSummaries</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Group_For_Order_Product_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Input_Variables</name>
        <label>Reset Input Variables</label>
        <locationX>545</locationX>
        <locationY>265</locationY>
        <assignmentItems>
            <assignToReference>InputRepresentation.orderSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputRepresentation.orderDeliveryGroupSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputRepresentation.fulfillmentGroups</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>InputRepresentation.fulfillmentGroups</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItemSummaryListDeliveryCharge</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>OrderItemSummaryListDeliveryCharge</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Order_Product_Summaries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Loop_Iteration_Counter</name>
        <label>Reset Loop Iteration Counter</label>
        <locationX>1165</locationX>
        <locationY>752</locationY>
        <assignmentItems>
            <assignToReference>LoopIterationCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_All_Fulfillment_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Existing_Groups_on_Input_Representation</name>
        <label>Set Existing Groups on Input Representation</label>
        <locationX>555</locationX>
        <locationY>1420</locationY>
        <assignmentItems>
            <assignToReference>FulfillmentGroups</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputRepresentation.fulfillmentGroups</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_ExistingFulfillmentGroup_Flag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>An existing fulfillment group was updated.</description>
        <name>Set_ExistingFulfillmentGroup_Flag_To_True</name>
        <label>Set ExistingFulfillmentGroup Flag to True</label>
        <locationX>1142</locationX>
        <locationY>1420</locationY>
        <assignmentItems>
            <assignToReference>ExistingFulfillmentGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Existing_Fulfillment_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Input_Representation</name>
        <label>Set Input Representation</label>
        <locationX>1164</locationX>
        <locationY>527</locationY>
        <assignmentItems>
            <assignToReference>InputRepresentation.orderSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputRepresentation.orderDeliveryGroupSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderDeliveryGroupSummaryRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Fulfillment_Orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Item_Summary_Input_Representation</name>
        <label>Set Item Summary Input Representation</label>
        <locationX>357</locationX>
        <locationY>534</locationY>
        <assignmentItems>
            <assignToReference>OrderItemSummaryInputRepresentation.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderProductSummaryRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItemSummaryInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderProductSummaryRecord.QuantityAvailableToCancel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Fulfillment_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Type_To_Store</name>
        <label>Set Type to Store</label>
        <locationX>298</locationX>
        <locationY>1420</locationY>
        <assignmentItems>
            <assignToReference>FulfillmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Retail Store</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Existing_Groups_on_Input_Representation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Type_To_Warehouse</name>
        <label>Set Type to Warehouse</label>
        <locationX>519</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>FulfillmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warehouse</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Existing_Groups_on_Input_Representation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Use_Default_Warehouse_Location</name>
        <label>Use Default Warehouse Location</label>
        <locationX>518</locationX>
        <locationY>1111</locationY>
        <assignmentItems>
            <assignToReference>LocationToFulfill</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DefaultWarehouseLocation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Type_To_Warehouse</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Added_To_Existing_Group</name>
        <label>Added to Existing Group?</label>
        <locationX>961</locationX>
        <locationY>1211</locationY>
        <defaultConnector>
            <targetReference>Reset_Fulfillment_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Existing_FulfillmentGroup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingFulfillmentGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Group_To_Input_Representation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>If there were any delivery charge products, add them all to the first fulfillment group.</description>
        <name>Any_Delivery_Charges</name>
        <label>Any Delivery Charges?</label>
        <locationX>1001</locationX>
        <locationY>527</locationY>
        <defaultConnector>
            <targetReference>Set_Input_Representation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Exist_Delivery_Charges</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderItemSummaryListDeliveryCharge</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Fulfillment_Groups</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>We only want to look at the first fulfillment group.</description>
        <name>First_Loop_Iteration</name>
        <label>First Loop Iteration?</label>
        <locationX>1441</locationX>
        <locationY>978</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_All_Fulfillment_Groups</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_the_first_iteration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopIterationCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_first_Fulfillment_Group</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Location_Exist</name>
        <label>Location Type</label>
        <locationX>289</locationX>
        <locationY>1244</locationY>
        <defaultConnector>
            <targetReference>Use_Default_Warehouse_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Location Not Found</defaultConnectorLabel>
        <rules>
            <name>Existing_Warehouse_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocationToFulfill</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LocationToFulfill.LocationType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Warehouse</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Type_To_Warehouse</targetReference>
            </connector>
            <label>Existing Warehouse Location</label>
        </rules>
        <rules>
            <name>Existing_Store_Location</name>
            <conditionLogic>1 AND NOT 2</conditionLogic>
            <conditions>
                <leftValueReference>LocationToFulfill</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LocationToFulfill.LocationType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Warehouse</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Type_To_Store</targetReference>
            </connector>
            <label>Existing Store Location</label>
        </rules>
    </decisions>
    <decisions>
        <name>Location_Has_Existing_Group</name>
        <label>Location Has Existing Group?</label>
        <locationX>1134</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Existing_Fulfillment_Groups</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Existing_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FulfillmentGroup.fulfilledFromLocationId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LocationToFulfill.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Group_From_Input_Representation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Fulfillment_Location</name>
        <label>Product Fulfillment Location</label>
        <locationX>349</locationX>
        <locationY>709</locationY>
        <defaultConnector>
            <targetReference>Get_Product_Fulfillment_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Location is not Specified</defaultConnectorLabel>
        <rules>
            <name>Delivery_Charges</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderProductSummaryRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery Charge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Product_to_Delivery_Charge_List</targetReference>
            </connector>
            <label>Product is Delivery Charge</label>
        </rules>
        <rules>
            <name>Fulfill_to_specified_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderProductSummaryRecord.Fulfillment_Location__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Location_by_Name</targetReference>
            </connector>
            <label>Location is Specified</label>
        </rules>
    </decisions>
    <description>What: Remove Process Builder &amp; Split based on product2.Fulfillment_Location__c
Who: Bill Macaulay When: March 2023</description>
    <interviewLabel>Create Fulfillment Orders for Multiple Locations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OMS - Create Fulfillment Orders for Multiple Locations</label>
    <loops>
        <name>Loop_Through_All_Fulfillment_Groups</name>
        <label>All Fulfillment Groups</label>
        <locationX>1361</locationX>
        <locationY>752</locationY>
        <assignNextValueToReference>FulfillmentGroup</assignNextValueToReference>
        <collectionReference>FulfillmentGroups</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Input_Representation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Existing_Fulfillment_Groups</name>
        <label>Existing Fulfillment Groups</label>
        <locationX>969</locationX>
        <locationY>1420</locationY>
        <assignNextValueToReference>FulfillmentGroup</assignNextValueToReference>
        <collectionReference>FulfillmentGroups</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Location_Has_Existing_Group</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Added_To_Existing_Group</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Order_Delivery_Group_Summaries</name>
        <label>Order Delivery Group Summaries</label>
        <locationX>545</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>OrderDeliveryGroupSummaryRecord</assignNextValueToReference>
        <collectionReference>OrderDeliveryGroupSummaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_Input_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Order_Summary_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Summary_Items_Collection</name>
        <label>Order Product Summaries</label>
        <locationX>791</locationX>
        <locationY>523</locationY>
        <assignNextValueToReference>OrderProductSummaryRecord</assignNextValueToReference>
        <collectionReference>OrderSummaryItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Item_Summary_Input_Representation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_Delivery_Charges</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Warehouse_Location</name>
        <label>A Default Warehouse Location</label>
        <locationX>167</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Delivery_Group_Summaries</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Warehouse 1</stringValue>
            </value>
        </filters>
        <object>Location</object>
        <outputReference>DefaultWarehouseLocation</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LocationType</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Location_by_Name</name>
        <label>Location</label>
        <locationX>200</locationX>
        <locationY>921</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Location_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderProductSummaryRecord.Fulfillment_Location__c</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputReference>LocationToFulfill</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LocationType</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Product_Summaries</name>
        <label>Order Product Summaries</label>
        <locationX>544</locationX>
        <locationY>422</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Summary_Items_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderDeliveryGroupSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderDeliveryGroupSummaryRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>QuantityAvailableToCancel</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>OrderItemSummary</object>
        <outputReference>OrderSummaryItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>ProductCode</queriedFields>
        <queriedFields>QuantityAvailableToCancel</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Fulfillment_Location__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Fulfillment_Location</name>
        <label>Get Product Fulfillment Location</label>
        <locationX>486</locationX>
        <locationY>900</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Suggested_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderProductSummaryRecord.Product2Id</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>SuggestedLocation</assignToReference>
            <field>SDO_OMS_Fulfillment_Location__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Suggested_Location</name>
        <label>Get Suggested Location</label>
        <locationX>357</locationX>
        <locationY>1046</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Location_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SuggestedLocation</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputReference>LocationToFulfill</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LocationType</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Order_Delivery_Group_Summaries</name>
        <label>Order Delivery Group Summaries</label>
        <locationX>364</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Order_Delivery_Group_Summaries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>OrderDeliveryGroupSummary</object>
        <outputReference>OrderDeliveryGroupSummaries</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OriginalOrderDeliveryGroupId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Summary_Status</name>
        <label>Order Summary Status</label>
        <locationX>1358</locationX>
        <locationY>50</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Waiting to Fulfill</stringValue>
            </value>
        </inputAssignments>
        <object>OrderSummary</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>7</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Find_Warehouse_Location</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>OrderSummary</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DefaultWarehouseLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>ExistingFulfillmentGroup</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FulfillmentGroup</name>
        <apexClass>ConnectApi__FulfillmentGroupInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentGroups</name>
        <apexClass>ConnectApi__FulfillmentGroupInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentOrdersOutput</name>
        <apexClass>ConnectApi__FulfillmentOrderOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocationToFulfill</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>LoopIterationCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OrderDeliveryGroupSummaries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderDeliveryGroupSummary</objectType>
    </variables>
    <variables>
        <name>OrderDeliveryGroupSummaryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderDeliveryGroupSummary</objectType>
    </variables>
    <variables>
        <name>OrderItemSummaryInputRepresentation</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderItemSummaryListDeliveryCharge</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderProductSummaryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>OrderSummaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderSummaryItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>SuggestedLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
