force-app/main/default/flows/SDO_Maps_Checklist.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>get_record_id</name>
        <label>get record id</label>
        <locationX>271</locationX>
        <locationY>177</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>All_Fields_Filled_Out</name>
        <label>All Fields Filled Out?</label>
        <locationX>644</locationX>
        <locationY>374</locationY>
        <defaultConnector>
            <targetReference>Create_a_task_related_to_the_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>A_distance_of_6_feet_will_be_maintained_to_meet_in_person</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Applicable_PPE_is_being_use_e_g_face_covering</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Customer_has_provided_written_consent_agreeing_to_meet_in_person</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>I_am_not_experiencing_any_symptoms_consistent_with_COVID_19_including_but_not_li</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>I_have_completed_my_wellness_checkin_via_work_com</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oops_looks_like_we_need_to_fix_something_here</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>What: Maps Safety Checklist. Who: Dylan Friddle &amp; Aaron Bendickson. When: Aug 30,2021</description>
    <interviewLabel>SDO_Maps_Checklist {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Maps - Checklist</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_task_related_to_the_account</name>
        <label>Create a task related to the account</label>
        <locationX>650</locationX>
        <locationY>565</locationY>
        <connector>
            <targetReference>Completed</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDO_Maps_Safety_Checklist_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Safety Checklist: {!DateCollected}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>getAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>270</locationX>
        <locationY>369</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Safety_Checklist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Completed</name>
        <label>Completed</label>
        <locationX>652</locationX>
        <locationY>739</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SCCompleted</name>
            <fieldText>&lt;p&gt;Safety Checklist is now complete!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SDO_Maps_Flow_CovidAstro</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>SDO_Maps_Flow_CovidAstro</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Oops_looks_like_we_need_to_fix_something_here</name>
        <label>Oops, looks like we need to fix something here.</label>
        <locationX>882</locationX>
        <locationY>368</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Why</name>
            <fieldText>&lt;p&gt;{!$User.FirstName} please go to the previous screen and ensure all boxes are checked. We need to ensure the safety of our customers. Thank you!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Safety_Checklist</name>
        <label>Safety Checklist</label>
        <locationX>469</locationX>
        <locationY>369</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>All_Fields_Filled_Out</targetReference>
        </connector>
        <fields>
            <name>COVID19</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;🛡️ Please confirm you are adhering to the following precautions in addition to any local legislation before visiting {!getAccount.Name}.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_has_provided_written_consent_agreeing_to_meet_in_person</name>
            <dataType>Boolean</dataType>
            <fieldText>Customer has provided written consent agreeing to meet in-person</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>A_distance_of_6_feet_will_be_maintained_to_meet_in_person</name>
            <dataType>Boolean</dataType>
            <fieldText>A distance of 6 feet will be maintained to meet in-person</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>I_am_not_experiencing_any_symptoms_consistent_with_COVID_19_including_but_not_li</name>
            <dataType>Boolean</dataType>
            <fieldText>I am not experiencing any symptoms consistent with COVID-19 including but not limited to: fever, persistent dry cough, chest pain, loss of sense of smell/taste, body aches, labored breathing, etc.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Applicable_PPE_is_being_use_e_g_face_covering</name>
            <dataType>Boolean</dataType>
            <fieldText>Applicable PPE is being used (e.g., face covering)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>I_have_completed_my_wellness_checkin_via_work_com</name>
            <dataType>Boolean</dataType>
            <fieldText>I have completed my wellness checkin via work.com</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_record_id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DateCollected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
