force-app/main/default/flows/SDO_Service_LunaBot_SetContact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_new_Contact_Id_on_MessagingSession</name>
        <label>Set new Contact Id on MessagingSession</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>Get_Messaging_Session.EndUserContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_changes_to_Messaging_Session</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_there_a_case_to_update</name>
        <label>Is there a case to update?</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Is_there_really_a_Messaging_Session</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesTheresACase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_to_reflect_new_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_really_a_Messaging_Session</name>
        <label>Is there really a Messaging Session?</label>
        <locationX>182</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>Get_LanguageLocaleKey_for_matching_user</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesThisIsLive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RoutableId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0Mw</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Messaging_Session</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Given a contact, case, and routableid, set the contact as the contact of record for the session, messaginguser, and case</description>
    <environments>Default</environments>
    <interviewLabel>Luna Bot - Set Contact for Bot Session {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Luna Bot - Set Contact for Bot Session</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_LanguageLocaleKey_for_matching_user</name>
        <label>Get LanguageLocaleKey for matching user</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserLanguage</assignToReference>
            <field>LanguageLocaleKey</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>For some reason, the EnduserContactId field isn&apos;t available on the MessagingSession object until we load the whole thing.</description>
        <name>Get_Messaging_Session</name>
        <label>Get Messaging Session</label>
        <locationX>50</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_MesssagingUser_to_reflect_new_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RoutableId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Save_changes_to_Messaging_Session</name>
        <label>Save changes to Messaging Session</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Get_LanguageLocaleKey_for_matching_user</targetReference>
        </connector>
        <inputReference>Get_Messaging_Session</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_to_reflect_new_Contact</name>
        <label>Update Case to reflect new Contact</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Is_there_really_a_Messaging_Session</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MesssagingUser_to_reflect_new_Contact</name>
        <label>Update MesssagingUser to reflect new Contact</label>
        <locationX>50</locationX>
        <locationY>734</locationY>
        <connector>
            <targetReference>Set_new_Contact_Id_on_MessagingSession</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Messaging_Session.MessagingEndUserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingEndUser</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_there_a_case_to_update</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>RoutableId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
