force-app/main/default/flows/SDO_Service_LunaBot_GetCaseSummaries.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Case_Info_to_Collection</name>
        <label>Add Case Info to Collection</label>
        <locationX>528</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>CaseSummaries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CaseSummary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Iterator</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Iterator</name>
        <label>Assign Iterator</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>var_Iterator</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Cases</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>iterator_validation</name>
        <label>iterator validation</label>
        <locationX>396</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Add_Case_Info_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cases_Greater_than_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Iterator</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <label>Cases Greater than 5?</label>
        </rules>
    </decisions>
    <description>This returns CaseNumber - Subject - Status for all cases for the given contact</description>
    <environments>Default</environments>
    <interviewLabel>Einstein Bots - Get Case Summaries for Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Einstein Bots - Get Case Summaries for Contact</label>
    <loops>
        <name>Loop_over_Cases</name>
        <label>Loop over Cases</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>Get_Cases_for_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>iterator_validation</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Cases_for_Contact</name>
        <label>Get Cases for Contact</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Iterator</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CaseNumber</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cases_for_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CaseSummary</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Loop_over_Cases.CaseNumber} - {!Loop_over_Cases.Subject} - {!Loop_over_Cases.Status}</text>
    </textTemplates>
    <textTemplates>
        <description>Case Query to get the right amount of cases</description>
        <name>var_CaseSOQL</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;SELECT Id,Subject, CaseNumber, Status&lt;/p&gt;&lt;p&gt;FROM Case&lt;/p&gt;&lt;p&gt;WHERE ContactId = &apos;{!Contact.Id}&apos; AND IsClosed = false&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CaseSummaries</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Iterator to limit number of cases</description>
        <name>var_Iterator</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
