force-app/main/default/flows/SDO_OMS_Create_Order_Summary_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Order_Summary_Action</name>
        <label>Create Order Summary Action</label>
        <locationX>532</locationX>
        <locationY>261</locationY>
        <actionName>createOrderSummary</actionName>
        <actionType>createOrderSummary</actionType>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>createOrderSummaryInput</name>
            <value>
                <elementReference>OrderSummaryInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <nameSegment>createOrderSummary</nameSegment>
        <outputParameters>
            <assignToReference>OrderSummaryOutputRepresentation</assignToReference>
            <name>createOrderSummaryOutput</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Order_Id</name>
        <label>Order Id and Order Life Cycle</label>
        <locationX>241</locationX>
        <locationY>262</locationY>
        <assignmentItems>
            <assignToReference>OrderSummaryInputRepresentation.orderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderSummaryInputRepresentation.orderLifeCycleType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Managed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order_Summary_Action</targetReference>
        </connector>
    </assignments>
    <description>OMS Cloned Create Order Summary Flow with customization to append Order Summaries to Person Account</description>
    <interviewLabel>Create Order Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Order Summary</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>OMS Customization to populate Junction Object - Link_Order_Summary to Person Account (Astound customization)</description>
        <name>Create_Related_List_for_Account</name>
        <label>Create Related List for Account</label>
        <locationX>1010</locationX>
        <locationY>262</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Summary__c</field>
            <value>
                <elementReference>OrderSummaryOutputRepresentation.orderSummaryId</elementReference>
            </value>
        </inputAssignments>
        <object>SDO_OMS_Link_Order_Summary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>767</locationX>
        <locationY>262</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Related_List_for_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryOutputRepresentation.orderSummaryId</elementReference>
            </value>
        </filters>
        <object>OrderSummary</object>
        <outputAssignments>
            <assignToReference>vAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Order_Id</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>orderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orderSummaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OrderSummaryInputRepresentation</name>
        <apexClass>ConnectApi__OrderSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderSummaryOutputRepresentation</name>
        <apexClass>ConnectApi__OrderSummaryOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
