force-app/main/default/flows/Subflow_B2B_Checkout_Calculate_Promotions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_Cart_Promotions</name>
        <label>Calculate Cart Promotions</label>
        <locationX>180</locationX>
        <locationY>231</locationY>
        <actionName>calcCartPromotionsAction</actionName>
        <actionType>calcCartPromotionsAction</actionType>
        <connector>
            <targetReference>Update_Checkout_Session_Action</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Show_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>calcCartPromotionsAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Update_Checkout_Session_Action</name>
        <label>Update Checkout Session Action</label>
        <locationX>388</locationX>
        <locationY>231</locationY>
        <actionName>updateCheckoutSessionStateAction</actionName>
        <actionType>updateCheckoutSessionStateAction</actionType>
        <faultConnector>
            <targetReference>Show_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>checkoutSessionId</name>
            <value>
                <elementReference>checkoutSessionId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>expCurrentState</name>
            <value>
                <elementReference>currentState</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextState</name>
            <value>
                <elementReference>nextState</elementReference>
            </value>
        </inputParameters>
        <nameSegment>updateCheckoutSessionStateAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <interviewLabel>Subflow - B2B Checkout Calculate Promotions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow - B2B Checkout Calculate Promotions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>CheckoutFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Calculate_Cart_Promotions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Show_Error</name>
        <label>Show Error</label>
        <locationX>280</locationX>
        <locationY>439</locationY>
        <flowName>sfdc_checkout__Error</flowName>
        <inputAssignments>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>cartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>checkoutSessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nextState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
